<template lang="pug">
.card.cw-panel-container
  .card-header(v-if="title || $slots['header-title'] || $slots['header-actions']" :class="{ 'is-sticky':sticky }")
    .header-title(v-if="title") {{ title }}
    .header-title(v-if="!title && $slots['header-title']")
      slot(name="header-title")
    .header-actions(v-if="$slots['header-actions']")
      slot(name="header-actions")
  .card-body(v-if="$slots.body")
    slot(name="body")
  .card-body(v-if="$slots.default")
    slot
  .card-footer(v-if="$slots.footer")
    slot(name="footer")
</template>

<script>
export default {
  name: 'CwPanel',
  props: {
    title: { type: String, default: '' },
    sticky: { type: Boolean, default: false }
  }
}
</script>

<style lang="scss" >
.cw-panel-container {
  margin-bottom: $card-spacer-y;

  &.card {
    padding: 0 $card-spacer-x;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    .card-header {
      background-color: $white;
      padding: $card-spacer-y 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;

      &:first-child {
        @include border-radius(
          $card-inner-border-radius $card-inner-border-radius 0 0
        );
      }

      + .list-group {
        .list-group-item:first-child {
          border-top: 0;
        }
      }

      .header-title {
        color: $catenon-blue;
        font-size: $font-size-lg;
        font-weight: 600;
        .title {
          color: $catenon-blue;
          font-size: $font-size-lg;
          margin-bottom: 0;
        }
        .subtitle {
          color: $gray-600;
          font-size: $font-size-base;
          margin-bottom: 0;
        }
      }

      .header-actions {
        .btn-link {
          color: $gray-600;
          font-size: $font-size-sm;

          &:hover {
            color: $primary;
          }
        }
      }

      &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 10;
      }
    }

    .card-body {
      padding: $card-spacer-y 0;
      font-size: $font-size-sm;
      p:last-child {
        margin-bottom: 0;
      }
    }

    .card-footer {
      padding: -$card-spacer-y -$card-spacer-x;
      background-color: $card-cap-bg;
      border-top: $card-border-width solid $card-border-color;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    &.card {
      .card-header {
        // flex-direction: column;
        align-items: flex-start;
        .header-actions {
          .orderby-item-container {
            padding-left: 0;
            .list-title {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
</style>
