<template lang="pug">
  .cw-quicksearch-container
    form(@submit.prevent="submit", novalidate, role="search")
      .input-group
        .input-group-prepend(v-if="this.app === 'invoices'")
          button.btn.btn-secondary.dropdown-toggle(
            type="button", 
            @click="toggleDropdown"
          )
            span {{ selectedOption }}
          // Menú desplegable controlado con v-show
          .dropdown-menu(v-show="dropdownOpen")
            a.dropdown-item(href="#", @click.prevent="selectOption('Operations')") Operations
            a.dropdown-item(href="#", @click.prevent="selectOption('Clients')") Clients
        input.form-control(
          type="text",
          :placeholder="placeholder",
          v-model="query",
          required
        )
        span.input-group-btn
          button.btn.btn-secondary(type="submit")
            i.oi.oi-magnifying-glass
        span.clear-icon(v-if="query" @click="reset")
          i.oi.oi-x
</template>

<script>
export default {
  name: 'CwQuicksearch',
  props: {
    placeholder: { type: String, default: 'Buscar...' },
    app: { type: String, required: true }
  },
  data() {
    return { 
      query: '',
      selectedOption: 'Operations',
      dropdownOpen: false
    };
  },
  methods: {
    submit() {
      this.$emit('quicksearch', { 
        query: this.query,
        option: this.selectedOption 
      });
    },
    reset() {
      this.query = '';
      this.$emit('quicksearch', { 
        query: this.query,
        option: this.selectedOption 
      });
    },
    toggleDropdown() {
      this.dropdownOpen = !this.dropdownOpen;
    },
    selectOption(option) {
      this.selectedOption = option;
      this.dropdownOpen = false;
    }
  }
};
</script>

<style lang="scss">
.cw-quicksearch-container {
  position: relative;
  display: inline-block;
  width: 110%;
  
  .input-group {
    display: flex;
    align-items: center;
    
    .input-group-prepend {
      position: relative;
       
      .btn.dropdown-toggle {
        background: #0f3d60;
        border: none;
        border-radius: 20px 0 0 20px;
        min-width: 120px;
        max-width: 120px;
        height: 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 13px 0 13px;
      }

      .btn.dropdown-toggle span {
        margin-right: 5px;
      }
      
      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 100%;
        padding: 0.5rem 0;
        margin: 0.125rem 0 0;
        font-size: 1rem;
        text-align: left;
        background-color: #0f3d60;
        border: 1px solid #0f3d60;
        border-radius: 0.25rem;
        color: white;
      }
      
      .dropdown-menu .dropdown-item {
        color: white;
        padding: 0.25rem 1rem;
      }
      
      .dropdown-menu .dropdown-item:hover {
        background-color: lighten(#0f3d60, 10%);
        color: white;
      }
    }
    
    .form-control {
      min-width: 300px;
      max-width: 300px;
    }
    
    .input-group-btn {
      button.btn.btn-secondary {
        background: #0f3d60;
        border-radius: 0 20px 20px 0;
        border-color: transparent;
      }
    }
    
    .clear-icon {
      margin-left: 5%;
      cursor: pointer;
      color: white;
      font-size: 14px;
      &:hover {
        color: $secondary;
      }
    }
  }
  
  a.reset {
    font-size: 12px;
    cursor: pointer;
    color: $catenon-secondary;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
</style>
