<template lang="pug">
b-container.cw-browser-loader(fluid)
  b-row
    b-col.facets.pr-0(md="3")
      cw-panel
        cw-search-facet-loader(v-for="item in (times/2)" :key="item")
    b-col(sm="12" md="9")
      cw-panel-loader
        cw-item-result-loader(v-for="item in times" :key="item")
</template>
<script>
import cwPanelLoader from './PanelLoader'
import cwItemResultLoader from './ItemResultLoader'
import cwSearchFacetLoader from './SearchFacetLoader'
export default {
  components: { cwPanelLoader, cwItemResultLoader, cwSearchFacetLoader },
  props: {
    times: {
      type: Number,
      default: 10
    }
  }
}
</script>
<style lang="scss">
.cw-browser-loader {
  .col-3 {
    padding-right: 0
  }
  @include media-breakpoint-down(xs) {
    .facets {
      display: none;
    }
  }
}
</style>
