<template lang="pug">
.item-result-loader-container.placeloader
  .circle
  .line-wrapper
    .line.width-full50.height20
    .line.width-full80
    .line.width-full80
</template>
<script>
export default {
}
</script>
<style lang="scss">
.item-result-loader-container {
  margin: 2rem 1rem;
  display: flex;
  .line-wrapper {
    flex-grow: 1;
  }
}
</style>
