<template lang="pug">
cw-panel.panel-loader-container
  .placeloader
    .line.width-full80.height15
  hr
  slot
</template>
<script>
export default {
}
</script>
<style lang="scss">
.panel-loader-container {
}
</style>
