<template lang="pug">
b-container.profile-loader-container.mt-3(fluid)
  cw-panel-loader
    cw-item-result-loader
    .placeloader
      .line.width-full
      .line.width-full
      .line.width-full
  cw-panel-loader.mt-3
    .placeloader.mb-0.mt-0(v-for="item in 3" :key="item")
      .line.width300.inline
      .line.width300.inline
  cw-panel-loader.mt-3
    .placeloader
      .line.width-full
      .line.width-full
      .line.width-full
  cw-panel-loader.mt-3
    .placeloader
      .line.width-full
      .line.width-full
      .line.width-full
  cw-panel-loader.mt-3
    .placeloader
      .line.inline
      .line.inline
      .line.inline
      .line.inline
</template>
<script>
import cwPanelLoader from './PanelLoader'
export default {
  components: { cwPanelLoader }
}
</script>
<style lang="scss">
.profile-loader-container {
  @include media-breakpoint-down(xs) {
    // .hit-left {
    //   display: none;
    // }
  }
}
</style>
