<template lang="pug">
b-container.cw-results-loader(fluid)
  cw-panel-loader
    cw-item-result-loader(v-for="item in times" :key="item")
</template>
<script>
import cwPanelLoader from './PanelLoader'
import cwItemResultLoader from './ItemResultLoader'
export default {
  components: { cwPanelLoader, cwItemResultLoader },
  props: {
    times: {
      type: Number,
      default: 10
    }
  }
}
</script>
<style lang="scss">
.cw-browser-loader {
  .col-3 {
    padding-right: 0;
  }
}
</style>
