<template lang="pug">
.search-facet-loader-container.placeloader
  .line.width-full80.height15
  .line
  .line.width-full
  .line
  .line.width-full

</template>
<script>
export default {
}
</script>
<style lang="scss">
.search-facet-loader-container {
  margin: 1rem 0.5rem 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $gray-200;

  &:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}
</style>
