<template lang="pug">
.cw-public-profile-experience-container
  cw-panel(:title="$t('app.profile.EXPERIENCE')")
    template(#header-actions)
      b-button(v-if="editable" v-show='isViewMode' variant="link" @click="add()")
        i.oi.oi-plus
        |  {{ $t('button.ADD') }}
    template(#body)
      .list-wrapper(v-show='isViewMode')
        experience-list(:mode.sync='mode')
      .form-wrapper(v-show='!isViewMode')
        experience-form(:mode.sync='mode')
</template>

<script>
import ExperienceList from './ExperienceList.vue'
import ExperienceForm from './ExperienceForm.vue'

export default {
  components: {
    ExperienceList,
    ExperienceForm
  },
  props: {
    editable: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      mode: { type: 'none', value: false }
    }
  },
  computed: {
    isViewMode () {
      return this.mode.type === 'none'
    }
  },
  methods: {
    add () {
      this.mode.type = 'add'
      this.mode.value = true
    }
  }
}
</script>
