<template lang="pug">
.cw-public-profile-experience-form
  b-row
    b-col.editable-form
      //- 1 form to edit/add, gets data from parent w/ mode.value if edit // newEmpty if add
      //- Validation
      b-form(@submit.prevent='submit')
        b-row
          cw-input-form(:label="$t('app.profile.experiences.START_DATE')" cols="12" sm="2" name="startDate")
            b-form-select(v-model="currentExperience.start.month" autofocus)
              option(v-for="(month, index) in months" :key="index" :value="index") {{ month }}
          cw-input-form(label="Year" cols="12" sm="2" name="startDate")
            b-form-input(v-model="currentExperience.start.year" placeholder="YYYY" v-mask="'####'")
          cw-input-form(:label="$t('app.profile.experiences.END_DATE')" cols="12" sm="2" name="startDate")
            b-form-select(v-model="currentExperience.end.month")
              option(v-for="(month, index) in months" :key="index" :value="index") {{ month }}
          cw-input-form(label="Year" cols="12" sm="2" name="endDate")
            b-form-input(id="endYear" v-model="currentExperience.end.year" placeholder="YYYY" v-mask="'####'")
          cw-input-form.invalid-date(cols="12" v-if="!isValidDateRange")
            span.invalid-feedback {{ $t('message.INVALID_DATE_AFTER') }}
        b-row
          cw-input-form(:label="$t('app.profile.experiences.POSITION')+'*'" cols="12" sm="4" id="position" :validate="$v.currentExperience.position")
            b-form-input(id="position" v-model="currentExperience.position" :state="isValidField($v.currentExperience.position)" @blur="$v.currentExperience.position.$touch()")
          cw-input-form(:label="$t('app.profile.experiences.COMPANY')+'*'" cols="12" sm="4" id="company" :validate="$v.currentExperience.company")
            b-form-input(id="company" v-model="currentExperience.company" :state="isValidField($v.currentExperience.company)" @blur="$v.currentExperience.company.$touch()")
          cw-input-form(:label="$t('app.profile.experiences.LOCATION')" cols="12" sm="4" name="location")
            b-form-input(id="location" v-model="currentExperience.location" )
        b-row
          cw-input-form(:label="$t('app.profile.experiences.FUNCTIONAL_AREA')" cols="12" sm="4" name="area")
            b-form-select(id="area" v-model="currentExperience.area")
              option(value="" ) {{ $t('common.SELECT_OPTION') }}
              option(v-for="(area, index) in functionalAreas()" :key="index" :value="area._links.self.href") {{ area.name }}
          cw-input-form(:label="$t('app.profile.experiences.SECTOR')" cols="12" sm="4" name="sector")
            b-form-select(id="sector" v-model="currentExperience.sector")
              option(value="" ) {{ $t('common.SELECT_OPTION') }}
              option(v-for="(sector, index) in sectors()" :key="index" :value="sector._links.self.href") {{ sector.name }}
        b-row
          cw-input-form(:label="$t('app.profile.experiences.DESCRIPTION')" cols="12" name="description")
            b-form-textarea(id="description" v-model="currentExperience.description" )
        b-row
          b-col.text-right
            b-button.mr-1(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
            b-button(type='submit' variant="primary") {{ $t('button.SAVE') }}
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import { PublicProfiles } from 'catenonLib/resources'
import { FormMixins } from 'catenonLib/services/mixins'
import { required } from 'vuelidate/lib/validators'

export default {
  mixins: [FormMixins],
  props: {
    mode: {
      type: Object,
      default: function () {
        return {
          type: null,
          value: null
        }
      }
    }
  },
  data () {
    return {
      months: this.$util.months(),
      currentExperience: this.newEmpty(),
      isValidDateRange: true
    }
  },
  validations: {
    currentExperience: {
      position: { required },
      company: { required }
    }
  },
  computed: {
    ...mapGetters({
      professionalExperiences: 'publicProfile/getProfessionalExperiences'
    })
  },
  watch: {
    'mode.value': function (now, before) { },
    'mode.type': function (now, before) {
      if (now === 'edit') {
        this.currentExperience = this.professionalExperiences[this.mode.value - 1]
      } else {
        this.currentExperience = this.newEmpty()
      }
    }
  },
  methods: {
    ...mapGetters({
      functionalAreas: 'publicProfile/getAreas',
      sectors: 'publicProfile/getSectors',
      profile: 'publicProfile/getPublicProfile'
    }),
    ...mapMutations({
      addExperience: 'publicProfile/ADD_PROFESSIONAL_EXPERIENCES',
      updateExperience: 'publicProfile/UPDATE_PROFESSIONAL_EXPERIENCES'
    }),
    newEmpty () {
      return {
        start: { month: 0, year: null },
        end: { month: 0, year: null },
        position: null,
        company: null,
        location: null,
        area: '',
        sector: '',
        description: null
      }
    },
    cancel () {
      this.$v.$reset()
      this.mode.value = false
      this.mode.type = 'none'
    },
    submit (evt) {
      evt.preventDefault()
      if (this.mode.type === 'edit') {
        this.submitEdit()
      } else if (this.mode.type === 'add') {
        this.submitAdd()
      }
    },
    submitEdit () {
      let updexp = this.currentExperience
      updexp.startDate = this.$util.getDateFromYYYYMM(updexp.start)
      updexp.endDate = this.$util.getDateFromYYYYMM(updexp.end)
      this.isValidDateRange = this.$util.isBeforeLessThanAfter(updexp.startDate, updexp.endDate)
      this.$v.$touch()
      if (this.$v.$invalid || !this.isValidDateRange) {
        this.$toast.error(this, 'message.INVALID_FORM', 'publicProfile.experiences.EDIT_EXPERIENCE')
      } else {
        this.$loading(true)
        PublicProfiles.updateExperience(updexp.id, updexp)
          .then(response => {
            this.updateExperience({ index: this.mode.value - 1, experience: response.data })
            this.$toast.success(this, 'publicProfile.message.EXPERIENCE_UPDATED_SUCCESS', 'publicProfile.experiences.EDIT_EXPERIENCE')
            // - $set es para que Vue pueda reconocer como reactivo el cambio sobre el array
            // this.$set(this.professionalExperiences, this.mode.value - 1, updexp)
            this.cancel()
            this.$v.$reset()
            this.$loading(false)
          })
          .catch(error => {
            this.$v.$reset()
            this.$toast.error(this, 'publicProfile.message.EXPERIENCE_UPDATED_ERROR', 'publicProfile.experiences.EDIT_EXPERIENCE')
            console.error(error)
            this.$loading(false)
          })
      }
    },
    submitAdd () {
      let updexp = this.currentExperience
      updexp.startDate = this.$util.getDateFromYYYYMM(updexp.start)
      updexp.endDate = this.$util.getDateFromYYYYMM(updexp.end)
      this.isValidDateRange = this.$util.isBeforeLessThanAfter(updexp.startDate, updexp.endDate)
      this.$v.$touch()
      if (this.$v.$invalid || !this.isValidDateRange) {
        this.$toast.error(this, 'message.INVALID_FORM', 'publicProfile.experiences.CREATE_EXPERIENCE')
      } else {
        this.$loading(true)
        PublicProfiles.addExperience(updexp, this.profile().id)
          .then(response => {
            // this.reloadProfile()
            // console.log(response.data)
            this.addExperience(response.data)
            this.$toast.success(this, 'publicProfile.message.EXPERIENCE_CREATED_SUCCESS', 'publicProfile.experiences.CREATE_EXPERIENCE')
            this.$v.$reset()
            this.cancel()
            this.$loading(false)
          })
      }
    },
    reloadProfile () {
      PublicProfiles.loadProfessionalExperiences(this.profile().id)
        .then(results => {
          this.$store.dispatch('publicProfile/load', { professionalExperiences: results.data })
          this.cancel()
        })
        .catch(error => {
          console.error('professional experiences not found', error)
        })
    }
  }
}
</script>
<style lang="scss">
.cw-public-profile-experience-form {
  .invalid-date {
    margin-top: -1rem
  }
}
</style>
