<template lang="pug">
.cw-public-profile-experience-list
  p(v-if="!professionalExperiences.length")
    em.text-muted {{$t('publicProfile.experiences.NO_EXPERIENCES')}}
  b-modal(v-model='showModal' @ok='confirmDelete()' centered :title='$t("message.CONFIRM_DELETE_TITLE")')
    span {{$t('message.CONFIRM_DELETE_TITLE')+" "+currentExperience.position+"?"}}
  cw-hit-item-container(v-for="(experience, index) in professionalExperiences" :key="index")
    template(#body)
      p.hit-text
        span.hit-title {{ experience.position }}
        span(v-show="experience.position && experience.company") &nbsp;at&nbsp;
        span.hit-subtitle {{ experience.company }}
      p.hit-text
        span {{ experience.startDate | date }}
        span(v-show="experience.startDate && experience.endDate") &nbsp;-&nbsp;
        span {{ experience.endDate | date }}
        span(v-show="(experience.startDate || experience.endDate) && experience.location") &nbsp;|&nbsp;
        span {{ experience.location }}
      p.hit-text
        span(v-if='experience.area') {{ experience.areaName }}
        span(v-show="experience.area && experience.sector") &nbsp;|&nbsp;
        span(v-if='experience.sector')  {{ experience.sectorName }}
      p.hit-text(v-if="experience.isCandidateApp")
        span(v-if="experience.grossFixedSalary") {{ experience.grossFixedSalary}}
        span(v-if="experience.grossVariableSalary") {{ ' | ' + experience.grossVariableSalary }}
        span(v-if="experience.salaryCurrencyCode") {{ ' | ' + experience.salaryCurrencyCode }}
    template(#more v-if='experience.description')
      p.hit-text
        span {{ experience.description }}
    template(#actions)
      a(@click='edit(index + 1)')
        i.oi.oi-pencil
      a(@click='remove(index)')
        i.oi.oi-trash
</template>

<script>
import { PublicProfiles } from '../../../resources'
import { mapGetters } from 'vuex'
export default {
  props: {
    mode: {
      type: Object,
      default: function () {
        return {
          type: null,
          value: null
        }
      }
    }
  },
  data () {
    return {
      showModal: false,
      currentExperience: {}
    }
  },
  computed: {
    ...mapGetters({
      professionalExperiences: 'publicProfile/getProfessionalExperiences'
    })
  },
  methods: {
    edit (index) {
      // TODO: ¿por que +1?
      this.mode.type = 'edit'
      this.mode.value = index
    },
    remove (index) {
      this.showModal = true
      this.currentExperience = this.professionalExperiences[index]
      this.mode.value = index
    },
    confirmDelete (experience, index) {
      PublicProfiles.removeExperience(this.currentExperience.id).then(response => {
        this.professionalExperiences.splice(this.mode.value, 1)
        this.$toast.success(this, 'Experience removed', 'app.profile.EXPERIENCE')
      })
    }
  }
}
</script>
<style lang="scss">
</style>
