<template lang="pug">
    .cw-public-profile-summary-container
      cw-panel(:title="$t('app.profile.PROFILE')")
        template(#header-actions)
          b-button(v-if="editable" v-show="!isEditMode" variant="link" @click="edit")
            i.oi.oi-pencil
            |  {{ $t('button.EDIT') }}
          b-button(v-show="isEditMode" variant="link" @click="cancel") {{ $t('button.CANCEL') }}
        template(#body)
          .body-wrapper(v-show="!isEditMode")
            b-row.align-items-center
              b-col.text-center.pr-0(cols="12" md="4" lg="3" xl="3")
                b-img.avatar-image-lg(:src="photoUrl")
              b-col(cols="12" md="8" lg="9" xl="9")
                p.card-title {{ `${publicProfile.name}  ${publicProfile.surname}` }}
                p.card-subtitle(v-if='publicProfile.location') {{ `${publicProfile.location.city}, ${publicProfile.location.country.name}` }}
                slot(name="extra-info")
            b-row.mt-3
              cw-input-label(:label="$t('publicProfile.summary.ABOUT')" :text="publicProfile.summary" :empty-text="$t('publicProfile.summary.ABOUT_PLACEHOLDER')" cols="12")

          .body-wrapper.form-wrapper(v-if="isEditMode")
            b-form(@submit="submit")
              b-row.align-items-center
                b-col.text-center.pr-0(md="4" lg="4" xl="3")
                  cw-avatar(:src="photoUrl" size="lg" @onCropper="onCropper")
                b-col(md="8" lg="8" xl="9")
                  b-row
                    //- b-col(md="6")
                    //-   b-form-group(:label="$t('publicProfile.summary.NAME') + '*'" label-for="name"
                    //-     :invalid-feedback="veeErrors.first('name')" :state="!veeErrors.has('name')")
                    //-     b-form-input(id="name" name="name" v-model="newPublicProfile.name" v-validate="'required'" :state="!veeErrors.has('name')")
                    cw-input-form(:label="$t('publicProfile.summary.NAME')+'*'" cols="12" sm="6" id='name' :validate="$v.newPublicProfile.name")
                      b-form-input(id="name" type="text" v-model="newPublicProfile.name"
                           :state="isValidField($v.newPublicProfile.name)" @blur="$v.newPublicProfile.name.$touch()")
                    b-col(md="6")
                      b-form-group(:label="$t('publicProfile.summary.SURNAME')" label-for="surname")
                        b-form-input(id="surname" v-model="newPublicProfile.surname")
                    b-col(md="6")
                      b-form-group(:label="$t('publicProfile.summary.CITY')" label-for="city")
                        b-form-input(id="city"  v-model="newPublicProfile.location.city")
                    b-col(md="6")
                      b-form-group(:label="$t('publicProfile.summary.STATE_REGION')" label-for="state")
                        b-form-input(id="state" v-model="newPublicProfile.location.stateRegion")
                    b-col(md="6")
                      b-form-group(id="country" :label="$t('publicProfile.summary.COUNTRY')" label-for="country")
                        b-form-select(v-model="newPublicProfile.location.country")
                          option(v-for="country in countries" :value="country.link") {{ country.name }}
                        //- b-form-select(v-model="publicProfile.location.country")
                        //-   option(v-for="(country, index) in countries" :key="index" :value="country.link") {{ country.name }}
              b-row
                b-col
                  b-form-group(:label="$t('publicProfile.summary.SUMMARY')" label-for="summary")
                    b-form-textarea(v-model="newPublicProfile.summary" rows="3" :placeholder="$t('publicProfile.summary.ABOUT_PLACEHOLDER')")
              b-row
                b-col.text-right
                    b-button.mr-1(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
                    b-button(type="submit" variant="primary") {{ $t('button.SAVE') }}
</template>

<script>
import { mapGetters } from 'vuex'
import { find, pick } from 'lodash'
import { PublicProfiles } from '../../../resources'
import { FormMixins } from 'catenonLib/services/mixins'
import { required } from 'vuelidate/lib/validators'

export default {
  mixins: [FormMixins],
  props: {
    editable: {
      type: Boolean,
      default: true
    }
  },
  validations: {
    newPublicProfile: {
      name: { required }
    }
  },
  data () {
    return {
      newPublicProfile: {},
      currentApplition: {
        isUserApp: true
      },
      isEditMode: false,
      isEditPhoto: false,
      location: {},
      selectedPhotoFile: null
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile',
      photoUrl: 'publicProfile/getProfilePhotoUrl'
    }),
    countries () {
      return JSON.parse(localStorage.getItem('countries'))
    },
    selectedCountry () {
      return find(this.countries, { 'id': this.publicProfile.location.country.id })
    }
  },
  methods: {
    edit (evt) {
      evt.preventDefault()
      const profile = ['name', 'surname', 'email', 'phoneExtension', 'phoneNumber', 'summary', 'skills', 'socialMediaProfiles']
      const location = ['city', 'stateRegion']
      // preparamos el objeto con la misma estructura que requiere el back
      this.newPublicProfile = pick(this.publicProfile, profile)
      this.newPublicProfile.location = pick(this.publicProfile.location, location)
      this.newPublicProfile.location.country = this.selectedCountry.link
      // this.SelectedPhotoFile = this.publicProfile.photoUrl
      this.isEditMode = true
      // console.log(this.$refs)
      // if (!this.cropper) {
      // }
    },
    cancel (evt) {
      evt.preventDefault()
      this.$v.$reset()
      this.isEditMode = false
    },
    submit (evt) {
      evt.preventDefault()
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$toast.error(this, 'message.INVALID_FORM', 'app.profile.EDUCATION')
      } else {
        this.$loading(true)
        PublicProfiles.update(this.publicProfile.id, this.newPublicProfile)
          .then(results => {
            this.$toast.success(this, 'Public profile has been updated successfully')
            this.$store.dispatch('publicProfile/load', { publicProfile: results.data })
            this.isEditMode = false
            this.$v.$reset()
            this.$loading(false)
          })
          .catch(error => {
            console.dir(error)
            this.$loading(false)
          })
      }
    },
    selectCountry () {
      this.selectedCountry = find(this.countries, { 'id': this.newPublicProfile.location.country })
    },
    onCropper (formData) {
      PublicProfiles.updateAvatar(this.publicProfile.id, formData)
        .then(results => {
          this.$toast.success(this, 'avatar.UPDATED')
          // ctrl.profilePhotoUrl = dataUrl;
          this.$store.commit('publicProfile/SET_PROFILE_PHOTO_URL', results.data.downloadUri)
          this.$loading(false)
        })
        .catch(error => {
          this.$toast.error(this, error.message)
          this.$loading(false)
        })
    }
  }
}

</script>

<style lang="scss">
.cw-public-profile-summary-container {
  .card-title {
    text-transform: uppercase;
    color: $primary;
    font-size: $font-size-lg;
    font-weight: 700;
  }

  .card-subtitle {
    text-transform: uppercase;
    font-size: $font-size-sm;
    margin-bottom: 1.5rem !important;
  }

  .avatar {
    width: 150px;
    height: 150px;
    border: solid 10px $gray-500;
    border-radius: 50%;
    margin: 1rem;
  }
}
</style>
