<template lang="pug">
.cw-public-profile-education-list
  p(v-if="!profileEducation.length")
    em.text-muted {{$t('app.profile.educations.NO_EDUCATIONS')}}
  b-modal(v-model='showModal' @ok='confirmDelete()' centered :title='$t("message.CONFIRM_DELETE_TITLE")')
    span {{$t('message.CONFIRM_DELETE_TITLE')+" "+currentEducation.school+"?"}}
  cw-hit-item-container(v-for="(education, index) in profileEducation" :key="index")
    template(#body)
      p.hit-text
        span.hit-title {{ education.school }}
        span(v-if="education.degree") &nbsp;-&nbsp;
        span.hit-subtitle
          span {{ education.degree }}
          span(v-if="education.grade") &nbsp;-&nbsp;
          span {{ education.grade }}
      p.hit-text
        span {{ education.startDate | date }}
        span(v-show="education.startDate && education.endDate") &nbsp;-&nbsp;
        span {{ education.endDate | date }}
    template(#more v-if='education.description')
      p.hit-text
        span {{ education.description }}
    template(#actions)
      a(@click='edit(index + 1)')
        i.oi.oi-pencil
      a(@click='remove(index)')
        i.oi.oi-trash
</template>

<script>
import { PublicProfiles } from '../../../resources'
import { mapGetters } from 'vuex'
export default {
  props: {
    mode: {
      type: Object,
      default: function () {
        return {
          type: null,
          value: null
        }
      }
    }

  },
  data () {
    return {
      showModal: false,
      currentEducation: {}
    }
  },
  computed: {
    ...mapGetters({
      profileEducation: 'publicProfile/getProfileEducation'
    })
  },
  methods: {
    edit (index) {
      this.mode.type = 'edit'
      this.mode.value = index
    },
    remove (index) {
      this.showModal = true
      this.currentEducation = this.profileEducation[index]
      this.mode.value = index
    },
    confirmDelete () {
      PublicProfiles.removeEducation(this.currentEducation.id).then(response => {
        this.profileEducation.splice(this.mode.value, 1)
        this.$toast.success(this, 'app.profile.educations.DELETED_SUCCESS', 'app.profile.EDUCATION')
        this.mode.value = null
      })
    }
  }
}
</script>
