<template lang="pug">
.cw-public-profile-education-form
  b-row
    b-col.editable-form
      b-form(@submit='submit')
        b-row
          cw-input-form(:label="$t('app.profile.educations.SCHOOL')+'*'" cols="12" sm="6" id='school' :validate="$v.currentEducation.school")
            b-form-input(id="school" type="text" v-model.lazy="currentEducation.school"
                           :state="isValidField($v.currentEducation.school)" @blur="$v.currentEducation.school.$touch()")
          cw-input-form(:label="$t('app.profile.educations.DEGREE')" cols="12" sm="6" name="degree")
            b-form-input(id="degree" v-model="currentEducation.degree" )
        b-row
          cw-input-form(:label="$t('app.profile.educations.START_DATE')" cols="12" sm="2" name="startDate")
            b-form-select(v-model="currentEducation.start.month")
              option(v-for="(month, index) in months" :key="index" :value="index") {{ month }}
          cw-input-form(:label="$t('app.profile.educations.YEAR')" cols="12" sm="2" name="startDate")
            b-form-input(v-model="currentEducation.start.year" placeholder='YYYY' v-mask="'####'")
          cw-input-form(:label="$t('app.profile.educations.END_DATE')" cols="12" sm="2" name="startDate")
            b-form-select(v-model="currentEducation.end.month")
              option(v-for="(month, index) in months" :key="index" :value="index") {{ month }}
          cw-input-form(:label="$t('app.profile.educations.YEAR')" cols="12" sm="2" name="startDate")
            b-form-input(v-model="currentEducation.end.year" placeholder='YYYY' v-mask="'####'")
          cw-input-form.invalid-date(cols="12" v-if="!isValidDateRange")
            span.invalid-feedback {{ $t('message.INVALID_DATE_AFTER') }}
        b-row
          cw-input-form(:label="$t('app.profile.educations.FIELD_OF_STUDY')" cols="12" sm="6" name="fieldOfStudy")
            b-form-input(id="fieldOfStudy" v-model="currentEducation.fieldOfStudy" )
          cw-input-form(:label="$t('app.profile.educations.GRADE')" cols="12" sm="6" name="grade")
            b-form-input(id="grade" v-model="currentEducation.grade" )
        b-row
          cw-input-form(:label="$t('app.profile.educations.DESCRIPTION')" cols="12" name="description")
            b-form-textarea(id="description" v-model="currentEducation.description" )
        b-row
          b-col.text-right
            b-button.mr-1(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
            b-button(type='submit' variant="primary") {{ $t('button.SAVE') }}
</template>

<script>
import { mapGetters } from 'vuex'
import { PublicProfiles } from '../../../resources'
import { FormMixins } from 'catenonLib/services/mixins'
import { required } from 'vuelidate/lib/validators'

export default {
  mixins: [FormMixins],
  props: {
    mode: {
      type: Object,
      default: function () {
        return {
          type: null,
          value: null
        }
      }
    }
  },
  validations: {
    currentEducation: {
      school: { required }
    }
  },
  data () {
    return {
      months: this.$util.months(),
      currentEducation: this.newEmpty(),
      isValidDateRange: true
    }
  },
  computed: {
    ...mapGetters({
      educations: 'publicProfile/getProfileEducation'
    })
  },
  watch: {
    'mode.type': function (now, before) {
      if (now === 'edit') {
        this.currentEducation = this.educations[this.mode.value - 1]
      } else {
        this.currentEducation = this.newEmpty()
      }
    }
  },
  methods: {
    ...mapGetters({
      profile: 'publicProfile/getPublicProfile'
    }),
    newEmpty () {
      return {
        start: { month: 0, year: null },
        end: { month: 0, year: null },
        fieldOfStudy: null,
        grade: null,
        description: null,
        school: '',
        degree: null
      }
    },
    cancel () {
      this.$v.$reset()
      this.mode.value = false
      this.mode.type = 'none'
    },
    submit (evt) {
      evt.preventDefault()
      if (this.mode.type === 'edit') {
        this.submitEdit()
      } else if (this.mode.type === 'add') {
        this.submitAdd()
      }
    },
    submitEdit () {
      let updedu = this.currentEducation
      updedu.startDate = this.$util.getDateFromYYYYMM(updedu.start)
      updedu.endDate = this.$util.getDateFromYYYYMM(updedu.end)
      this.isValidDateRange = this.$util.isBeforeLessThanAfter(updedu.startDate, updedu.endDate)
      // this.$validator.validateAll().then((results) => {
      //   if (results === true) {
      this.$v.$touch()
      if (this.$v.$invalid || !this.isValidDateRange) {
        this.$toast.error(this, 'message.INVALID_FORM', 'app.profile.EDUCATION')
      } else {
        this.$loading(true)
        PublicProfiles.updateEducation(updedu.id, updedu)
          .then(response => {
            this.$toast.success(this, 'app.profile.EDUCATION', 'Education edit')
            this.$set(this.educations, this.mode.value - 1, updedu)
            this.cancel()
            this.$v.$reset()
            this.$loading(false)
          })
      }
      //   } else {
      //     this.$toast.error(this, this.veeErrors.all(), 'app.profile.EDUCATION')
      //   }
      // }).catch((err) => {
      //   console.error('Error on validation', err)
      // })
    },
    submitAdd () {
      let updedu = this.currentEducation
      updedu.startDate = this.$util.getDateFromYYYYMM(updedu.start)
      updedu.endDate = this.$util.getDateFromYYYYMM(updedu.end)
      this.isValidDateRange = this.$util.isBeforeLessThanAfter(updedu.startDate, updedu.endDate)
      this.$v.$touch()
      if (this.$v.$invalid || !this.isValidDateRange) {
        this.$toast.error(this, 'message.INVALID_FORM', 'app.profile.EXPERIENCE')
      } else {
        this.$loading(true)
        PublicProfiles.addEducation(updedu, this.profile().id)
          .then(response => {
            this.$toast.success(this, 'app.profile.EDUCATION', 'Education add')
            this.reloadProfile()
            this.$v.$reset()
            this.$loading(false)
          })
      }
      //   } else {
      //     this.$toast.error(this, this.veeErrors.all(), 'app.profile.EDUCATION')
      //   }
      // }).catch((err) => {
      //   console.error('Error on validation', err)
      // })
    },
    reloadProfile () {
      PublicProfiles.loadProfileEducation(this.profile().id)
        .then(results => {
          this.$store.dispatch('publicProfile/load', { profileEducation: results.data })
          this.cancel()
        })
        .catch(error => {
          console.error('professional experiences not found', error)
        })
    }
  }
}
</script>
<style lang="scss">
.cw-public-profile-education-form {
  .invalid-date {
    margin-top: -1rem;
  }
}
</style>
