<template lang="pug">
.cw-public-profile-language-form
  b-row
    b-col.editable-form
      b-form(@submit="submit")
        b-row
          cw-input-form(:label="$t('publicProfile.languages.LANGUAGE')+'*'" cols="12" sm="3" id='school' :validate="$v.currentLanguage.language")
            b-form-select(name="language" v-model="currentLanguage.language"
              :state="isValidField($v.currentLanguage.language)" @blur="$v.currentLanguage.language.$touch()")
              option(value="") {{ $t('common.SELECT_OPTION') }}
              option(v-for="language in languages" :value="language.link") {{ language.name }}

          cw-input-form(:label="$t('publicProfile.languages.LEVEL')+'*'" cols="12" sm="3" id='school' :validate="$v.currentLanguage.level")
            b-form-select(name="level" v-model="currentLanguage.level"
              :state="isValidField($v.currentLanguage.level)" @blur="$v.currentLanguage.level.$touch()")
              option(value="") {{ $t('common.SELECT_OPTION') }}
              option(v-for="level in levels" :value="level.link") {{ level.name }}

          b-col(cols="12" md="6")
            b-form-group(:label="$t('publicProfile.languages.DESCRIPTION')" label-for="description")
              b-form-input(id="description" v-model="currentLanguage.description")
        b-row
          b-col.text-right
              b-button.mr-1(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
              b-button(type="submit" variant="primary") {{ $t('button.SAVE') }}

</template>

<script>
import { PublicProfiles } from '../../../resources'
import { mapGetters } from 'vuex'
import { FormMixins } from 'catenonLib/services/mixins'
import { required } from 'vuelidate/lib/validators'

export default {
  mixins: [FormMixins],
  props: {
    mode: {
      type: Object,
      default: function () {
        return {
          type: null,
          value: null
        }
      }
    }
  },
  validations: {
    currentLanguage: {
      language: { required },
      level: { required }
    }
  },
  data () {
    return {
      currentLanguage: this.newEmpty()
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile',
      languageSkills: 'publicProfile/getLanguageSkills'
    }),
    languages () {
      return JSON.parse(localStorage.getItem('languages'))
    },
    levels () {
      return JSON.parse(localStorage.getItem('languageSkillLevels'))
    }
  },
  watch: {
    'mode.type': function (now, before) {
      if (now === 'edit') {
        this.currentLanguage = this.languageSkills[this.mode.value]
      }
    }
  },
  methods: {
    newEmpty () {
      return {
        language: '',
        level: '',
        description: ''
      }
    },
    submit (evt) {
      evt.preventDefault()
      if (this.mode.type === 'add') {
        this.submitAdd()
      } else if (this.mode.type === 'edit') {
        this.submitEdit()
      }
    },
    submitAdd () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$toast.error(this, 'message.INVALID_FORM', 'app.profile.EDUCATION')
      } else {
        this.$loading(true)
        PublicProfiles.createLanguageSkills(this.publicProfile.id, this.currentLanguage)
          .then(results => {
            const lang = results.data
            const language = this.$util.findObj(this.languages, { link: lang._links.language.href })
            const level = this.$util.findObj(this.levels, { link: lang._links.level.href })
            this.languageSkills.push({
              id: lang.id,
              language: lang._links.language.href,
              level: lang._links.level.href,
              description: lang.description,
              _name: language ? language.name : '',
              _level: level ? level.name : ''
            })
            this.$toast.success(this, 'publicProfile.languages.CREATED_SUCCESS', 'publicProfile.languages.TITLE')
            this.cancel()
            this.$loading(false)
          })
      }
    },
    submitEdit () {
      this.$v.$touch()
      if (this.$v.$invalid) {
        this.$toast.error(this, 'message.INVALID_FORM', 'app.profile.EDUCATION')
      } else {
        this.$loading(true)
        PublicProfiles.updateLanguageSkills(this.currentLanguage.id, this.currentLanguage)
          .then(results => {
            const currentLanguage = Object.assign({}, this.currentLanguage)
            const lang = results.data
            const language = this.$util.findObj(this.languages, { link: lang._links.language.href })
            const level = this.$util.findObj(this.levels, { link: lang._links.level.href })
            currentLanguage._name = language.name
            currentLanguage._level = level.name
            this.$set(this.languageSkills, this.mode.value, currentLanguage)
            this.$toast.success(this, 'publicProfile.languages.UPDATED_SUCCESS', 'publicProfile.languages.TITLE')
            this.cancel()
            this.$loading(false)
          })
      }
    },
    cancel () {
      this.$v.$reset()
      this.mode.type = 'view'
      this.mode.value = null
      this.currentLanguage = this.newEmpty
    }
  }
}
</script>
