<template lang="pug">
  .cw-public-profile-languages-container
    cw-panel(:title="$t('app.profile.LANGUAGES')")
      template(#header-actions)
        b-button(v-if="editable" v-show="isViewMode" variant="link" @click="add")
          i.oi.oi-plus
          |  {{ $t('button.ADD') }}
      template(#body)
        .view-wrapper(v-show="isViewMode")
          languages-list(:mode.sync="mode")
        .form-wrapper(v-show="!isViewMode")
          languages-form(:mode.sync="mode" )
</template>

<script>
// import { PublicProfiles } from '../../../resources'
import LanguagesList from './LanguagesList.vue'
import LanguagesForm from './LanguagesForm.vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    LanguagesList,
    LanguagesForm
  },
  props: {
    editable: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      mode: { type: 'view', value: null }
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile',
      languageSkills: 'publicProfile/getLanguageSkills'
    }),
    isViewMode () {
      return (this.mode.type === 'delete' || this.mode.type === 'view')
    }
  },
  mounted () {
    this.loadData()
  },
  methods: {
    add () {
      this.mode.type = 'add'
      this.mode.value = true
    },
    loadData () {
      // TODO: debe cargar despues que public profile tenga datos
      // if (this.publicProfile.id) {
      //   PublicProfiles.loadLanguageSkills(this.publicProfile.id)
      //     .then(results => {
      //       if (results.data) {
      //         this.$store.dispatch('publicProfile/loadLanguageSkills', { languageSkills: results.data })
      //       }
      //     })
      // }
    }
  }
}
</script>

<style lang="scss">
.cw-public-profile-languages-container {
}
</style>
