<template lang="pug">
  b-row
    b-col
      p(v-if="!languageSkills.length")
        em.text-muted {{ $t('publicProfile.languages.NO_LANGUAGES') }}
      b-modal(v-model='showModal' @ok='confirmDelete' centered
        :title="modalTitle")
        | {{ $t('message.CONFIRM_DELETE_TITLE') }}&nbsp;
        em.font-weight-bold {{ currentLanguage._name }}
        | ?
      cw-hit-item-container(v-for="(language, index) in languageSkills" :key="index")
        template(#body)
          p
            span.font-weight-bold {{ language._name }},
            |  {{ language._level }},
            |  {{ language.description }}
        template(#actions)
          a(@click='edit(index)')
            i.oi.oi-pencil
          a(@click="remove(index)")
            i.oi.oi-trash

</template>

<script>
import { PublicProfiles } from '../../../resources'
import { mapGetters } from 'vuex'
export default {
  props: {
    mode: {
      type: Object,
      default: function () {
        return {
          type: null,
          value: null
        }
      }
    }
  },
  data () {
    return {
      showModal: false,
      currentLanguage: {}
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile',
      languageSkills: 'publicProfile/getLanguageSkills'
    }),
    modalTitle () {
      return this.$t('message.CONFIRM_DELETE_TITLE') + ' ' + this.$t('publicProfile.languages.TITLE')
    }
  },
  methods: {
    edit (index) {
      this.mode.type = 'edit'
      this.mode.value = index
    },
    remove (index) {
      this.mode.type = 'delete'
      this.mode.value = index
      this.currentLanguage = this.languageSkills[index]
      this.showModal = true
    },
    confirmDelete (index) {
      PublicProfiles.deleteLanguageSkills(this.currentLanguage.id)
        .then(_ => {
          this.$toast.success(this, 'publicProfile.languages.DELETED_SUCCESS', 'publicProfile.languages.TITLE')
          if (this.languageSkills.length) {
            this.languageSkills.splice(this.mode.value, 1)
          }
          this.mode.type = 'view'
          this.mode.value = null
        })
    }
  }
}
</script>
