<template lang="pug">
.cw-basic-item-container
  .basic-left(v-if="$slots['left']")
    slot(name="left")
  .basic-body(v-if="$slots['body']")
    slot(name="body")
  .basic-right(v-if="$slots['right']")
    slot(name="right")
  .basic-body(v-if="$slots.default")
    slot
</template>

<script>
export default {
  name: 'CwBasicItemContainer'
}
</script>

<style lang="scss">
.cw-basic-item-container {
  display: flex;
  // margin: 0 -0.5rem;
  .basic-left {
    align-self: center;
    margin: 0 0.5rem 0 0;
    cursor: pointer;
  }
  .basic-body {
    align-self: center;
    flex: 1;
    margin: 0;
    overflow-y: hidden;
    .title {
      // font-size: $font-size-base;
      font-weight: 600;
      margin-bottom: 0;
      // width: 100%;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
    .subtitle {
      // color: $font-size-base;
      font-weight: 500;
      margin-bottom: 0;
    }
    .extra {
      color: $gray-400;
      margin-bottom: 0;
    }
  }
  .basic-right {
    align-self: center;
    margin: 0 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    .basic-left {
      margin-left: 0;
    }
    .basic-body {
      margin-right: 0;
    }
    .basic-right {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    // .basic-left {
    //   display: none;
    // }
    // .basic-body {
    //   margin-left: 0;
    // }
    // .basic-right {
    //   display: none;
    // }
  }
}
</style>
