<template lang="pug">
b-row.cw-hit-item-container
  b-col
    .hit-actions(v-if="$slots.actions")
      slot(name='actions')
    .hit-body(v-if="$slots.body")
      slot(name='body')
    .hit-body(v-if="$slots.default")
      slot
    .hit-more(v-if="$slots.more")
      .hit-more-button
        a(v-show="!more" @click='toggleMore()')
          i.oi.oi-chevron-bottom
          |  {{ $t('button.SEE_MORE') }}
        a(v-show="more" @click='toggleMore()')
          i.oi.oi-chevron-top
          |  {{ $t('button.SEE_LESS') }}
      .hit-more-content(v-show="more")
        slot(name='more')

</template>

<script>
export default {
  name: 'CwHitItemContainer',
  data () {
    return {
      more: false
    }
  },
  methods: {
    toggleMore () {
      this.more = !this.more
    }
  }
}
</script>

<style lang="scss">
.cw-hit-item-container {
  &:hover {
    background-color: $catenon-body-bg;
    cursor: pointer;
    .hit-actions {
      display: inline-block;
    }
  }

  .hit-actions {
    display: none;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    a {
      margin-left: 0.75rem;
      color: $gray-500;
      &:hover {
        color: $gray-900;
      }
    }
  }

  .hit-body {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .hit-title {
    color: $catenon-blue;
    font-size: 16px;
  }
  .hit-subtitle {
    color: $gray;
    font-size: 16px;
  }
  .hit-text {
    margin: 0px;
    font-size: 13px;
  }

  .hit-more {
    a {
      color: $catenon-lightblue;
      &:hover {
        color: $catenon-default-font;
      }
    }

    .hit-more-content {
      margin-bottom: 0.5rem;
    }
  }

  @include media-breakpoint-down(xs) {
    // .hit-left {
    //   display: none;
    // }
  }
}
</style>
