<template lang="pug">
  b-badge.cw-tag-container(:variant="variant")
    span.text {{ text }}
    b-button(v-if="isRemovable" variant="link" size="sm" @click="handleRemove")
      i.oi.oi-x

</template>

<script>
export default {
  props: {
    id: {
      type: Number,
      default: null
    },
    text: {
      type: String,
      default: ''
    },
    variant: {
      type: String,
      default: 'default'
    },
    size: {
      type: String,
      default: ''
    },
    removable: {
      type: String,
      default: null
    }
  },
  computed: {
    isRemovable () {
      return (this.removable === '')
    }
  },
  methods: {
    handleRemove (evt) {
      this.$emit('remove', this.id)
      evt.preventDefault()
    }
  }
}
</script>

<style lang="scss">
.cw-tag-container {
  font-size: 95% !important;
  padding: 0.35rem 0.5rem !important;
  margin-right: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center; // Opcional si quieres centrar horizontalmente también
  gap: 0.3rem;
  //margin-bottom: 0.5rem;
  &.badge-default {
    color: $white;
    background-color: $gray-600;
  }
  .text {
    margin: 0;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0;
    margin-right: -0.25rem;
    margin-left: 0.5rem;
    font-size: $font-size-xxs;
    border: none;
    height: 14px;
    &:hover {
      color: $gray-400;
    }
    .oi {
      margin: 0;
    }
  }
}
</style>
