<template lang="pug">
  .field-number-container.form-inline
    .labels
      .list-inline
        .input-group-btn
          b-dropdown(id="dropdown-menu" variant="link" right)
            template(#button-content)
              button.btn.btn-sm(type="button")
                i.gi.gi-filter
            b-dropdown-item(
              v-for="criteria in criterias"
              :key="criteria.value"
              @click="onChangeCriteria(criteria)"
            )
              span {{ criteria.label }}
    
      span.text-italic {{ criteria.label }}:&nbsp;
    form.form-inline(@submit.prevent="onSubmit")
      input.form-control.input-sm(
        type="number"
        v-model.number="queryStart"
        :placeholder="startPlaceholder"
        @change="onChangeValue('queryStart')"
        :class="{ 'is-invalid': formError }"
        :style="{ width: criteria.value === 'BETWEEN' ? '40%' : '100%' }"
      )
      span(v-if="criteria.value === 'BETWEEN'") &nbsp;—&nbsp;
      input.form-control.input-sm(
        v-if="criteria.value === 'BETWEEN'"
        type="number"
        v-model.number="queryEnd"
        :placeholder="$t('search.MAX_VALUE')"
        @change="onChangeValue('queryEnd')"
        :class="{ 'is-invalid': formError }"
        :style="{ width: '40%' }"
      )
    .text-danger.mt-1(v-if="formError") {{ formError }}
  </template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      criterias: [
        { value: 'IS', label: 'Equal to' },
        { value: 'GT', label: 'Greater than' },
        { value: 'GTE', label: 'Greater than or equal to' },
        { value: 'LT', label: 'Less than' },
        { value: 'LTE', label: 'Less than or equal to' },
        { value: 'BETWEEN', label: 'Between' }
      ],
      criteria: { value: 'IS', label: 'Equal to' },
      queryStart: null,
      queryEnd: null,
      isDropdownOpen: false,
      startPlaceholder: this.$t('search.TYPE_HERE'),
      formError: null
    };
  },
  mounted() {
    this.criteria = this.criterias[0];
  },
  watch: {
    selected: {
      immediate: true,
      handler(newVal) {
        if (newVal && this.$root[`advancedSelectedFilters_${this.$parent.type}`]?.[this.field.name]) {
          const filter = this.$root[`advancedSelectedFilters_${this.$parent.type}`][this.field.name];
          this.criteria = this.criterias.find(c => c.value === filter.criteria.value);
          this.queryStart = filter.values[0];
          this.queryEnd = filter.values[1] || null;
        }
      }
    }
  },
  methods: {
    toggleDropdown() {
      this.isDropdownOpen = !this.isDropdownOpen;
    },
    onChangeCriteria(newCriteria) {
      this.criteria = newCriteria;
      this.startPlaceholder = this.criteria.value === 'BETWEEN'
        ? this.$t('search.MIN_VALUE')
        : this.$t('search.TYPE_HERE');

      this.formError = null;
      this.isDropdownOpen = false;
      this.handleValueChange();
    },
    onChangeValue() {
      if (this.criteria.value === 'BETWEEN') {
        if (!this.validateBetween()) return;
      }
      this.handleValueChange();
    },
    validateBetween() {
      if (this.queryStart === null || this.queryEnd === null) {
        this.formError = this.$t('search.ERROR_REQUIRED_FIELDS');
        return false;
      }

      if (parseFloat(this.queryStart) > parseFloat(this.queryEnd)) {
        this.formError = this.$t('search.ERROR_RANGE');
        return false;
      }

      this.formError = null;
      return true;
    },
    handleValueChange() {
      if (!this.selected) return;

      const values = this.criteria.value === 'BETWEEN'
        ? [this.queryStart, this.queryEnd]
        : [this.queryStart];

      if (values.every(v => v !== null)) {
        this.$emit('add-filter', {
          criteria: this.criteria,
          label: values.join(' - '),
          values: values.map(Number)
        });
      }
    }
  }
};
</script>

<style scoped>
.field-number-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;

  .labels {
    display: flex;
    align-items: center;

    .input-group-btn {
      margin-right: 5px;

      i {
        margin-right: 5px;
      }
    }
  }

}

.form-control {
  width: 40%;
  font-size: 12px;
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  li {
    cursor: pointer;
    padding: 8px 16px;

    &:hover {
      background: #f8f9fa;
    }
  }
}
</style>