<template lang="pug">
.confirm-delete-dialog-template
   b-modal(v-model='showModal' @ok='' centered :title='$t("message.CONFIRM_DELETE_TITLE")')
    span {{$t('message.CONFIRM_DELETE_TITLE')+"?"}}
</template>
<script>
export default {
  name: 'CwDeleteConfirmDialog',
  props: ['id', 'message']
}
</script>
