<template lang="pug">
  b-navbar.cw-navbar(type="dark" :sticky="true")
    b-navbar-nav.sidebar-toggle(:class="{'is-sidebar-mini':isSidebarMini}")
      li.nav-item
        b-button.nav-link(variant="link" @click="toggleSidebar")
          span.gi.icon-lg(:class="isSidebarOpened?'gi-remove':'gi-menu-hamburger'")
    b-navbar-brand(to='/')
      img(:src="appLogo" :title="title")
      span.name {{ title }}
    b-navbar-nav
      .slot-container
        slot
    b-navbar-nav.ml-auto
      li.nav-item
        b-button.nav-link(id="navbar-apps" variant="link")
          b-icon-grid3x3-gap-fill(font-scale="2")
      b-popover.popover-img(placement='bottomcenter' target="navbar-apps" triggers="click blur" :title="$t('navbar.FRECUENTLY_APPS')")
        b-row
          b-col.mb-2(v-for="app in appsList" :key="app.id" cols="6" sm="6" md="6" xl="6")
            a.mx-auto(:href="app.url" target="_blank")
              b-img(:src="app.image" :alt="app.alt" thumbnail)
        hr
        b-link(to="/") {{ $t('navbar.GO_TO_HOME') }}
      b-nav-text
        b-img(:src="photoUrl" :title="currentUser.name" rounded="circle" )
        span.username {{ currentUser.name }}
      b-nav-item-dropdown(no-caret right)
        template(#button-content)
          i.gi.gi-chevron-down.icon-lg
        b-dropdown-item(to='/me')
          i.gi.gi-user.mr-2
          span {{ $t('navbar.PROFILE') }}
        b-dropdown-item-button(v-if="isUserApp && (currentUser.isAdmin || currentUser.isCompanyAdmin)" @click="goToCompanies")
          i.oi.oi-briefcase
          span {{ $t('navbar.COMPANIES') }}
        b-dropdown-item-button(v-if="isUserApp && (!(currentUser.isAdmin || currentUser.isCompanyAdmin) && currentUser.isCompanyManager)" @click="goToMyCompany")
          i.oi.oi-briefcase
          span {{ $t('navbar.MY_COMPANY') }}
        b-dropdown-item-button(v-if="isUserApp && currentUser.isAdmin" @click="goToOrganizationalUnits")
          i.oi.oi-book
          span {{ $t('navbar.ORGANIZATIONAL_UNITS') }}
        b-dropdown-divider
        b-dropdown-item-button(href='#' @click="logout")
          i.gi.gi-log-out.mr-2
          span {{ $t('navbar.SIGN_OUT') }}
</template>

<script>
import { filter, includes } from 'lodash'
import { mapMutations, mapGetters } from 'vuex'

export default {
  props: {
    apps: {
      type: Array,
      default: function () {
        return ['user', 'operation', 'candidate', 'client', 'media']
      }
    },
    appName: {
      type: String,
      default: 'Catenon'
    },
    appLogo: {
      type: String,
      default: require('@/assets/images/catenon.png')
    }
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      isSidebarMini: 'ui/isSidebarMini',
      isSidebarOpened: 'ui/isSidebarOpened',
      currentUser: 'auth/getCurrentUser'
    }),
    appsList () {
      const apps = [
        { id: 'user', url: `${process.env.VUE_APP_WEB_USER}`, image: require('@/assets/images/new-icons/USERS.jpg'), alt: 'User' },
        { id: 'operation', url: `${process.env.VUE_APP_WEB_OPERATION}`, image: require('@/assets/images/new-icons/OPERATIONS.jpg'), alt: 'Operation' },
        { id: 'candidate', url: `${process.env.VUE_APP_WEB_CANDIDATE}`, image: require('@/assets/images/new-icons/CANDIDATES.jpg'), alt: 'Candidate' },
        { id: 'client', url: `${process.env.VUE_APP_WEB_CLIENT}`, image: require('@/assets/images/new-icons/CLIENTS.jpg'), alt: 'Client' },
        { id: 'media', url: `${process.env.VUE_APP_WEB_MEDIA}`, image: require('@/assets/images/new-icons/MEDIA.jpg'), alt: 'Media' }
      ]
      const list = filter(apps, o => includes(this.apps, o.id))
      return list
    },
    openApp () {
      return this.$store.getters['ui/getOpenApp']
    },
    photoUrl () {
      return this.currentUser.photo || require('@/assets/images/avatar.png')
    },
    isUserApp () {
      return process.env.VUE_APP_NAME === 'USER_APP'
    },
    title () {
      return this.appName || this.$t('app.TITLE')
    }
  },
  methods: {
    ...mapMutations({
      toggleSidebar: 'ui/toggleSidebar'
    }),
    logout (e) {
      e.preventDefault()
      this.$store.dispatch('auth/logout', { vm: this.$root })
    },
    openSidebar (e) {
      e.preventDefault()
    },
    goToCompanies () {
      if (process.env.VUE_APP_NAME === 'USER_APP') {
        this.$router.push('companies')
      } else {
        window.open(`${process.env.VUE_APP_WEB_USER}/companies`, process.env.VUE_APP_WINDOW_USER)
      }
    },
    goToMyCompany () {
      if (process.env.VUE_APP_NAME === 'USER_APP') {
        this.$router.push(`/company/${this.currentUser.company.id}`)
      } else {
        window.open(`${process.env.VUE_APP_WEB_USER}/company/${this.currentUser.company.id}`, process.env.VUE_APP_WINDOW_USER)
      }
    },
    goToOrganizationalUnits () {
      if (process.env.VUE_APP_NAME === 'USER_APP') {
        this.$router.push(`organizationalUnits`)
      } else {
        window.open(`${process.env.VUE_APP_WEB_USER}/organizationalUnits`, process.env.VUE_APP_WINDOW_USER)
      }
    }
  }
}
</script>

<style lang="scss">
.cw-navbar {
  position: relative;
  height: 100%;
  background-color: $app-color;

  .navbar-brand {
    margin: 0;
    font-weight: $font-weight-bolder;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    width: 260px;
    img {
      height: 40px;
      margin: 0 10px;
    }
    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .navbar-nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100%;
    color: $white;

    .nav-item {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0;
      &:hover {
        background-color: darken($app-color, 10%);
      }
      .nav-link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60px;
        height: 100%;
      }
    }

    .navbar-text {
      margin: 0 0.5rem;
      img {
        height: 40px;
      }
      span {
        padding-left: 1rem;
      }
    }
  }

  .sidebar-toggle {
    display: none;
    &.is-sidebar-mini {
      display: flex;
    }
  }

  @include media-breakpoint-down(sm) {
    .sidebar-toggle {
      margin-right: 0.5rem;
    }
    .navbar-brand {
      display: none;
    }
  }

  @include media-breakpoint-down(md) {
    .sidebar-toggle {
      display: flex;
    }
    .navbar-brand {
      width: 75px;
      .name {
        display: none;
      }
    }
    .username {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    // .navbar-brand {
    //   width: 100% !important;
    // }
    // .sidebar-close {
    //   display: none;
    // }
    // .sidebar-open {
    //   display: none;
    // }
  }
}
</style>
