<template lang="pug">
.error-page-container.mt-3
  .container-fluid
    .jumbotron.text-center.mar-top
      h1
        i.oi.oi-warning.text-warning
        |  {{ code }} {{ message }}
      p.lead
        | {{ text }}
      p.mt-5
        a.btn.btn-primary.btn-lg(href="/") {{ $t('error.GOTO_HOMEPAGE') }}
  .container-fluid
    .row
      .col-md-12
        h4 {{ $t('error.WHAT_HAPPENED') }}
        p.lead {{ $t(`error.MESSAGE_${code}`) }}
        //- p.lead(ng-if="!notFoundReason")
        //-   | A 404 error status implies that the file or page that you're looking for could not be found.
        //- p.lead(ng-if="notFoundReason")
        //-   | {{notFoundReason}}
    hr
    //- img.pull-rigth(src="../../assets/images/catenon.png" alt="Catenon")
</template>

<script>
export default {
  props: {
    code: {
      type: Number,
      default: 500
    },
    message: {
      type: String,
      default: 'Error message'
    },
    text: {
      type: String,
      default: 'Error text'
    },
    reason: {
      type: String,
      default: null
    },
    error: {
      type: Object,
      default: function () {
        return {
          code: 400,
          text: 'Invalid parameter',
          message: 'Invalid parameter'
        }
      }
    }
  }
}
</script>
