<template lang="pug">
.cw-quicksearch-container
  b-nav-form.search-form(role='search', novalidate)
    cw-vue-bootstrap-typeahead(
      :ref="refer"
      v-model="queryText"
      :data="items"
      :serializer="item => getSerialized(item)"
      :min-matching-chars="2"
      @hit="searchSelectedHit"
      @keydown.enter.native="onSearchQueryText"
      :placeholder="$t('search.SEARCH_PLACEHOLDER')"
      @blur="onLostFocus" :show-all="true")
      template(#append)
        b-button(variant="primary" @click="onSearchQueryText")
          i.oi.oi-magnifying-glass
      template(slot="suggestion" slot-scope="{ data, htmlText }")
        p.title {{ data.title }}
        p.subtitle {{ data.subtitle }}
  .loading(v-show="isLoading")
    b-spinner.mr-2(small :label="$t('search.LOADING')")
    |  {{ $t('search.LOADING') }}
  .no-results(v-show="noResultsFound")
    i.oi.oi-x.icon-sm
    | {{ $t('search.NO_RESULTS') }}

  b-nav-form.search-mobile(role='search', novalidate)
    b-button(variant="link" @click="searchOpen")
      i.oi.oi-magnifying-glass(size="lg")
    .search-form-m(:class="{'active': searchBox}")
      //- @focus=false
      cw-vue-bootstrap-typeahead.typeahead-m(
        :ref="`${refer}Mobile`"
        v-model="queryText"
        :data="items"
        :serializer="item => getSerialized(item)"
        :min-matching-chars="2"
        @hit="searchSelectedHit"
        @keydown.enter.native="onSearchQueryText"
        :placeholder="$t('search.SEARCH_PLACEHOLDER')"
        @blur="onLostFocus" :show-all="true")
        template(#append)
          b-button(variant="primary" @click="onSearchQueryText")
            i.oi.oi-magnifying-glass
        template(slot="suggestion" slot-scope="{ data, htmlText }")
          p.title {{ data.title }}
          p.subtitle {{ data.subtitle }}
    .loading(v-show="isLoading")
      b-spinner.mr-2(small :label="$t('search.LOADING')")
      |  {{ $t('search.LOADING') }}
    .no-results(v-show="noResultsFound")
      i.oi.oi-x.icon-sm
      | {{ $t('search.NO_RESULTS') }}

</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { debounce } from 'lodash'

export default {
  name: 'CwQuicksearch',
  props: {
    // referencia para identificar al input
    refer: {
      type: String,
      default: 'quicksearch'
    },
    // ruta con todos los resultados
    route: {
      type: String,
      default: null
    },
    // ruta al seleccionar un resultado
    hitRoute: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      searchIcon: 'seach', //  icon search
      inputSearch: '',
      inputState: null,
      popoverShow: null,
      searchBox: false,
      autocomplete: false,
      noResultsFound: false,
      isLoading: false,
      queryText: '',
      items: []
    }
  },
  computed: {
    ...mapGetters({
      getDefaultFilters: 'search/getDefaultFilters',
      quicksearchResults: 'search/getResultQuickseach'
    })
  },
  watch: {
    inputSearch (val) {
      if (val) {
        this.inputState = true
      }
    },
    queryText: debounce(function (query) {
      this.doQuicksearch(query)
    }, 250)
  },
  methods: {
    ...mapActions({
      fetchResults: 'search/fetchResults',
      fetchQuicksearch: 'search/fetchQuicksearch'
    }),
    ...mapMutations({
      resetFilterFacets: 'search/RESET_FILTER_FACETS',
      setFilterFields: 'search/SET_FILTER_FIELDS',
      setQuicksearch: 'search/SET_QUICKSEARCH',
      setFilterQuery: 'search/SET_FILTER_QUERY'
    }),
    searchOpen () {
      this.searchBox = !this.searchBox
    },
    searchClose () {
      this.searchBox = false
    },
    searchSubmit () {
      this.inputSearch = ''
      this.popoverShow = false
    },
    async doQuicksearch (query) {
      this.items = []
      if (query.length >= 2) {
        this.isLoading = true
        this.noResultsFound = false
        await this.fetchQuicksearch(query)
        this.items = this.quicksearchResults
        this.isLoading = false
        this.noResultsFound = false
        if (!this.items.length) {
          this.noResultsFound = true
        } else {
        }
      }
    },
    getSerialized (item) {
      return `${item.title}, ${item.subtitle}`
    },
    searchSelectedHit (hit) {
      this.$router.push({ name: this.hitRoute, params: { id: hit.entityId } })
      this.$refs[this.refer].inputValue = this.$refs[this.refer + 'Mobile'].inputValue = this.queryText = ''
    },
    onSearchQueryText ($event) {
      $event.preventDefault()
      this.resetFilterFacets()
      this.setFilterFields([])
      this.setQuicksearch(this.queryText)
      this.setFilterQuery(this.queryText)
      // if (this.$route.name !== this.route) {
      //   this.$router.push({ name: this.route })
      // } else {
      this.$loading(true)
      this.fetchResults()
        .then(_ => {
          this.$loading(false)
        })
      // }
      if (this.$route.name !== this.route) {
        this.$router.push({ name: this.route })
      }
      // limpia la caja de texto pero no el store
      this.$refs[this.refer].inputValue = this.$refs[this.refer + 'Mobile'].inputValue = this.queryText = ''
    },
    onLostFocus (event) {
      this.isLoading = false
      this.noResultsFound = false
    }
  }
}
</script>

<style lang="scss">
.cw-quicksearch-container {
  height: 100%;
  .form-inline {
    .input-group {
      width: 350px;
      .btn {
        background: $catenon-secondary;
        border-radius: 0px 20px 20px 0px;
        border-color: transparent;
      }
    }
  }
  .search-form {
    transform: none !important;
    .arrow {
      visibility: hidden;
    }
  }
  .search-popover {
    visibility: hidden;
  }

  .search-form-m {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: $gray;
    display: none;
  }
  .search-form-m.active {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 60px;
    left: 0px;
    width: 100vw;
    border: none;
    &:hover {
      border: none;
    }
    .form-search-box {
      height: 6vh;
      border: 1px solid $gray !important;
      cursor: text;
      &:focus {
        box-shadow: inset 0 0 0 0.1rem $input-border-focus !important;
      }
    }
    .form-button-close {
      background: $gray;
      border-radius: 0px;

      &:hover {
        background: transparent;
        border-radius: 0px;
        background: $catenon-secondary;
        box-shadow: inset 0 0 0 0.1rem $input-border-focus !important;
      }
    }
  }
  .typeahead {
    min-width: 270px;
  }
  .typeahead-m {
    width: 100%;
    .input-group {
      .btn,
      .form-control {
        border-radius: 0;
      }
    }
  }

  .list-group {
    .list-group-item {
      &:hover {
        background-color: $gray-300;
        border: 1px solid transparent;
      }
      padding: 0.75rem 1rem;
      .title {
        margin: 0;
        font-weight: 600;
        color: $primary;
      }
      .subtitle {
        margin: 0;
        color: $secondary;
      }
    }
  }

  .loading,
  .no-results {
    display: flex;
    align-items: center;
    position: absolute;
    top: 48px;
    background: $body-bg;
    color: $gray;
    padding: 0.25rem 1rem;
    border: 1px solid $gray-500;
    border-radius: 0px 0px 5px 5px;
    .oi {
      margin-top: -5px;
      margin-right: 5px;
    }
  }

  .search-mobile {
    display: none;
    .btn {
      color: $white;
      &:hover {
        background-color: darken($app-color, 10%);
      }
    }

    .loading,
    .no-results {
      top: 85px;
      left: 0
    }
  }
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.fa-spinner {
  margin-right: 5px;
  animation: spinner 1s linear infinite;
}
.icon-remove {
  font-weight: bold;
  margin-right: 5px;
}

@include media-breakpoint-down(sm) {
  .cw-quicksearch-container {
    .form-inline {
      .input-group {
        width: auto;
      }
    }
    .search-mobile {
      display: none;
    }
  }
}

@include media-breakpoint-down(xs) {
  .cw-quicksearch-container {
    .form-inline {
      .input-group {
        width: auto;
      }
    }
    .search-form {
      display: none;
    }
    .search-mobile {
      display: inline;
    }
  }
}
</style>
