<template lang="pug">
cw-panel.cw-facet-container
  b-button.title.text-truncate(variant="link" v-b-toggle="`facet-id-${index}`")
    i.oi(:class="isCollapsed?'oi-caret-bottom':'oi-caret-right'")
    span.ml-1(:title="facet.name") {{ facet.name }}
  b-collapse(v-model='isCollapsed' :id="`facet-id-${index}`")
    .buckets-container(v-if="facet.buckets.length")
      .bucket(v-for='(bucket, bidx) in facet.buckets' :key='bucket.label' v-show="isShownBucket(bidx)")
        b-checkbox.checkbox(:id="`chk-${index}-${bidx}`" size="sm" @change="onApplyFilter($event, bucket)" :checked="bucket.checked")
        label.label(v-if="useCode && bucket.code" :for="`chk-${index}-${bidx}`" :title="$t(bucket.code)") {{ $t(bucket.code) }}
        label.label(v-else :for="`chk-${index}-${bidx}`" :title="bucket.label") {{ bucket.label }}
        b-badge(pill) {{ bucket.count }}
      .show-hide-all(v-if="facet.buckets.length > 5")
        b-button(variant="link" @click="isShowAll = !isShowAll") {{ isShowAll?$t('facet.HIDE'):$t('facet.SHOW_ALL') }}
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  name: 'CwFacet',
  props: {
    facet: {
      type: Object,
      default: null
    },
    index: {
      type: Number,
      default: 0
    },
    useCode: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isCollapsed: false,
      isShowAll: false
    }
  },
  computed: {
    ...mapGetters({
      // fieldsFilter: 'search/getFilterFields'
    })
  },
  mounted () {
    this.isCollapsed = this.facet.collapsed
  },
  methods: {
    ...mapActions({
      fetchResults: 'search/fetchResults'
    }),
    ...mapMutations({
      addRemoveFilterFacets: 'search/ADD_REMOVE_FILTER_FACETS'
    }),
    isShownBucket (idx) {
      return this.isShowAll || idx < 5
    },
    onApplyFilter (checked, bucket) {
      bucket.checked = checked
      this.addRemoveFilterFacets({ facet: this.facet, bucket })
      this.$loading(true)
      this.fetchResults()
        .then(_ => {
          this.$loading(false)
        })
    }
  }
}
</script>

<style lang="scss">
.cw-facet-container {
  .card {
    padding: 0 0.5rem;
  }
  .title {
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding: 0;
    color: $gray-700;
    border-radius: 0;
    width: 100%;
    span {
      text-overflow: ellipsis;
    }
  }
  .buckets-container {
    padding-top: 0.25rem;
    .bucket {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .checkbox {
        .custom-control-label {
          &:before,
          &:after {
            border-radius: 0.25rem;
          }
        }
      }
      .label {
        font-weight: normal;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .badge {
        background: $gray-400;
        color: $gray-600;
        font-size: $font-size-xxs;
        font-weight: 800;
      }
    }
    .show-hide-all {
      .btn {
        padding: 0.25rem 0 0;
      }
    }
  }
}
</style>
