<template lang="pug">
.cw-search-facets-mobile
  b-button.btn-open-filters(variant="primary" @click="$bvModal.show('modal-search-facets-mobile')")
    i.oi.oi-layers(size="md")
    b-badge(v-if="appliedFiltersCounter" variant="secondary") {{ appliedFiltersCounter }}
  b-modal#modal-search-facets-mobile(ref="modalSearchFacetsMobile" hide-header scrollable)
    cw-facet-mobile(v-for="(facet, idx) in facets" :key="facet.id" :facet="facet" :index="idx" :use-code="useCode")
    template(#modal-footer)
      b-button(variant="outline-primary" @click='onResetFilters()') Reset
      b-button(variant="primary" @click='onApplyFilters()') Apply
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import { forEach } from 'lodash'
import FacetMobile from './FacetMobile'

export default {
  name: 'CwSearchFacetsMobile',
  props: {
    useCode: {
      type: Boolean,
      default: false
    }
  },
  components: { 'CwFacetMobile': FacetMobile },
  computed: {
    ...mapGetters({
      facets: 'search/getFacetsMobile',
      fieldsFilter: 'search/getFilterFields'
    }),
    getStateMenu () {
      return this.$store.getters['ui/getToggleMenu']
    },
    appliedFiltersCounter () {
      let counter = 0
      const facets = this.fieldsFilter
      if (facets && facets.length) {
        forEach(facets, facet => {
          if (facet.values && facet.name !== 'active') {
            counter += facet.values.length
          }
        })
      }
      return counter
    }
  },
  methods: {
    counter (idx, facet) {
      facet.primary = !facet.primary
    },
    ...mapActions({
      fetchResults: 'search/fetchResults'
    }),
    ...mapMutations({
      resetFilters: 'search/RESET_FILTER_FACETS',
      onToggleMenu: 'ui/setToggleMenu'
    }),
    onApplyFilters () {
      this.$loading(true)
      this.fetchResults({ isMobile: true })
        .finally(_ => {
          this.$loading(false)
        })
      this.$refs.modalSearchFacetsMobile.hide()
    },
    onResetFilters () {
      this.resetFilters()
      this.fetchResults()
      this.$refs.modalSearchFacetsMobile.hide()
    },
    switchFacet (facet, bucket, idx, idy) {
      this._addOrRemoveFilters(this.filteredBy, facet, bucket.value, idx, idy)
    }

  }
}
</script>

<style lang="scss">
.cw-search-facets-mobile {
  .btn-open-filters {
    display: none;
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    font-size: $font-size-large;
    height: 60px;
    width: 60px;
    // cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 0px 2px #888;
    z-index: 1000;
    .badge {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@include media-breakpoint-down(xs) {
  .cw-search-facets-mobile {
    .btn-open-filters {
      display: inline-block;
    }
  }
}

#modal-search-facets-mobile {
  .modal-content {
    height: calc(100vh - 7rem);
  }
}
</style>
