<template lang="pug">
.cw-search-facets-container
  cw-facet(v-for="(facet, idx) in facets" :key="facet.id" :facet="facet" :index="idx" :use-code="useCode")
</template>

<script>
import { mapGetters } from 'vuex'
import Facet from './Facet'

export default {
  name: 'CwSearchFacets',
  props: {
    useCode: {
      type: Boolean,
      default: false
    }
  },
  components: { 'CwFacet': Facet },
  computed: {
    ...mapGetters({
      facets: 'search/getFacets'
    })
  }
}
</script>

<style lang="scss">
.cw-search-facets-container {
}
</style>
