<template lang="pug">
.cw-avatar-container(:class="squareClass")
  .avatar-view(v-show="!isCropMode", :class="avatarSizeClass")
    .avatar-view-image
      img(ref="avatar", :src="getImageUrl", alt="Avatar")
    label.overlay
      input.sr-only(
        ref="input",
        type="file",
        accept=".jpg,.png,.svg",
        @change="changeAvatar"
      )
      p {{ $t('avatar.CLICK_ADD_PICTURE') }}
      small {{ $t('avatar.MAX_SIZE_PICTURE') }}
  .avatar-crop(v-show="isCropMode", :class="avatarSizeClass")
    img(ref="image", src="")
    b-button-toolbar.crop-options
      b-button-group.zoom(size="sm", right)
        b-button(variant="light", @click="zoomIn") &#45;
        b-button(variant="light", @click="zoomOut") &#43;
    .crop-actions
      b-button.mr-1(size="sm", variant="outline-primary", @click="cancel") {{ $t('button.CANCEL') }}
      b-button(size="sm", variant="primary", @click="upload") {{ $t('button.UPLOAD') }}
</template>

<script>

// Library:
// https://github.com/fengyuanchen/cropperjs/tree/master/docs/examples
// https://github.com/fengyuanchen/cropperjs

import 'cropperjs/dist/cropper.css'
import Cropper from 'cropperjs'

import { mapGetters } from 'vuex'

export default {
  props: {
    src: {
      type: String,
      default: ''
    },
    size: {
      type: String,
      default: 'md'
    },
    square: {
      type: Boolean,
      default: false
    },
    full: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      isCropMode: false,
      cropper: null,
      destination: {},
      file: {}
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile'
      // photoUrl: 'publicProfile/getProfilePhotoUrl'
    }),
    avatarSizeClass () {
      return `avatar-image-${this.size}`
    },
    squareClass () {
      return this.square ? 'avatar-square' : ''
    },
    getImageUrl () {
      return this.src || require('@/assets/images/placeholder-image.png')
    },
    pixelsSize () {
      switch (this.size) {
        case 'sm':
          return 60
        case 'md':
          return 120
        case 'lg':
          return 160
        case 'xl':
          return 200
        default:
          return 80
      }
    }
  },
  methods: {
    changeAvatar (evt) {
      let reader
      const image = this.$refs.image
      const input = this.$refs.input

      const done = url => {
        input.value = ''
        image.src = url
        if (this.cropper) {
          this.cropper.destroy()
        }

        const options = {
          guides: false,
          autoCropArea: 1,
          viewMode: 0,
          cropBoxResizable: false,
          // cropBoxMovable: false,
          zoomOnWheel: false,
          highlight: false
          // minContainerWidth: 200,
          // minContainerHeight: 200,
          // minCanvasWidth: 200,
          // minCanvasHeight: 200,
          // minCropBoxWidth: 160,
          // minCropBoxHeight: 160
          // zoom: function (e) {
          //   console.log(e.type, e.detail.ratio)
          // }
        }

        if (this.square) {
          if (this.full) {
            options.cropBoxMovable = false
            options.dragMode = 'none'
          }
        } else {
          options.initialAspectRatio = 1
          options.aspectRatio = 1
          options.autoCropArea = 0.75
          options.minContainerWidth = this.pixelsSize + 10
          options.minContainerHeight = this.pixelsSize + 10
          options.minCanvasWidth = this.pixelsSize + 10
          options.minCanvasHeight = this.pixelsSize + 10
          options.minCropBoxWidth = this.pixelsSize
          options.minCropBoxHeight = this.pixelsSize
        }

        this.cropper = new Cropper(image, options)
        this.isCropMode = true
      }

      this.file = evt.target.files[0]
      if (!this.file.type.includes('image/')) {
        alert('Please select an image file')
        return
      }
      if (URL) {
        done(URL.createObjectURL(this.file))
      } else if (FileReader) {
        reader = new FileReader()
        reader.onload = e => {
          done(reader.result)
        }
        reader.readAsDataURL(this.file)
      }
    },
    cancel () {
      this.cropper.destroy()
      this.cropper = null
      this.isCropMode = false
    },
    upload () {
      const avatar = this.$refs.avatar
      let canvas
      if (this.cropper) {
        let options = { width: 160, height: 160 }
        if (this.full) {
          options = { width: 670, height: 670 }
        }
        canvas = this.cropper.getCroppedCanvas(options)
        avatar.src = canvas.toDataURL()
        canvas.toBlob(blob => {
          const fileMetadata = {
            name: this.file.name,
            mimeType: this.file.type,
            type: '/fileTypes/2'
          }
          const formData = new FormData()
          formData.append('file', blob, this.file.name)
          formData.append('fileMetadata', new Blob([JSON.stringify(fileMetadata)], { type: 'application/json' }))
          this.$emit('onCropper', formData)
        })
        this.isCropMode = false
      }
    },
    zoomIn () {
      // console.log('zoomin')
      this.cropper.zoom(-0.1)
    },
    zoomOut () {
      // console.log('zoomout')
      this.cropper.zoom(0.1)
    }
  }
}
</script>

<style lang="scss">
.cw-avatar-container {
  width: 100%;
  text-align: center;

  .avatar-view {
    position: relative;
    display: inline-block;
    .avatar-view-image {
      display: flex;
      height: 100%;
      width: 100%;
      background-color: $gray-500;
      img {
        width: 100%;
        border-radius: 50%;
        margin: auto;
      }
    }
    .overlay {
      cursor: pointer;
      position: absolute;
      top: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
      right: -0.5rem;
      border: 5px solid $gray-600;
      background-color: rgba($color: $gray-200, $alpha: 0.5);
      border-radius: 50%;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      margin: 0;
      p {
        color: $secondary;
        font-weight: 600;
      }
      small {
        // color: $text-muted;
        font-style: italic;
      }
    }
  }

  .avatar-crop {
    display: inline-block;
    img {
      width: 200px;
      height: 200px;
    }
    .crop-options {
      justify-content: flex-end;
      margin: -1.5rem 0.2rem 0.5rem;
      .btn {
        padding: 0 0.75rem;
      }
    }
    .crop-actions {
      text-align: center;
      margin: 0 0 0.25rem;
    }
  }

  .cropper-view-box {
    outline: none;
    border: 1px solid $gray-300;
  }
  .cropper-view-box,
  .cropper-face {
    border-radius: 50%;
  }

  .cropper-modal {
    background-color: $gray;
  }

  &.avatar-square {
    .avatar-image-sm,
    .avatar-image-md,
    .avatar-image-lg,
    .avatar-image-xl {
      border-radius: 0;
    }

    .avatar-view {
      img {
        border-radius: 0;
      }
      .overlay {
        border-radius: 0;
      }
    }

    .cropper-view-box,
    .cropper-face {
      border-radius: 0;
    }
  }
}
</style>
