<template>
    <div :class="['blue-header-container', { 'text-left': isTextLeft, 'is-inverse': isInverse, 'is-success': isSuccess }]">
      <h1 v-if="title" :class="{ 'text-left': isTextLeft }">{{ title }}</h1>
      <h2 v-if="subtitle" :class="{ 'text-left': isTextLeft }">{{ subtitle }}</h2>
      <p v-if="text" :class="{ 'text-left': isTextLeft }">{{ text }}</p>
  
      <div v-if="onAction" class="action">
        <button v-show="actionShow" class="btn btn-link" @click="handleAction">
          <i v-if="actionIcon" :class="'fa-' + actionIcon"></i>
          {{ actionText }}
        </button>
      </div>
  
      <div>
        <slot></slot> <!-- Esto permite incluir contenido transcluido en el componente -->
      </div>
    </div>
  </template>
  
  <script>
  export default {
    props: {
      title: String,
      subtitle: String,
      text: String,
      isTextLeft: { type: Boolean, default: false },
      isInverse: { type: Boolean, default: false },
      isSuccess: { type: Boolean, default: false },
      onAction: { type: Boolean, default: false },
      actionShow: { type: Boolean, default: true },
      actionIcon: String,
      actionText: String
    },
    methods: {
      handleAction(event) {
        if (this.onAction) {
          this.$emit('action', event);
        }
      }
    }
  }
  </script>
  
  <style scoped lang="scss">
  .blue-header-container {
    display: block;
    position: relative;
    background-color: $catenon-blue-bg;
    text-align: left;
    padding: 15px 20px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  
    h1, h2, h3 {
      color: $catenon-ligth-font;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  
    h1 {
      font-size: 28px;
      font-weight: 800;
    }
  
    h2 {
      font-size: 22px;
      font-weight: 600;
    }
  
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
  
    p {
      color: $catenon-blue-font;
      font-size: 16px;
      margin-bottom: 0px;
    }
  
    .action {
      position: absolute;
      bottom: 15px;
      right: 20px;
    }
  
    &.text-left {
      text-align: left;
    }
  
    &.is-inverse {
      background-color: white;
      h1, h2, h3 {
        color: $catenon-blue-font;
      }
      p {
        color: $catenon-default-font;
      }
    }
  
    &.is-success {
      border: 1px solid $green;
      border-left-width: 5px;
    }
  }
  </style>
  