<template lang="pug">
  .cw-page-header
    .pageheader-container
      .pageheader-main
        ol.breadcrumb(v-if="breadcrumbs && breadcrumbs.length")
          li(v-for="bread in breadcrumbs" :key="bread.name")
            a(:href="bread.link") {{ bread.name }}
        .title {{ title }}
        slot(name="title")
      .pageheader-actions
        slot(name="actions")
      .pageheader-content
        slot(name="content")
</template>

<script>
export default {
  name: 'CwPageHeader',
  props: {
    breadcrumbs: {
      type: Array,
      default: () => []
    },
    title: {
      type: String,
      default: ''
    }
  }
};
</script>

<style lang="scss">
.cw-page-header {
  display: block;
  background-color: #ffffff;
  position: fixed;
  top: 50px;
  left: 260px;
  right: 0;
  z-index: 40;
  border-bottom: 5px solid #e6e6e6;

  .pageheader-container {
    display: flex;
    flex-flow: row wrap;

    [v-slot]:empty {
      display: none;
    }

    .pageheader-main {
      flex: 1;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 15px;
      padding: 0;
      border-bottom: none;

      .breadcrumb {
        background-color: #ffffff;
        border-radius: 4px;
        margin: 0;
        padding-left: 0;
        padding-bottom: 0;
        margin-top: 10px;
        list-style: none;
        text-align: left;

        li {
          display: inline;
          font-size: 14px;

          a {
            color: $catenon-badge-font;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .title {
        margin: 0;
        color: $catenon-blue-font;
        font-size: $font-size-large;
        font-weight: 600;
        margin-bottom: 15px;

        .label {
          margin-left: 5px;
          vertical-align: middle;
        }
      }
    }

    .pageheader-actions {
      align-self: center;
      margin: 5px 15px;
    }

    .pageheader-content {
      flex: 1 100%;
      margin: 0;
      padding: 0 15px;
      border-top: 1px solid #e6e6e6;
    }
  }
}

@media (max-width: 992px) {
  .cw-page-header {
    left: 0;
  }
}

@media (max-width: 768px) {
  cw-pageheader {
    .pageheader-container {
      .pageheader-actions {
        cw-select-search {
          .btn, .select-search-container .dropdown .dropdown-menu {
            width: 200px;
            min-width: 200px;
          }
        }
      }
    }
  }
}
</style>
