/**********************************************************************
  Sobreescribe las variables por defecto de Bootstrap y Bootstrap-Vue
  
  https://vueschool.io/articles/vuejs-tutorials/globally-load-sass-into-your-vue-js-applications/

***********************************************************************/

// @import "catenonLib/styles/_catenon_variables.scss";
@import "catenonLib/styles/catenon-theme.scss";

/**********************************************************************
  Estilos personalizados de la aplicación
***********************************************************************/

/* 
  SASS

  - generar un solo archivo de variables, mengeando las variables y dejando los valores finales
  - mergear los archivos del TEMA (common y otros) y generar un solo archivo "catenon_theme"
  - finalmente solo debe quedar: _variables y theme-catenon

  YAML

  - mergear todos los yaml y generar uno solo: i18n.en.yaml

  y LUEGO VEREMOS

*/
