<template lang="pug">
.cw-public-profile-details-container
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  cw-panel(:title="$t('app.profile.DETAILS')")
    template(#header-actions)
      b-button(v-if="editable" v-show="!isEditMode" variant="link" @click="edit")
        i.oi.oi-pencil
        |  {{ $t('button.EDIT') }}
      b-button(v-show="isEditMode" variant="link" @click="cancel") {{ $t('button.CANCEL') }}
    template(#body)
      .list-wrapper(v-if="!isEditMode")
        b-row
          cw-input-label(:label="$t('app.profile.details.EMAIL')" cols="12" sm='4' empty-text="")
            a(:href="'mailto:'+publicProfile.email" target="_top")
              p {{ publicProfile.email }}
          cw-input-label(:label="$t('app.profile.details.PHONE_NUMBER')" :text='publicProfile.phoneNumber' empty-text="-" cols="12" sm='4')
          cw-input-label(:label="$t('app.profile.details.PHONE_EXTENSION')" :text='publicProfile.phoneExtension' empty-text="-" cols="12" sm='4')
        b-row
          b-col
            legend {{ $t('app.profile.details.SOCIAL_NETWORKS') }}
        b-row
          cw-input-label(v-if='hasSkype' :label="$t('app.profile.details.SKYPE')" :faicon='skype' :text='socialMediaProfiles.skype.username' empty-text="-" cols="12" sm='6')
          cw-input-label(:label="$t('app.profile.details.TWITTER')" :faicon='twitter' cols="12" sm='6' empty-text="")
            a(v-if="hasTwitter && socialMediaProfiles.twitter.username" :href="`https://twitter.com/${socialMediaProfiles.twitter.username}`" target="blank")
              p {{ socialMediaProfiles.twitter.username }}
            p(v-if='!hasTwitter') -
        b-row
          cw-input-label(:label="$t('app.profile.details.FACEBOOK')" :faicon='facebook' cols="12" sm='6' empty-text="")
            a(v-if='hasFacebook' :href="socialMediaProfiles.facebook.profileUrl" target="blank")
              p {{ socialMediaProfiles.facebook.profileUrl }}
            p(v-if='!hasFacebook') -
          cw-input-label(:label="$t('app.profile.details.LINKEDIN')" :faicon='linkedin' cols="12" sm='6' empty-text="")
            a(v-if='hasLinkedin' :href="socialMediaProfiles.linkedin.profileUrl" target="blank")
              p {{ socialMediaProfiles.linkedin.profileUrl }}
            p(v-if='!hasLinkedin') -
      .form-wrapper(v-if="isEditMode")
        b-form(@submit="onSubmit")
          b-row
            cw-input-form(:label="$t('app.profile.details.EMAIL') + ' *'" cols="12" sm="4" name="email")
              b-form-input(id="email" v-model="newPublicProfile.email" disabled)
            cw-input-form(:label="$t('app.profile.details.PHONE_NUMBER')" cols="12" sm="4" name="phoneNumber")
              b-form-input(id="phoneNumber" v-model="newPublicProfile.phoneNumber")
            cw-input-form(:label="$t('app.profile.details.PHONE_EXTENSION')" cols="12" sm="4" name="phoneExtension")
              b-form-input(id="phoneExtension" v-model="newPublicProfile.phoneExtension")
          b-row
            b-col
              legend {{ $t('app.profile.details.SOCIAL_NETWORKS') }}
          b-row
            cw-input-form(:label="$t('app.profile.details.SKYPE')" cols="12" sm="4" name="skype.username")
              b-form-input(id="skype.username" v-model="newSocialMediaProfiles.skype.username")
            cw-input-form(:label="$t('app.profile.details.TWITTER')" cols="12" sm="4" name="twitter.username")
              b-form-input(id="twitter.username" v-model="newSocialMediaProfiles.twitter.username")
            cw-input-form(:label="$t('app.profile.details.FACEBOOK')" cols="12" sm="4" name="facebook.profileUrl")
              b-form-input(id="facebook.profileUrl" v-model="newSocialMediaProfiles.facebook.profileUrl")
          b-row
            cw-input-form(:label="$t('app.profile.details.LINKEDIN')" cols="12" sm="4" name="linkedin.profileUrl")
              b-form-input(id="linkedin.profileUrl" v-model="newSocialMediaProfiles.linkedin.profileUrl")
          b-row
            b-col.text-right
              b-button.mr-1(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
              b-button(type='submit' variant="primary") {{ $t('button.SAVE') }}

</template>
<script>
import { pick } from 'lodash'
import { mapGetters } from 'vuex'
import { PublicProfiles } from '../../../resources'
export default {
  name: 'CwPublicProfileDetails',
  props: {
    editable: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isEditMode: false,
      newPublicProfile: {},
      newSocialMediaProfiles: {},
      twitter: 'twitter',
      facebook: 'facebook',
      skype: 'skype',
      linkedin: 'linkedin'
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile',
      socialMediaProfiles: 'publicProfile/getSocialMediaProfiles'
    }),
    hasTwitter () {
      return (this.socialMediaProfiles.twitter && this.socialMediaProfiles.twitter.username)
    },
    hasFacebook () {
      return (this.socialMediaProfiles.facebook && this.socialMediaProfiles.facebook.profileUrl)
    },
    hasLinkedin () {
      return (this.socialMediaProfiles.linkedin && this.socialMediaProfiles.linkedin.profileUrl)
    },
    hasSkype () {
      return (this.socialMediaProfiles.skype && this.socialMediaProfiles.skype.username)
    }
  },
  methods: {
    edit (evt) {
      // preparamos el objeto con la misma estructura que requiere el back
      let pprof = this.publicProfile
      this.newPublicProfile = pick(pprof, [
        'name',
        'surname',
        'email',
        'phoneNumber',
        'phoneExtension',
        'summary',
        'skills',
        'socialMediaProfiles',
        'lastPosition',
        'previousCompanies',
        'lastEducation'
      ])
      this.newPublicProfile.location = pick(this.publicProfile.location, ['city', 'stateRegion', 'country'])
      let countryCode = this.newPublicProfile.location.country.id
      this.newPublicProfile.location.country = '/countries/' + countryCode
      this.newSocialMediaProfiles = this.$util.deepClone(this.socialMediaProfiles)
      this.isEditMode = true
    },
    cancel () {
      this.isEditMode = false
    },
    onSubmit (evt) {
      evt.preventDefault()
      const p = PublicProfiles.updateDetails(this.publicProfile.id, this.newPublicProfile, this.newSocialMediaProfiles)
      this.$asyncLoading(p).then(
        (response) => {
          this.$toast.success(this, 'Contact details have been updated successfully', 'Contact details')
          let socialReturn = { '_embedded': { 'socialMediaProfiles': [response[1].data, response[2].data, response[3].data, response[4].data] } }
          this.$store.dispatch('publicProfile/load', { publicProfile: response[0].data, socialMediaProfile: socialReturn })
          this.isEditMode = false
        }
      )
    }
  }
}
</script>
<style lang="scss">
.cw-public-profile-details-container {
  .card-title {
    text-transform: uppercase;
    color: $primary;
    font-size: $font-size-lg;
    font-weight: 700;
  }

  .card-subtitle {
    text-transform: uppercase;
    font-size: $font-size-sm;
    margin-bottom: 1.5rem !important;
  }
}
</style>
