<template lang="pug">
  b-form(@submit="onSubmit")
    b-row
      cw-input-form(:label="$t('app.profile.details.EMAIL') + ' *'" cols="12" sm="4" name="email")
        b-form-input(id="email" v-model="newPublicProfile.email" disabled)
      cw-input-form(:label="$t('app.profile.details.PHONE_NUMBER')" cols="12" sm="4" name="phoneNumber")
        b-form-input(id="phoneNumber" v-model="newPublicProfile.phoneNumber")
      cw-input-form(:label="$t('app.profile.details.PHONE_EXTENSION')" cols="12" sm="4" name="phoneExtension")
        b-form-input(id="phoneExtension" v-model="newPublicProfile.phoneExtension")
    b-row
      b-col.header-title {{ $t('app.profile.details.SOCIAL_NETWORKS') }}
    b-row
      cw-input-form(:label="$t('app.profile.details.SKYPE')" cols="12" sm="4" name="skype.username")
        b-form-input(id="skype.username" v-model="newSocialMediaProfiles.skype.username")
      cw-input-form(:label="$t('app.profile.details.TWITTER')" cols="12" sm="4" name="twitter.username")
        b-form-input(id="twitter.username" v-model="newSocialMediaProfiles.twitter.username")
      cw-input-form(:label="$t('app.profile.details.FACEBOOK')" cols="12" sm="4" name="facebook.profileUrl")
        b-form-input(id="facebook.profileUrl" v-model="newSocialMediaProfiles.facebook.profileUrl")
    b-row
      cw-input-form(:label="$t('app.profile.details.LINKEDIN')" cols="12" sm="4" name="linkedin.profileUrl")
        b-form-input(id="linkedin.profileUrl" v-model="newSocialMediaProfiles.linkedin.profileUrl")
    b-row
      b-col.text-right
        b-button.mr-2(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
        b-button(type='submit' variant="primary") {{ $t('button.SAVE') }}
</template>
