<template lang="pug">
  .cw-search-pagination
    //- los botones de next y prev quitarlos
    b-pagination( v-model="currentPage", :total-rows="total", :per-page="size", @change="onChangePage")
  </template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
export default {
  name: 'CwSearchPagination',
  props: {
    totalRows: {
      type: Number,
      required: true
    },
    filterType: {
      type: String,
      default: 'professional'
    },
    pageSize: {
      type: Number,
      default: 20
    }
  },
  data () {
    return {
      currentPage: 1
    }
  },
  computed: {
    ...mapGetters({
      total: 'search/getResultTotal',
      size: 'search/getFilterSize',
      page: 'search/getFilterPage'
    })
  },
  watch: {
    perPage: {
      immediate: true,
      handler (newSize) {
        this.$store.commit('search/SET_FILTER_SIZE', newSize || 20)
      }
    }
  },
  methods: {
    ...mapMutations({
      setPage: 'search/SET_FILTER_PAGE',
      setSize: 'search/SET_FILTER_SIZE'
    }),
    ...mapActions({
      fetchResults: 'search/fetchResults'
    }),
    onChangePage(page) {
      this.currentPage = page
      this.setPage(page - 1)
      this.$loading(true)
      this.fetchResults()
        .then(_ => {
          this.$loading(false)
        })
    }
  }
}
</script>
<style lang="scss" scope>
.cw-search-pagination {
  .pagination > .active {
    border-width: 0 0 5px;
    border-bottom-color: #1ba5ee;
  }
  .pagination > .disabled {
    border-width: 0 0 5px;
    border-bottom-color: #1ba5ee;
  }

  .pagination > li:hover,
  .pagination > li:focus {
    box-shadow: none;
  }

  .page-item .page-link {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .page-item.disabled .page-link {
    color: #d0d0d0;
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: transparent;
  }
  .page-item.active .page-link {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 0px 0px #1ba5ee;
  }
}
</style>
