<template lang="pug">
.cw-search-advanced-pagination
  //- los botones de next y prev quitarlos
  b-pagination( v-model="currentPage", :total-rows="totalRows", :per-page="size", @change="onChangePage")
</template>
<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
export default {
  name: 'CwSearchPagination',
  props: {
    totalRows: {
      type: Number,
      required: true
    },
    filterType: {
      type: String,
      default: 'professional'
    }
  },
  data () {
    return {
      currentPage: 1
    }
  },
  computed: {
    ...mapGetters({
      //total: 'search/getResultTotal',
      size: 'search/getFilterSize',
      page: 'search/getFilterPage'
    })
  },
  methods: {
    ...mapMutations({
      setPage: 'search/SET_FILTER_PAGE'
    }),
    ...mapActions({
      fetchResults: 'search/fetchResults'
    }),
    onChangePage (page) {
      this.$store.commit('search/setFilterType', this.filterType)
      this.currentPage = page
      const pageIndex = page - 1 // Convierte el número de página de 1-indexed a 0-indexed
      this.setPage(pageIndex)
      this.$loading(true)
      this.fetchResults()
        .then(_ => {
          this.$loading(false)
          this.$emit('pageChange', pageIndex)
        })
    }
  }
}
</script>
<style lang="scss" scope>
.cw-search-advanced-pagination {
  .pagination > .active {
    border-width: 0 0 5px;
    border-bottom-color: #1ba5ee;
  }
  .pagination > .disabled {
    border-width: 0 0 5px;
    border-bottom-color: #1ba5ee;
  }

  .pagination > li:hover,
  .pagination > li:focus {
    box-shadow: none;
  }

  .page-item .page-link {
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  .page-item.disabled .page-link {
    color: #d0d0d0;
    cursor: not-allowed;
    background-color: #f5f5f5;
    border-color: transparent;
  }
  .page-item.active .page-link {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: none;
    box-shadow: 0px 5px 0px 0px #1ba5ee;
  }
}
</style>
