<template lang="pug">
  .field-id-container
    .labels
      .list-inline
        span.text-italic {{ criteria.label }}:&nbsp;
        span.text-italic.text-thin.text-muted(v-if="!query && values.length === 0") {{ $t('search.ADD_MULTIPLE_VALUES') }}
        span.text-thin(v-if="query && query.isoCode") {{ query.isoCode }}
        cw-tag(v-for="(value, index) in values" :key="value.id" :text="value.title" color="text" removable @remove="onRemoveValue(index)")
    .input-group  
      input.form-control.input-sm(
        type="text" 
        name="quicksearchProfessional" 
        v-model="query" 
        :placeholder="$t('search.TYPE_HERE')" 
        autocomplete="off" 
        @input="onInput" 
        @keydown.down.prevent="onArrowDown" 
        @keydown.up.prevent="onArrowUp" 
        @keydown.enter.prevent="onEnter")
      .loading(v-if="loading")
        i.fa.fa-spinner.fa-pulse.fa-fw
        |  {{ $t('search.LOADING') }}
      .no-results(v-if="noResults && query")
        i.fa.fa-close
        |  {{ $t('search.NO_RESULTS') }}
      ul.typeahead-dropdown(v-if="showDropdown")
        li(
          v-for="(item, index) in searchResults" 
          :key="item.id" 
          :class="{ active: index === activeIndex }" 
          @click="select(item)"
        )
          cw-search-advanced-filter-field-id-results(:match="item" :query="query")
</template>

<script>
import IdFilterResults from './IdFilterResults.vue';
import { Users } from '../../../../../resources';
import _ from 'lodash';

export default {
  props: {
    field: { type: Object, required: true },
    selected: { type: Boolean, required: true },
    viewText: { type: String, default: '' },
    placeholder: { type: String, default: '' },
    actionText: { type: String, default: 'Go!' },
    onSelect: { type: Function }
  },
  components: {
    'cw-search-advanced-filter-field-id-results': IdFilterResults,
  },
  data() {
    return {
      query: '',
      values: [],
      criterias: [{ value: 'IS_KEYCODE', label: 'Is' }],
      criteria: { value: 'IS_KEYCODE', label: 'Is' },
      loading: false,
      noResults: false,
      searchResults: [],
      activeIndex: -1,
      showDropdown: false
    };
  },
  watch: {
    selected (newVal) {
      if (!newVal) {
        this.values = []
        this.criteria = this.criterias[0]
      }
    },
    viewText: {
      immediate: true,
      handler(newVal) {
        if (newVal && this.selected) {
          this.query = newVal;
        }
      }
    }
  },
  methods: {
    onInput() {
      if (this.query) {
        this.search(this.query);
      } else {
        this.searchResults = [];
        this.showDropdown = false;
      }
    },
    getIdFromUri(link) {
      if (!link) return '';
      const parts = link.split('/').filter(part => part.length > 0);
      return parts[parts.length - 1];
    },
    search(query) {
      this.loading = true;
      this.noResults = false;
      const criteria = {
        query: query,
        type: 'professional',
        fieldsFilter: [],
        pageable: {
          page: 0,
          size: 30,
          sort: [{ property: 'name', direction: 'asc' }]
        }
      };
      Users.searchProfessionals(criteria)
        .then(results => {
          const hits = _.get(results, 'data.searchHits.professional.hits', []);
          this.searchResults = _.map(hits, hit => {
            let info = {};
            if (hit.text) {
              try {
                info = JSON.parse(hit.text);
              } catch (e) {
                info = {};
              }
            }
            return {
              id: this.getIdFromUri(hit.link),
              title: hit.title,
              subtitle: hit.subtitle,
              photoUrl: info.profilePhotoUrl,
              businessUnit: _.join(info.organizationalUnits, ', '),
              link: hit.link
            };
          });
          if (this.searchResults.length === 0) {
            this.noResults = true;
          }
          this.showDropdown = true;
          this.activeIndex = -1;
        })
        .catch(error => {
          console.error(error);
          this.searchResults = [];
          this.noResults = true;
        })
        .finally(() => {
          this.loading = false;
        });
    },
    select(item) {
      if (this.onSelect) {
        this.onSelect(item);
      }
      this.addValue(item);
      this.query = '';
      this.searchResults = [];
      this.showDropdown = false;
    },
    addValue(item) {
      if (!this.isInValues(item)) {
        this.values.push(item);
        this.createFilter(this.criteria, this.values);
      }
    },
    onRemoveValue(index) {
      this.values.splice(index, 1);
      if (this.values.length === 0) {
        if (this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`] && this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`][this.field.name]) {
          this.$delete(this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`], this.field.name);
        }
      }
      this.createFilter(this.criteria, this.values);
    },
    createFilter(criteria, values) {
      this.$emit('add-filter', {
        criteria,
        label: values.map(value => value.title).join(', '),
        values: values.map(value => value.id)
      });
    },
    isInValues(item) {
      return this.values.some(v => v.id === item.id);
    },
    updateValues(filter) {
      const labels = filter.label.split(', ');
      this.values = filter.values.map((value, index) => ({
        id: value,
        title: labels[index]
      }));
    },
    onArrowDown() {
      if (this.searchResults.length > 0) {
        if (this.activeIndex < this.searchResults.length - 1) {
          this.activeIndex++;
        }
      }
    },
    onArrowUp() {
      if (this.searchResults.length > 0) {
        if (this.activeIndex > 0) {
          this.activeIndex--;
        }
      }
    },
    onEnter() {
      if (this.activeIndex >= 0 && this.activeIndex < this.searchResults.length) {
        this.select(this.searchResults[this.activeIndex]);
      }
    }
  },
  created () {
    if (this.selected) {
      const filtersKey = `advancedSelectedFilters_${this.$parent.$parent.type}`;
      const filters = this.$root[filtersKey] || {};
      const filter = filters[this.field.name] || null;
      if (filter) {
        this.updateValues(filter);
      } else {
        this.values = [];
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.field-id-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;

  .labels {
    display: flex;
    align-items: center;

    .input-group-btn {
      margin-right: 5px;

      i {
        margin-right: 5px;
      }
    }
  }

  .input-group{
    .form-control {
      height: 30px !important;
      font-size: 12px;
      width: 100% !important;
    }
  }

  .loading {
    margin-top: 5px;
    font-size: 12px;
    color: #999;
  }

  .no-results {
    margin-top: 5px;
    font-size: 12px;
    color: red;
  }

  .typeahead-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    background: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 100%;
    left: 0;
    margin-top: 4px;
  }

  .typeahead-dropdown li {
    padding: 8px 16px;
    cursor: pointer;
  }

  .typeahead-dropdown li.active {
    background-color: #007bff;
    color: white;
  }

  .typeahead-dropdown li:hover {
    background: #D0D0D0;
  }
}



</style>