<template lang="pug">
  a.media(href="#")
    .pull-left
      img.media-object.img-circle.img-xxs(:src="match.photoUrl || require('@/assets/images/avatar.jpg')")
    .media-body
      h6.media-heading(v-html="highlight(match.title, query)")
      p {{ match.subtitle }}
      p {{ match.businessUnit }}
</template>

<script>
export default {
  name: 'IdFilterResults',
  props: {
    match: { type: Object, required: true },
    query: { type: String, required: true }
  },
  methods: {
    highlight(text, query) {
      if (!query || !text) return text;
      const regex = new RegExp(`(${query})`, 'gi');
      return text.replace(regex, '<strong class="highlight">$1</strong>');
    }
  }
};
</script>

<style lang="scss">
.media {
  display: flex;
  align-items: flex-start;
}

.pull-left {
  margin-right: 10px;
}

.img-xxs {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.media-heading {
  margin: 0;
  font-size: 12px;
}

a.media {
  color: gray;
  text-decoration: none;
}

strong.highlight {
  color: #135588 !important;
}

</style>