<template lang="pug">
.me-profile-container
  cw-profile-loader(v-if="isLoading")
  .has-error(v-if="hasError")
    cw-page-not-found
  b-container.mt-3(v-if="!isLoading && !hasError" fluid)
    cw-public-profile-summary
    cw-public-profile-details
    cw-public-profile-experience
    cw-public-profile-education
    cw-public-profile-languages
    cw-public-profile-skills
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { onError } from 'catenonLib/services/errorHandlers'

export default {
  data () {
    return {
      isLoading: true,
      error: null
    }
  },
  computed: {
    ...mapGetters({
      currentUser: 'auth/getCurrentUser'
    }),
    hasError () {
      return !!this.error
    }
  },
  mounted () {
    this.loadPublicProfile(this.currentUser.id)
      .then(_ => {
        this.isLoading = false
      })
      .catch(onError)
  },
  methods: {
    ...mapActions({
      loadPublicProfile: 'publicProfile/loadById'
    })
  }
}
</script>

<style lang="scss">
.me-profile-container {
}
</style>
