<template lang="pug">
//-Al usar los componentes, por ejemplo, cw-panel, que dentro tiene mas elementos como panel-header, hay que utilizar el elemento
//-template, pasando por el atributo "slot", el nombre del elemento interno que se quiera usar.
//-En angular era directamente el elemento panel-header, en vue es el elemento template(slot="panel-header")
b-container(fluid).browse-container
  cw-search-filters-mobile
  b-row.panel-browse(:class="{'disable': getStateMenu}")
    b-col.letters(cols="12" lg="12")
      cw-search-letters
  b-row
    b-col.filter.pr-0(sm="3" md="3" lg="3")
      cw-search-filters
    b-col.browse(cols="12" sm="9" md="9" lg="9" :class="{'active': getStateMenu}")
        div.panel-body
          cw-panel
            template(#header-title)
              span(v-if="!query") {{ $t('search.browser.BROWSE_RESULTS_TITLE', { total}) }}
              span(v-if="query") {{ $t('search.browser.SEARCH_RESULTS_TITLE', { total, query }) }}
            template(#header-actions)
              cw-search-order-by(:label="$t('app.browser.ORDER_BY')" :values="orderBy")
            template(#body)
              b-row
                b-col
                  b-button(variant="link" @click="resetAllFilters") reset filters
                  cw-result-hit(v-if='getUsers().length' v-for="hit in getUsers()")
                    template(#hit-left)
                      img.avatar-image(:src="getImageUrl(hit.text.profilePhotoUrl)")
                    template(#hit-body @click='findProfessional(hit.entityId)')
                      .title {{hit.title}}
                      .subtitle {{hit.subtitle}}
                      .organizationalUnits
                        span(v-for="ou in hit.text.organizationalUnits") {{ ou+'. ' }}
                      .contact
                        a.email(v-if='hit.text.workEmail' href="#") {{hit.text.workEmail}}
                        span(v-if='hit.text.workEmail && hit.text.workPhone') &nbsp;|&nbsp;
                        span(v-if='hit.text.workPhone') {{' '+hit.text.workPhone}}
                      .startDate(v-if='hit.text.startDate') {{ $t('app.professional.START_DATE')+': ' }}{{ hit.text.startDate | hitDate }}
                    template(#hit-right)
                      b-badge Action
          div.pagination(cols="12" md="12" lg="9")
            cw-search-pagination()
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
import { Users } from 'catenonLib/resources'

export default {
  name: 'Browser',
  data () {
    return {
      name: 'Browse',
      results: false,
      usersTotal: null,
      users: [],
      loading: false,
      page: 1
    }
  },
  computed: {
    ...mapGetters({
      total: 'search/getResultTotal',
      // total: 'users/getTotal',
      query: 'search/getQuicksearch'
    }),
    getStateMenu () {
      return this.$store.getters['ui/getToggleMenu']
    },
    orderBy () {
      // genera la lista de order by
      return [
        { property: 'name', direction: 'asc', name: this.$t('app.browser.NAME') },
        { property: 'startDate', name: this.$t('app.browser.DATE') }
        // { property: 'positionName', name: this.$t('app.browser.POSITION') }
      ]
    }
  },
  mounted () {
    // this.$loading(true)
    // const filters = {
    //   query: '',
    //   type: 'professional',
    //   fieldsFilter: [
    //     { name: 'validationStatus', values: ['Activated'] },
    //     { name: 'active', values: [true] }
    //   ],
    //   pageable: {
    //     page: 1, size: 10, sort: []
    //   }
    // }
    // this.fetchResults(filters)
    // this.$loading(false)
    // this.$store.commit('search/setFilters', filters)
    // inicializa los parametros de búsqueda
    // this.$store.commit('search/setFilterPage', this.page - 1)
    this.fetchResults()
  },
  methods: {
    ...mapActions({
      fetchResults: 'search/fetchResults',
      resetFilters: 'search/resetFilters'
    }),
    ...mapMutations({
      onToggleMenu: 'ui/setToggleMenu',
      onCloseMenu: 'ui/setCloseMenu'
      // setUsers: 'users/setUsers',
      // setFacets: 'search/setFacets'
    }),
    ...mapGetters({
      // getUsers: 'users/getUsers',
      getUsers: 'search/getResultHits',
      getOrder: 'users/getOrder',
      getLetterFilter: 'search/getLetters',
      getFacetsFilter: 'search/getFacets',
      getOrderByFilter: 'search/getOrderBy',
      getPaginationFilter: 'search/getPagination',
      getDirection: 'users/getDirection'
    }),
    findProfessional (id) {
      this.$loading(true)
      Users.getProfessional(id).then((results) => {
        let profileId = this.$util.getIdFromUrl(results.data._links.publicProfile.href)
        this.$router.push(`/publicProfile/${profileId}`)
        this.$loading(false)
      })
    },
    hasResults () {
      // console.log('mostrando resultados')
    },
    toggle: function () {
      this.showFilter = !this.showFilter
    },
    resetAllFilters () {
      this.resetFilters()
      this.fetchResults()
    },
    getImageUrl (image) {
      return image || require('@/assets/images/avatar.png')
    }
  }
}
</script>

<style lang="scss">
.browse-container {
  position: relative;
  .container {
    max-width: none;
  }
  .orderby-title {
    background: #fff;
    box-shadow: none !important;
    border: none;
    font-size: $font-size-base;
    font-weight: 400;
    span.title {
      color: $catenon-blue;
    }
    &:hover {
      color: $gray-lighter;
    }
  }
  .total-label {
    background: #fff;
    box-shadow: none !important;
    border: none;
  }
  .panel-browse {
    background: $catenon-body-bg;
  }
  .panel-browse.disable {
    overflow: hidden;
    background: $gray-dark;
  }
  .facets {
    padding: 5px;
  }
  .letters.disable {
    overflow: hidden;
  }

  .panel-title {
    font-size: $font-size-large;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: $catenon-blue;
    text-transform: none;
    white-space: nowrap;
  }
  .panel-actions {
    white-space: nowrap;
  }

  .browse.active {
    opacity: 0.5;
    height: 100vh;
  }
  .pagination {
    justify-content: center;
  }

  // @media (max-width: (575px)) {
  @include media-breakpoint-down(xs) {
    padding-top: 1rem;
    .card {
      .card-header {
        flex-direction: column;
        align-items: flex-start;
        .header-actions {
          .orderby-item-container {
            padding-left: 0;
            .list-title {
              padding: 0;
            }
          }
        }
      }
    }

    .letters {
      display: none;
    }
    .mobileFilter {
      display: flex;
    }
    .filter {
      display: none;
    }

    .filters-mobile-container {
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
      z-index: 1050;
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background-color: black;
        opacity: 0.5;
        z-index: 1060;
      }
    }

    #filterBox {
      position: absolute;
      opacity: 0;
      border-radius: 10px;
      transition: all 0.5s;
      margin-left: 200px;
      margin-top: 10px;
    }

    #filterBox.active {
      position: absolute;
      top: 50px;
      z-index: 1;
      box-shadow: 0px 0px 1px 1px $navbar-bg;
      opacity: 0.95;
      border-radius: 10px 0px 0px 10px;
      visibility: visible;
      margin-top: 20px;
      margin-bottom: 10px;
      padding-right: 20px;
      margin-left: 24vw;
      min-width: 75vw;
      transition: all 0.5s;
    }
    .sidebarBox {
      padding-top: 1.5vh;
      padding-bottom: 1vh;
      border-radius: 5px;
      max-height: 60vh;
      overflow-y: scroll;
      background: $catenon-body-bg;
    }
    .buttons {
      display: flex;
      justify-content: space-evenly;
      padding: 2vw;
    }
    .resetButton {
      background: $navbar-bg;
    }
  }

  @include media-breakpoint-up(xs) {
    .mobileFilter {
      display: none;
    }
  }
}
</style>
