<template lang="pug">
  b-container.components-container(fluid)
    cw-panel(title="Components")
      b-row.mt-3.mb-3(align-v="center")
        b-col
          cw-avatar(:src="userImg" size="sm" @onCropper="onCropper")
        b-col
          cw-avatar(:src="companyImg" @onCropper="onCropper")
        b-col
          cw-avatar(size="lg" square @onCropper="onCropper")
        b-col
          cw-avatar(size="xl" square full @onCropper="onCropper")
    cw-panel(title="Loading page")
      b-row.mt-3
        b-col
          b-button(variant="primary" @click="refresh()") {{"Loading page"}}
    cw-panel(title="Toasts")
      b-row
        cw-input-label(label="Success toast" emptyText="" cols="3")
          b-button(variant="success" @click="successToast") Toast it
        cw-input-label(label="Error toast" emptyText="" cols="3")
          b-button(variant="danger" @click="errorToast") Toast it
        cw-input-label(label="Success toast (i18n)" emptyText="" cols="3")
          b-button(variant="success" @click="successToastI18N") Toast it with key
        cw-input-label(label="Error toast (i18n)" emptyText="" cols="3")
          b-button(variant="danger" @click="errorToastI18N") Toast it with key
    cw-panel(title="Tags")
      b-row
        b-col
          cw-tag(text="Default")
          cw-tag(variant="primary" text="Primary")
          cw-tag(variant="secondary" text="Secondary")
          cw-tag(variant="success" text="Success")
          cw-tag(variant="danger" text="Danger")
          cw-tag(variant="warning" text="Warning")
          cw-tag(variant="info" text="Info")
          cw-tag(variant="light" text="Light")
          cw-tag(variant="dark" text="Dark")
      b-row
        cw-input-label(label="Con boton CLOSE")
          cw-tag(v-for="(tag,index) in tags" :id="index" :text="tag" removable @remove="removeTag")

    b-tabs(content-class='mt-3')
      b-tab(title="Profile" active)
        p Profile data
      b-tab(title="Account")
        p Account data
      b-tab(title="Roles")
        p Roles data

</template>

<script>
import { setTimeout } from 'timers'
import { CatenonAPI as api } from 'catenonLib/auth'
export default {
  data () {
    return {
      tags: ['España', 'Austra', 'Perú', 'Colombia', 'Canada']
    }
  },
  computed: {
    companyImg () {
      return require('@/assets/images/placeholder-company.png')
    },
    userImg () {
      return require('@/assets/images/placeholder-user.png')
    }
  },
  methods: {
    removeTag (index) {
      this.tags.splice(index, 1)
    },
    refresh () {
      // eslint-disable-next-line promise/param-names
      const p = new Promise((success) => {
        setTimeout(success, 2000)
      })
      this.$asyncLoading(p).then(() => { console.log('loaded') })
    },
    successToast () {
      this.$toast.success(this, 'Success title', 'Successful text')
    },
    errorToast () {
      this.$toast.error(this, { name: 'Error title', message: 'Error pasado como objeto' })
    },
    successToastI18N () {
      this.$toast.success(this, 'app.DESCRIPTION')
    },
    errorToastI18N () {
      this.$toast.error(this, 'app.DESCRIPTION')
    },
    onCropper (formData) {
      api.USER.post(`/companies/86556/logo`, formData, {
        headers: {
          'Content-Type': undefined
        }
      }).then(results => {
        this.$toast.success(this, 'avatar.UPDATED')
        this.$store.commit('publicProfile/SET_PROFILE_PHOTO_URL', results.data.downloadUri)
        this.$loading(false)
      }).catch(error => {
        this.$toast.error(this, error.message)
        this.$loading(false)
      })
    }

  }
}
</script>

<style lang="scss">
.components-container {
  margin-top: 1rem
}
</style>
