<template lang="pug">
  b-container.dashboard-container(fluid)
    b-row
      b-col
        cw-panel(title="Pendientes")
          ul
            li.line Axios, recarga
            li Axios, interceptor toast y redirect (EL)
            li Resources, clase que se pueda extender (EL)
            li.line loading de las peticiones, cancelar la ejecución (JL)
            li.line uniformizar nombres de componentes
            li.line revisar lodash
            li cambiar literales por traducciones
            li.line Sacar seach como plugin (JL)
            li Controlar los error 500 (EL)
            li Toast a todas las peticiones (JL)
            li.line Generarar libs para app-base
</template>

<script>

export default {
  components: {
  },
  data () {
    return {
    }
  },
  mounted () {

  },
  methods: {
  }
}
</script>

<style lang="scss">
.dashboard-container {
  padding: 15px;
  .line {
    text-decoration: line-through
  }

}
</style>
