<template lang="pug">
  b-container.helpers-container(fluid)
    cw-panel(title="Algunos ejemplo de helpers")
      b-row
        b-col
          h5 parseMimeType
          p Tipo 'json/application' se transforma a: {{ mimeType('json/application') }}

</template>

<script>
export default {
  methods: {
    mimeType (mime) {
      return this.$util.parseMimeType(mime)
    }
  }
}
</script>

<style lang="scss">
.helpers-container {
  margin-top: 15px;
}
</style>
