<template lang="pug">
  b-container.icons-container(fluid)
    cw-panel(title="Open Iconics (.oi.oi-*)")
      b-row
        b-col
          p
            span.oi.oi-menu.icon-xs
            span.oi.oi-menu.icon-sm
            span.oi.oi-menu
            span.oi.oi-menu.icon-lg
            span.oi.oi-menu.icon-xl
            span.oi.oi-document.icon-xs
            span.oi.oi-document.icon-sm
            span.oi.oi-document
            span.oi.oi-document.icon-lg
            span.oi.oi-document.icon-xl
            span.oi.oi-calendar.icon-xs
            span.oi.oi-calendar.icon-sm
            span.oi.oi-calendar
            span.oi.oi-calendar.icon-lg
            span.oi.oi-calendar.icon-xl
          //- i.uil.uil-bars.icon-xs
          //- i.uil.uil-bars.icon-sm
          //- i.uil.uil-bars
          //- i.uil.uil-bars.icon-lg
          //- i.uil.uil-bars.icon-xl
          //- i.uil.uil-document.icon-xs
          //- i.uil.uil-document.icon-sm
          //- i.uil.uil-document
          //- i.uil.uil-document.icon-lg
          //- i.uil.uil-document.icon-xl
          //- i.uil.uil-calender.icon-xs
          //- i.uil.uil-calender.icon-sm
          //- i.uil.uil-calender
          //- i.uil.uil-calender.icon-lg
          //- i.uil.uil-calender.icon-xl
    cw-panel(title="Glyphicon (.gi.gi-*)")
      b-row
        b-col
          p
            i.gi.gi-plus.icon-xs
            i.gi.gi-plus.icon-sm
            i.gi.gi-plus
            i.gi.gi-plus.icon-lg
            i.gi.gi-plus.icon-xl
            i.gi.gi-th
            i.gi.gi-calendar
            i.gi.gi-chevron-down
            i.gi.gi-menu-hamburger
      b-row
        b-col
          h2
            i.gi.gi-plus
            i.gi.gi-th
            i.gi.gi-calendar
    cw-panel(title="Bootstrap Icons (b-icon)")
      b-row
        b-col
          h1
            b-icon.mr-1(icon="exclamation-circle-fill" variant="danger")
            b-icon.mr-1(icon="battery-full")
            b-icon.mr-1(icon="calendar")
            b-icon.mr-1(icon="plus")
            b-icon.mr-1(icon="grid-3x3-gap-fill")
            b-icon(icon="archive")
    cw-panel(title="Buttons ()")
      b-row
        b-col
          h6 Glyphicon
          b-button.mr-1(size="sm" variant="primary")
            i.gi.gi-plus
            | Menu
          b-button.mr-1( variant="primary")
            i.gi.gi-plus
            | Menu
          b-button.mr-1(size="lg"  variant="primary")
            i.gi.gi-plus
            | Menu
          h6 BIcon
          b-button.mr-1(size="sm" variant="primary")
            b-icon-plus
            | Menu
          b-button.mr-1( variant="primary")
            b-icon-plus(scale="1.5")
            | Menu
          b-button.mr-1(size="lg"  variant="primary")
            b-icon-plus
            | Menu
</template>

<script>
// export default {};
</script>

<style lang="scss">
.icons-container {
  margin-top: 15px;
  span,
  i {
    margin-right: 5px;
  }
}
</style>
