<template lang="pug">
  b-container.icons-container(fluid)
    cw-panel(title="Input Labels")
      b-row
        cw-input-label(label="Solo label" empty-text="-" cols="6")
        cw-input-label(label="Solo label" empty-text="No hay datos" cols="6")
        cw-input-label(label="Solo label con ícono" empty-text="-" cols="6" icon="pencil")
        cw-input-label(label="Solo label con texto" text="Con todas las propiedades" empty-text="No hay datos" cols="6")
        cw-input-label(label="Solo label con texto enorme y read-more" empty-text="")
          p(v-read-more="50") {{ largeText }}
      b-row
        b-col
          h3 Inline
      b-row
        cw-input-label(label="Solo label" empty-text="-" cols="6" inline)
        cw-input-label(label="Solo label" empty-text="No hay datos" cols="6" inline)
        cw-input-label(label="Solo label con ícono" empty-text="-" cols="6" icon="pencil" inline)
        cw-input-label(label="Solo label con texto" text="Con todas las propiedades" empty-text="No hay datos" cols="6" inline)

    cw-panel(title="Validation Form (Vuelidate)")
      b-form(name="form2" @submit.stop.prevent="onSave2")
        b-row
          b-col
            b-row
              cw-input-form(label="Username*" id="username" :validate="$v.form2.username")
                b-form-input(id="username" v-model="form2.username" :state="isValid($v.form2.username)" @blur="$v.form2.username.$touch()")
            pre {{ $v.form2.username }}
          b-col
            b-row
              cw-input-form(label="Surname*" id="surname"  :validate="$v.form2.surname")
                b-form-input(id="surname" v-model="form2.surname" :state="isValid($v.form2.surname)" @blur="$v.form2.surname.$touch()")
            pre {{ $v.form2.surname }}
          b-col
            b-row
              cw-input-form(label="Email*" id="email"  :validate="$v.form2.email")
                b-form-input(id="email" v-model="form2.email" :state="isValid($v.form2.email)" @blur="$v.form2.email.$touch()")
            pre {{ $v.form2.email }}
        b-row
          b-col.text-right
            b-button.mr-2(variant="outline-primary" @click="onReset") {{ $t('button.RESET') }}
            b-button(type='submit' variant="primary") {{ $t('button.SAVE') }}

    cw-panel(title="Prepend & Append")
      b-row
        cw-input-form(label="Prepend - template(#prepend)" cols="4")
          template(#prepend)
            b-input-group-prepend(is-text)
              i.oi.oi-calendar
            b-form-input()
        cw-input-form(label="Normal" cols="4")
          b-form-input()
        cw-input-form(label="Append - template(#append)" cols="4")
          template(#prepend)
            b-form-input()
            b-input-group-append(is-text)
              i.oi.oi-calendar

    cw-panel(title="Typeahead")
      b-row
        cw-input-form(label="Default (min-matching-chars = 2)" cols="4")
          cw-vue-bootstrap-typeahead(v-model="query" :data="paises" placeholder="Enter a text...")
        cw-input-form(label="Show all (min-matching-chars = 0)" cols="4")
          cw-vue-bootstrap-typeahead(v-model="queryAll" :data="paises" placeholder="Enter a text..." :min-matching-chars="0")
        cw-input-form(label="Show all (open-on-focus=true)" cols="4")
          cw-vue-bootstrap-typeahead(v-model="queryAll" :data="paises" placeholder="Enter a text..." :min-matching-chars="0" :open-on-focus="true")

    cw-panel(title="Checkbox")
      b-row
        b-col
          b-form-checkbox(switch v-model="checked" size="sm") Small Checked
          b-form-checkbox(v-model="checked" switch) Normal Checked
          b-form-checkbox(v-model="checked" switch size="lg") Large Checked
        b-col
          b-form-checkbox(switch size="sm") Small
          b-form-checkbox(switch) Normal
          b-form-checkbox(switch size="lg") Large

</template>

<script>

import { required, email } from 'vuelidate/lib/validators'

export default {
  name: 'Inputs',
  data () {
    return {
      demo: {
        fullname: 'Javier Valero',
        list: ['uno', 'dos', 'tres']
      },
      checked: true,
      form2: {},
      query: '',
      queryAll: '',
      paises: ['Canada', 'United States', 'Mexico', 'España', 'Austria', 'Perú'],
      largeText: 'At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.'
    }
  },
  validations: {
    dummy: { required },
    form2: {
      username: { required },
      surname: { required },
      email: { required, email }
    }
  },
  methods: {
    submit (evt) {
      evt.preventDefault()
      this.$bvToast.toast('Form has been updated successfully', {
        variant: 'success',
        title: 'Input form',
        solid: true
      })
    },
    onSave2 () {
      this.$v.form2.$touch()
      // if (!this.$v.form.$invalid) {
      // }
    },
    onReset () {
      this.$v.form2.$reset()
    },
    isValid (field) {
      return this.$util.isValidField(field)
    }
  }
}
</script>

<style lang="scss">
.icons-container {
  margin-top: 15px;
  span,
  i {
    margin-right: 5px;
  }
}
</style>
