<template lang="pug">
.loaders-container.mt-3(fluid)
  h6 cw-profile-loader
  cw-profile-loader
  hr
  h6 cw-results-loader(:times="3")
  cw-results-loader(:times="3")
  //- hr
  //- h6 cw-item-result-loader
  //- cw-item-result-loader
  hr
  h6 cw-browser-loader(:times="4") - Solo valores pares
  cw-browser-loader(:times="4")
</template>

<script>
export default {
}
</script>

<style lang="scss">
.loaders-container {
  h6 {
    margin-left: 15px;
    font-weight: 600
  }
}
</style>
