<template lang="pug">
  .panels-container
    cw-panel
      p Panel sin título, solo contenedor y body por defecto

    cw-panel(title="Título como atributo")
      p #body

    cw-panel(:title="$t('app.profile.PROFILE')")
      template(#header-actions)
        span Acciones
      template(#body)
        p Panel usado con slots y titulo con i18n
      template(#footer)
        p Footer

    cw-panel
      template(#header-title) Todos los slots
      template(#header-actions)
        b-button(v-show="!isEditMode" variant="link" @click="edit")
          i.oi.oi-pencil
          |  {{ $t('button.EDIT') }}
        b-button(v-show="isEditMode" variant="link" @click="cancel") {{ $t('button.CANCEL') }}
      template(#body)
        p(v-show="!isEditMode") Panel usado con slots y titulo con i18
        p(v-show="isEditMode") Se usan las condiciones
      template(#footer)
        p Footer

</template>

<script>
export default {
  data () {
    return {
      isEditMode: false
    }
  },
  methods: {
    edit () {
      this.isEditMode = true
    },
    cancel () {
      this.isEditMode = false
    }
  }
}
</script>

<style lang="scss">
.panels-container {
  padding: 15px;
}
</style>
