<template lang="pug">
  .profile-container(fluid)
    cw-public-profile-summary
      template(#extra-info)
        h6 Aqui extra info (#extra-info)
    cw-public-profile-details
    cw-public-profile-experience
    cw-public-profile-education
    cw-public-profile-languages
    cw-public-profile-skills
</template>

<script>
// import { PublicProfiles } from 'catenonLib/resources'
// import axios from 'axios'
export default {
  mounted () {
    this.$loading(true)
    this.loadData().then(this.$loading(false)).catch()
  },
  methods: {
    // loadPublicProfile () {
    //   PublicProfiles.getPublicProfile(this.$route.params.id)
    //     .then(results => {
    //       this.$store.dispatch('publicProfile/load', { publicProfile: results.data })
    //     })
    //     .catch(error => {
    //       console.error('profile not found', error)
    //     })
    // },
    // loadSocialMediaProfiles () {
    //   PublicProfiles.loadSocialMediaProfiles(this.$route.params.id)
    //     .then(results => {
    //       this.$store.dispatch('publicProfile/load', { socialMediaProfile: results.data })
    //     })
    //     .catch(error => {
    //       console.error('socail media profiles not found', error)
    //     })
    // },
    // loadEducations () {
    //   PublicProfiles.loadProfileEducation(this.$route.params.id)
    //     .then(results => {
    //       this.$store.dispatch('publicProfile/load', { profileEducation: results.data })
    //     })
    //     .catch(error => {
    //       console.error('profile education not found', error)
    //     })
    // },
    // loadProfessionalExperiences () {
    //   PublicProfiles.loadResources().then((response) => {
    //     this.$store.dispatch('publicProfile/loadResources', { sectors: response[0].data, areas: response[1].data })
    //     PublicProfiles.loadProfessionalExperiences(this.$route.params.id)
    //       .then(results => {
    //         this.$store.dispatch('publicProfile/load', { professionalExperiences: results.data })
    //       })
    //       .catch(error => {
    //         console.error('professional experiences not found', error)
    //       })
    //   })
    // },
    // loadData () {
    //   return axios.all([
    //     this.loadPublicProfile(),
    //     this.loadSocialMediaProfiles(),
    //     this.loadEducations(),
    //     this.loadProfessionalExperiences()
    //   ])
    // }
  }
}
</script>

<style lang="scss">
.profile-container {
  padding: 15px;
}
</style>
