<template lang="pug">
  .cw-search-advanced-filters
    .panel-group
      .panel.selected-filters
        .panel-body
          label {{ $t('search.SELECTED_FILTERS') }}
          ul.list-unstyled(v-if="!isHorizontal")
            li(v-for="(filter, key) in selectedFilters" :key="key")
              a(@click="onRemoveFilter(key)" style="margin-right: 5px;")
                i.gi.gi-remove
              span.text-bold {{ $t(`search.filters.${key}`) }}
              span &nbsp;
              span.text-italic(v-if="filter.criteria && filter.criteria.label") {{ filter.criteria.label.toLowerCase() }}
              span &nbsp;
              span(v-if="filter.label") {{ filter.label }}
              template(v-else v-for="(value, index) in filter.values")
                span {{ value }}
                span(v-if="index < filter.values.length - 1") , 
          .selected-filters-container(v-if="isHorizontal")
            .selected-filters-columns
              .selected-filter-column(v-for="(group, colIndex) in chunkedFields(Object.entries(selectedFilters), 4)" :key="colIndex")
                .selected-filter(v-for="([key, filter], keyIndex) in group" :key="keyIndex")
                  a(@click="onRemoveFilter(key)" style="margin-right: 5px;")
                    i.gi.gi-remove
                  span.text-bold {{ $t(`search.filters.${key}`) }}
                  span &nbsp;
                  span.text-italic(v-if="filter.criteria && filter.criteria.label") {{ filter.criteria.label.toLowerCase() }}
                  span &nbsp;
                  span(v-if="filter.label") {{ filter.label }}
                  template(v-else v-for="(value, index) in filter.values")
                    span {{ value }}
                    span(v-if="index < filter.values.length - 1") , 
          .buttons.text-right(v-if="hasSelectedFilters")
            button.btn.btn-link(@click="onClearAllFilters") {{ $t('search.CLEAR_ALL') }}
            button.btn.btn-primary.btn-xs(@click="onApplyFilters") {{ $t('search.APPLY') }}
          p.text-italic(v-if="!hasSelectedFilters") {{ $t('search.NO_FILTERS_SELECTED') }}
      .panel-group(v-if="!isHorizontal")
        .panel(v-for="(filter, index) in searchFilters" :key="index")
          .panel-title(@click="filter.collapsed = !filter.collapsed")
            i.gi(:class="filter.collapsed ? 'gi-caret-right' : 'gi-caret-down'")
            span {{ $t(`search.filters.${filter.name}`).toUpperCase() }}
          .panel-body(v-if="!filter.collapsed")
            cw-search-advanced-filter-field(v-for="(field, idx) in filter.filters" :key="idx" :field="field")
        .panel(v-if="!searchFilters.length")
          .panel-body
            p.text-italic {{ $t('search.NO_FILTERS_FOUND') }}
      .panel-group.horizontal(v-if="isHorizontal" class="horizontal-filters")
        .panel(v-for="(filter, index) in searchFilters" :key="index" class="filter-item")
          .panel-title(@click="filter.collapsed = !filter.collapsed")
            i.gi(:class="filter.collapsed ? 'gi-caret-right' : 'gi-caret-down'")
            span {{ $t(`search.filters.${filter.name}`).toUpperCase() }}
          .panel-body(v-if="!filter.collapsed" class="horizontal-filter-columns")
            .column.horizontal(v-for="(group, colIndex) in chunkedFields(filter.filters, 3)" :key="colIndex")
              cw-search-advanced-filter-field(v-for="(field, idx) in group" :key="idx" :field="field")
</template>

<script>
export default {
  name: "AdvancedFilters",
  props: {
    filters: {
      type: [Object, Array],
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    isHorizontal: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      searchFilters: [],
      recruitmentSources: [],
      selectedFilters: {},
      hasSelectedFilters: false,
    };
  },
  watch: {
    filters: {
      handler(newFilters) {
        if (newFilters) {
          this.processFilters(newFilters);
        }
      },
    },
    '$parent.selectedFilters': {
      deep: true,
      handler(newFilters) {
        if (!newFilters[this.field.name]) {
          this.isSelected = false;
        }
      }
    }
  },
  methods: {
    initializeFilters() {
      const savedFilters = this.$root[`advancedSelectedFilters_${this.type}`];
      
      if (savedFilters && Object.keys(savedFilters).length > 0) {
        this.selectedFilters = { ...savedFilters };
        this.hasSelectedFilters = true;
      }
    },

    processFilters(filters) {
      this.searchFilters = [];
      if (filters.searchFilters) {
        filters.searchFilters.forEach((filter) => {
          filter.filters.forEach((item) => {
            if (item.type === "multiple") {
              const lowerCaseName = item.name.toLowerCase();
              let camelCaseName = lowerCaseName.replace(/_([a-z])/g, (match, letter) => letter.toUpperCase());

              if (this.type == 'financialRecord' && camelCaseName.toLowerCase().includes("organizationalunit") && camelCaseName.length != "organizationalunit".length) {
                camelCaseName = "organizationalUnit";
              }

              switch (camelCaseName) {
                case "evaluations":
                  item.values = filters[camelCaseName].map(({ name }) => ({ keyCode: name, name }));
                  break;
                case "businessUnit":
                case "organizationalUnit":
                  item.values = filters[camelCaseName].map(({ id, name }) => ({ keyCode: id, name }));
                  break;
                case "mediaName":
                  item.values = this.recruitmentSources.map(({ id, recruitmentMedia }) => ({
                    keyCode: recruitmentMedia.id,
                    name: recruitmentMedia.name,
                  }));
                  break;
                case "stage":
                  item.values = filters[camelCaseName].map(({ abbreviation }) => ({ keyCode: abbreviation }));
                  break;
                default:
                  if (filters[camelCaseName]?._embedded === undefined) {
                    if ("keyCode" in filters[camelCaseName][0]) {
                      item.values = filters[camelCaseName].map(({ keyCode, name }) => ({ keyCode, name }));
                    } else if ("code" in filters[camelCaseName][0]) {
                      item.values = filters[camelCaseName].map(({ code, name }) => ({ keyCode: code, name }));
                    } else if ("isoCode" in filters[camelCaseName][0]) {
                      item.values = filters[camelCaseName].map(({ isoCode, name }) => ({ keyCode: isoCode, name }));
                    } else if ("abbreviation" in filters[camelCaseName][0]) {
                      item.values = filters[camelCaseName].map(({ abbreviation, name }) => ({ keyCode: abbreviation, name }));
                    } else if ("name" in filters[camelCaseName][0]) {
                      item.values = filters[camelCaseName].map(({ name }) => ({ keyCode: name, name }));
                    }
                  } else {
                    item.values = filters[camelCaseName]._embedded[camelCaseName];
                  }
                  break;
              }
            }

            if (item.type === "bool") {
              item.values = [
                { keyCode: "true", name: "Yes" },
                { keyCode: "false", name: "No" },
              ];
            }

            if (filter.name === "SALARY_INFORMATION") {
              item.isCurrency = true;
              item.values = filters["currencies"];
            }

            if (filter.name === "SALE_INFORMATION") {
              item.isCurrency = true;
              item.values = filters["currency"];
            }
          });
          this.searchFilters.push(filter);
        });
      }
    },

    onApplyFilters() {
      const selectedFiltersCopy = {...this.selectedFilters}

      const fieldFilters = Object.keys(selectedFiltersCopy).map((key) => {
        const filter = selectedFiltersCopy[key];
        return {
          name: filter.field,
          operation: filter.criteria ? filter.criteria.value : null,
          values: filter.values
        }
      })

      this.$root[`advancedSelectedFilters_${this.type}`] = {...selectedFiltersCopy}
      this.$root[`advancedFieldFilters_${this.type}`] = [...fieldFilters]

      this.$nextTick(() => {
        this.$emit("onApplyFilters", { 
          fieldFilters: [...fieldFilters],
          selectedFilters: {...selectedFiltersCopy}, 
          type: this.type 
        })

        this.selectedFilters = {...selectedFiltersCopy};
        this.hasSelectedFilters = Object.keys(selectedFiltersCopy).length > 0
      })
    },

    onClearAllFilters() {
      this.selectedFilters = {}
      this.hasSelectedFilters = false
      
      delete this.$root[`advancedSelectedFilters_${this.type}`]
      delete this.$root[`advancedFieldFilters_${this.type}`]
      this.$emit("onClearAllFilters", { type: this.type })
      this.$root.$emit('searchAdvancedFilters:clearAllChecks')
    },

    onRemoveFilter(filterKey) {
      this.$delete(this.selectedFilters, filterKey);
      this.hasSelectedFilters = Object.keys(this.selectedFilters).length > 0;

      this.$root[`advancedSelectedFilters_${this.type}`] = { ...this.selectedFilters }
      this.$root.$emit('searchAdvancedFilters:removeCheck', filterKey)

      if (!this.hasSelectedFilters) {
        this.onClearAllFilters();
      }
    },
    chunkedFields (fields, chunkSize) {
      const chunks = []
      for (let i = 0; i < fields.length; i += chunkSize) {
        chunks.push(fields.slice(i, i + chunkSize))
      }
      return chunks
    }
  },
  updated() {
    // Sólo inicializa si aún no hay filtros seleccionados
    if (Object.keys(this.selectedFilters).length === 0) {
      this.initializeFilters();
    }
  }
};
</script>

<style scoped lang="scss">
.cw-search-advanced-filters {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  .panel-group {
    &.horizontal {
      width: 100%;
    }

    .panel {
      padding: 10px 10px;
      margin-bottom: 0;
      border-bottom: none;
      box-shadow: none;

      &.selected-filters {
        border-bottom: 1px solid #e5e5e5;
        margin-bottom: 10px;
      }

      .panel-title {
        padding: 0;
        line-height: 25px;
        font-size: 0.95rem;
        color: inherit;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;

        i {
          margin-left: 10px;
          width: 10px;
        }
      }

      .panel-body {
        //padding: 0 5px;

        &.in.collapse {
          padding-bottom: 0;
        }

        &.facet-default {
          .input-group {
            margin-bottom: 10px;

            &.input-group-icon {
              .form-control {
                padding: 0 5px;
                border-radius: 0;
                height: 28px;
              }

              .input-group-addon {
                padding: 6px 0 0;
              }
            }
          }
        }

        .facet-item {
          margin: 5px 0 0;

          .ellipsed-container {
            width: 80%;

            .ellipsed {
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .ellipsed-button {
              cursor: pointer;
            }
          }
        }
      }
    }

    .text-italic {
      font-style: italic;
    }
  }
}

.horizontal-filters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 10px;
  overflow: visible;
}

.filter-item {
  flex: 1 0 auto;
  min-width: 200px;
  margin-bottom: 10px;
}

.horizontal-filter-columns {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: flex-start;
}

.column.horizontal {
  flex: 0 0 auto;
  min-width: 120px; 
  max-width: 220px; 
  margin-right: 20px;

  .ellipsed-container {
    width: 100% !important; 
  }

  .ellipsed {
    white-space: normal !important;
    word-wrap: break-word;
    overflow: visible !important;
    text-overflow: clip !important;
  }
}


.selected-filters-columns {
  display: flex;
  gap: 20px;
}

.selected-filter-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


</style>