<template lang="pug">
  .cw-public-profile-skills-container
    cw-panel(:title="$t('publicProfile.SKILLS')")
      template(#header-actions)
        b-button(v-if="editable" v-show="!isEditMode" variant="link" @click="edit")
          i.oi.oi-plus
          |  {{ $t('button.ADD') }}
        b-button(v-show="isEditMode" variant="link" @click="cancel") {{ $t('button.CANCEL') }}
      template(#body)
        .view-wrapper(v-if="!isEditMode")
          b-row
            b-col
              cw-tag(v-for="(skill, index) in publicProfile.skills" :key="index" :text="skill")
          em.text-muted(v-if="!publicProfile.skills || !publicProfile.skills.length") {{ $t('publicProfile.skill.NO_SKILLS') }}
        .form-wrapper(v-if="isEditMode")
          b-row.skills-tags(:key='updateKeys')
            cw-tag(v-for="(skill, index) in newPublicProfile.skills" :key="index" :text="skill" removable :id="index" @remove='removeSkill')
          b-row
            b-col
              b-form.form-button-skill(@submit.prevent="addSkill")
                b-input-group(size="sm")
                  b-form-input(label-for="skillName" v-model="newSkill" required autofocus)
                  b-input-group-append
                      b-button.mr-1#button-addSkill(variant="outline-primary"  type='submit') {{ $t('button.ADD') }}
          b-row
            b-col.text-right
              b-button.mr-1(variant="outline-primary" @click="cancel") {{ $t('button.CANCEL') }}
              b-button(type='submit' variant="primary" @click="onSubmit") {{ $t('button.SAVE') }}
</template>

<script>
import { includes, pick, clone } from 'lodash'
import { mapGetters, mapActions } from 'vuex'
// import { PublicProfiles } from 'catenonLib/resources'
export default {
  name: 'CwPublicProfileSkills',
  props: {
    editable: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      isEditMode: false,
      newPublicProfile: {},
      newSkill: '',
      updateKeys: 0
    }
  },
  computed: {
    ...mapGetters({
      publicProfile: 'publicProfile/getPublicProfile'
    })
  },
  methods: {
    ...mapActions({
      updatePublicProfile: 'publicProfile/updatePublicProfile'
    }),
    addSkillParent (skill) {
      this.tags.push(skill)
    },
    edit () {
      this.isEditMode = true
      // preparamos el objeto con la misma estructura que requiere el back
      let pprof = clone(this.publicProfile)
      this.newPublicProfile = pick(pprof, ['name', 'surname', 'email', 'phoneNumber', 'phoneExtension', 'summary', 'socialMediaProfiles', 'lastPosition', 'previousCompanies', 'lastEducation'])
      this.newPublicProfile.skills = this.$util.deepClone(pprof.skills)
      this.newPublicProfile.location = this.$util.pickObj(this.publicProfile.location, ['city', 'stateRegion', 'country'])
      let countryCode = this.newPublicProfile.location.country.id
      this.newPublicProfile.location.country = '/countries/' + countryCode
    },
    cancel () {
      this.newSkill = ''
      this.isEditMode = false
    },
    onSubmit (evt) {
      evt.preventDefault()
      this.$loading(true)
      // PublicProfiles.update(this.publicProfile.id, this.newPublicProfile)
      this.updatePublicProfile({ id: this.publicProfile.id, data: this.newPublicProfile })
        .then(results => {
          this.$toast.success(this, 'Skills updated successfully', 'app.profile.SKILLS')
          // this.$store.dispatch('publicProfile/load', { publicProfile: results.data })
          this.isEditMode = false
          this.$loading(false)
        })
        .catch(error => {
          console.error(error)
          this.$loading(false)
        })
    },
    addSkill (evt) {
      if (!includes(this.newPublicProfile.skills, this.newSkill) && this.newSkill) {
        this.newPublicProfile.skills.push(this.newSkill)
      }
      // if (this.newSkill !== '') { this.newPublicProfile.skills.push(this.newSkill) }
      this.newSkill = ''
    },
    removeSkill (index) {
      this.newPublicProfile.skills.splice(index, 1)
      this.updateKeys++
    }
  }
}
</script>
<style lang="scss">
.cw-public-profile-skills-container {
  .skills-tags {
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 0px;
    // .badge {
    //   color: $catenon-white;
    //   font-size: 85%;
    //   background: $gray-light;
    //   padding: 8px 15px;
    //   margin-right: 10px;
    //   margin-top: 10px;
    //   border-radius: $badge-border-radius;
    //   align-self: center;
    //   .editable {
    //     cursor: pointer;
    //   }
    // }
  }
  .form-button-skill {
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-top: 2px;
  }
  #button-addSkill {
    border-radius: 0px 20px 20px 0px;
  }
  .form-group {
    margin-bottom: 0px;
  }
}
</style>
