<template lang="pug">
.cw-searchletters-container
  b-nav(pills fill justified small)
    b-nav-item(@click="onApplyFilter('ALL')" :active="isSelected('ALL')") All
    b-nav-item(v-for="(letter, index) in letters" :key="index" @click="onApplyFilter(letter)" :active="isSelected(letter)") {{ letter }}
</template>
<script>
// import Vue from 'vue'
import { mapActions, mapMutations } from 'vuex'
export default {
  name: 'CwSearchLetters',
  data: function () {
    return {
      letter: 'ALL',
      letters: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'Ñ', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
    }
  },
  methods: {
    ...mapActions({
      fetchResults: 'search/fetchResults'
    }),
    ...mapMutations({
      setFilterLetters: 'search/SET_FILTER_LETTERS'
    }),
    isSelected (letter) {
      return this.letter === letter
    },
    onApplyFilter (value) {
      this.letter = value
      this.setFilterLetters(value)
      // console.log('searchletters fetchresults')
      this.$loading(true)
      this.fetchResults()
        .then(_ => {
          this.$loading(false)
        })
    }
  }
}
</script>
<style lang="scss">
.cw-searchletters-container {
  .nav {
    margin: 0.5rem 0;
    .nav-item {
      margin: 1px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      a {
        background-color: $gray-600;
        border-radius: 2px;
        color: $white;
        padding: 0.25rem 0.5rem;
        &:hover {
          background-color: $gray-800;
        }
        &.active {
          background-color: $gray-900;
        }
      }
    }
  }
}
</style>
