<template lang="pug">
  .field-boolean-container.form-group
    select.form-control.input-sm(
      :id="'field-input-' + field.name", 
      v-model="query", 
      @change="onChangeValue"
    )
      option(
        v-for="value in field.values", 
        :key="value.keyCode", 
        :value="value"
      ) {{ value.name }}
</template>

<script>
export default {
  name: 'BooleanFilter',
  props: {
    field: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      query: null,
      values: [],
    };
  },
  watch: {
    selected: {
      handler(newSelected) {
        if (newSelected) {
          const selectedValue = this.field.values.find(value => value.keyCode === newSelected[0]);
          this.query = selectedValue ? selectedValue : this.field.values[0];
          this.onChangeValue();
        }
      },
      immediate: true,
    },
  },
  methods: {
    onChangeValue() {
      this.values = this.query ? [this.query] : []
      this._createFilter(this.values)
    },
    _createFilter(values) {
      if (values && values.length > 0) {
        this.$emit('add-filter', {
          criteria: { value: 'BOOL' },
          label: values[0].name,
          values: [values[0].keyCode]
        })
      }
    }
  },
  created() {
    // Al crearse, si el filtro está seleccionado y hay un filtro previamente guardado, se asigna
    if (this.selected) {
      const filtersKey = `advancedSelectedFilters_${this.$parent.$parent.type}`;
      const filters = this.$root[filtersKey] || {};
      const filter = filters[this.field.name] || null;
      if (filter) {
        this.query = this.field.values.find(value => value.keyCode === filter.values[0]) || this.field.values[0]
      }
    }
  }
}
</script>

<style scoped>
.field-boolean-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;

  .labels {
    display: flex;
    align-items: center;

    .input-group-btn {
      margin-right: 5px;

      i {
        margin-right: 5px;
      }
    }
  }

}

.form-control {
  font-size: 12px;
  height: 30px;
}
</style>
