<template lang="pug">
  .unauthorized-container
    strong Unauthorized &nbsp;
    button.btn.btn-primary(type="button" @click="login") Login
    //- button.btn.btn-primary.btn-link(type="button" @click="logout") Logout
</template>

<script>
export default {
  methods: {
    login (e) {
      e.preventDefault()
      this.$store.dispatch('auth/login', { vm: this.$root })
      // this.$auth.$config.providerUrl = "https://wso2-is.catenon.com";
      // this.$auth.loginWithRedirect();
    }
    // logout(e) {
    //   e.preventDefault();
    //   // this.$auth.$config.providerUrl = "https://wso2-is.catenon.com";
    //   this.$auth.logoutWithRedirect();
    // }
  }
}
</script>
