<template lang="pug">
.error-page-container.mt-3
  .container-fluid
    .jumbotron.text-center.mar-top
      h1
        i.oi.oi-warning.text-danger
        |  401 Unauthorized
      //- p.lead
      //-   | {{ text }}
      .mt-5
        button.btn.btn-primary.btn-lg(@click="login") {{ $t('error.GOTO_LOGIN') }}
  .container-fluid
    .row
      .col-md-12
        h5 {{ $t('error.WHAT_HAPPENED') }}
        p.lead {{ $t(`error.MESSAGE_401`) }}
    hr
    //- img.pull-rigth(src="../../assets/images/catenon.png" alt="Catenon")
</template>

<script>
export default {
  methods: {
    login () {
      console.log(this)
      this.$auth.loginWithRedirect()
    }
  }
}
</script>
