<template lang="pug">
.loading-component
  slot
  transition(name='component-fade')
    .loading(v-if='loading')
      #preloader.preloadera
        .spinner
          span
          span
          span
</template>
<script>
export default {
  data () {
    return {
      loading: false
    }
  }
}
</script>
<style lang="scss">
.loading-component {
  .component-fade-enter-active,
  .component-fade-leave-active {
    transition: opacity 0.3s ease;
  }
  .component-fade-enter,
  .component-fade-leave-active {
    opacity: 0;
  }
  .loading {
    position: fixed;
    z-index: 9;
    top: 56px;
    padding-bottom: 56px;
    //modificar left para hacerlo responsive
    cursor: wait;
    background: #ffffffa6;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .loading .preloadera {
    transition: opacity 0.5s;
    margin-top: 20px;
  }
  .preloadera .spinner span {
    display: inline-block;
    margin: 0 2px;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-animation: 1s infinite bubble ease-in-out;
    animation: 1s infinite bubble ease-in-out;
  }
  .preloadera .spinner span:nth-child(1) {
    background-color: $catenon-lightblue;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .preloadera .spinner span:nth-child(2) {
    background-color: $catenon-lightblue;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .preloadera .spinner span:nth-child(3) {
    background-color: $catenon-lightblue;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
}
</style>
