<template lang="pug">
  .cw-result-hit-container
    .hit-left(v-if="$slots['hit-left']")
      slot(name="hit-left")
    .hit-body(v-if="$slots['hit-body']")
      slot(name="hit-body")
    .hit-right(v-if="$slots['hit-right']")
      slot(name="hit-right")
    .hit-body(v-if="$slots.default")
      slot
</template>

<script>
export default {
  name: 'CwResultHit'
}
</script>

<style lang="scss">
.cw-result-hit-container {
  display: flex;
  margin: 0 -0.5rem;
  padding: 1rem 0.5rem;

  &:hover {
    background-color: $hit-hover-bg;
  }
  .hit-left {
    align-self: center;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  .hit-body {
    align-self: center;
    flex: 1;
    margin: 0;
    cursor: pointer;
    .title {
      font-size: $font-size-base;
      font-weight: 700;
      // margin-bottom: 2px;
    }
    .subtitle {
      color: $catenon-blue-font;
      font-weight: 600;
      // margin-bottom: 2px;
    }
    .extra {
      color: gray;
    }
    .contact {
      display: inline-flex;
      flex-direction: row;
      .email {
        color: $catenon-lightblue;
      }
    }
  }
  .hit-right {
    align-self: center;
    margin: 0 0.5rem;
  }

  @include media-breakpoint-down(sm) {
    .hit-left {
      margin-left: 0;
    }
    .hit-body {
      margin-right: 0;
    }
    .hit-right {
      display: none;
    }
  }

  @include media-breakpoint-down(xs) {
    .hit-left {
      display: none;
    }
    // .hit-body {
    //   margin-left: 0;
    // }
    // .hit-right {
    //   display: none;
    // }
  }
}
</style>
