<template lang="pug">
router-link.cw-link-container(:to="to" :title="label")
  b-icon.ml-2.mr-3(v-if="icon && isSidebarMini" :icon="icon" scale="1.5")
  span.text-nowrap  {{ label }}
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'CwLink',
  props: {
    to: {
      type: String,
      default: null
    },
    icon: {
      type: String,
      default: null
    },
    label: {
      type: String,
      default: 'Link To'
    }
  },
  computed: {
    ...mapGetters({
      isSidebarMini: 'ui/isSidebarMini'
    })
  }
  // methods: {
  //   goto () {
  //     // :to="to"
  //     if (this.to) {
  //       this.$router.push(this.to)
  //     }
  //   }
  // }
}
</script>
// <style lang="scss">
.cw-link-container {
  height: 44px;
  overflow-x: hidden;
  align-items: center;
}
</style>
