<template lang="pug">
.cw-sidebar-container
  .sidebar-info(v-if="$slots.info && !isSidebarMini")
    slot(name="info")

  .sidebar-menu(v-if="$slots.menu")
    slot(name="menu")

  .sidebar-default.sidebar-menu()
    slot

  .sidebar-footer(v-if="!isSidebarMini")
    small © {{ $t('sidebar.COPYRIGHT') }} {{ currentYear }}
  .sidebar-footer(v-else)
    small(:title="`© ${$t('sidebar.COPYRIGHT')} ${currentYear}`") ©{{ currentYear }}
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      isSidebarMini: 'ui/isSidebarMini'
    }),
    currentYear () {
      return this.$moment().format('YYYY')
    }
  },
  methods: {
    ...mapMutations({
      toggleSidebar: 'ui/toggleSidebar'
    })
  }
}
</script>

<style lang="scss">
.cw-sidebar-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $gray-base;
  display: flex;
  flex-direction: column;

  .sidebar-info {
    margin-top: 25px;
    padding: 5px 5px 0;
    background-color: lighten($catenon-blue, 5%);
    text-align: center;
    color: $gray-100;

    .title {
      font-weight: bold;
    }

    .subtitle {
      text-transform: uppercase;
      color: $gray-100;
      font-weight: 600;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .text {
      color: $gray-100;
    }
  }

  .sidebar-menu {
    margin-top: 25px;
    flex: 2 1 auto;
    overflow-y: auto;

    .sidebar-menu-title {
      padding: 15px;
      margin: 0;
      font-size: $font-size-md;
      color: $gray;
      text-transform: uppercase;
    }

    a {
      display: flex;
      padding: 10px;
      font-weight: 600;
      color: $white;
      text-transform: uppercase;
      border-left: 5px solid $gray-base;
      -webkit-transition: background-color 0.05s linear 0.05s;
      transition: background-color 0.05s linear 0.05s;

      &:hover {
        color: $white;
        background-color: $gray-800;
        border-left: 5px solid lighten($catenon-blue, 25%);
        text-decoration: none;
      }

      &.router-link-active {
        // -webkit-transition: background-color 0.1s;
        // transition: background-color 0.1s;
        background-color: darken($catenon-blue, 5%);
        border-left: 5px solid lighten($catenon-blue, 25%);
      }
    }
  }

  .sidebar-footer {
    padding: 1rem 0;
    text-align: center;
    color: $gray-600;
  }

  // @include media-breakpoint-up(lg) {
  // }
}
</style>
