<template lang="pug">
.cw-order-by-container
  span.title {{ label }}:
  .order-by-items-container
    b-button(v-for="(order, index) in orderBy" :key="order.property" variant="link" class="custom-link-button" @click='applyOrderBy(index)')
      .sort-box.visible(v-if="order.direction")
        i.oi.oi-caret-top(:class="{ 'active': order.direction==='asc'}")
        i.oi.oi-caret-bottom(:class="{ 'active': order.direction==='desc'}")
      span {{ order.name }}
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex'
export default {
  name: 'CwSearchOrderBy',
  props: {
    label: {
      type: String,
      default: ''
    },
    values: {
      type: Array,
      default: function () {
        return []
      }
    },
    filterType: {
      type: String,
      default: 'professional'
    }
  },
  data () {
    return {
      orderBy: this.values
    }
  },
  computed: {
    ...mapGetters({
      orderByFilters: 'search/getFilterSort'
    })
  },
  methods: {
    ...mapMutations({
      addRemoveFilterSort: 'search/ADD_REMOVE_FILTER_SORT',
      setFilterSort: 'search/SET_FILTER_SORT'
    }),
    ...mapActions({
      fetchResults: 'search/fetchResults'
    }),
    applyOrderBy (index) {
      // Actualizamos el tipo en el store según la prop filterType
      this.$store.commit('search/setFilterType', this.filterType)
      // detecta el ícono actual para cambiarlo al siguiente estado
      const order = this.orderBy[index]
      if (!order.direction) {
        order.direction = 'asc'
      } else if (order.direction === 'asc') {
        order.direction = 'desc'
      } else if (order.direction === 'desc') {
        delete order.direction
      }
      // Reseteamos la dirección de todos los demás botones
      this.orderBy = this.orderBy.map((order, i) => {
        if (i !== index) {
          // Se elimina la propiedad direction para que no se muestre el icono
          if (order.direction) {
            delete order.direction
          }
        }
        return order
      })
      // hace que el array sea reactivo
      this.$set(this.orderBy, index, order)
      // Emitir solo si el orden cambió
      this.$nextTick(() => {
        if (order.direction) {
          let orderBy = [{
            direction: order.direction,
            property: order.property 
          }]
          this.$emit('changeOrder', orderBy);
        } else {
          let orderBy = []
          this.$emit('changeOrder', orderBy);
        }
      });
      this.$loading(true)
      this.addRemoveFilterSort(order)
      this.fetchResults()
        .finally(_ => {
          this.$loading(false)
        })
    }
  }
}
</script>

<style lang="scss">
.cw-order-by-container {
  font-size: $font-size-small;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: none;
  max-width: 500%;
  justify-content: flex-end;
  .title {
    color: #135588;
  }
  .order-by-items-container {
    margin-left: 0.5rem;
    display: flex;
    .custom-link-button {
      color: #1ba5ee !important;
      transition: color 0.2s ease-in-out;

      &:hover,
      &:focus {
        color: darken(#1ba5ee, 50%) !important; // Se oscurece un 10% al pasar el ratón
      }
    }
    .btn {
      display: flex;
      align-content: center;
      padding: 0;
      .sort-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-content: center;
        font-size: $font-size-sm;
        margin-right: 0.1rem;
        // width: 15px;
        opacity: 0;
        .oi {
          line-height: 0.7;
          &.active {
            color: $secondary;
          }
        }
        &.visible {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        margin: 0 5px;
        width: 1px;
        height: 15px;
        align-self: center;
        background-color: $gray-400;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }
  }
  // #ob-toggle {
  //   cursor: pointer;
  // }
  // .list-title {
  //   margin-right: 7px;
  //   padding: 0.2rem;
  //   .orderby-title {
  //     display: inline-block;
  //     .title {
  //       font-size: $font-size-small;
  //       white-space: nowrap;
  //     }
  //   }
  // }
  // .orderby-item-list {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  //   transition: none;
  //   cursor: pointer;
  //   .orderby-order {
  //     display: flex;
  //     background: white;
  //     box-shadow: none !important;
  //     border: none;
  //     padding: 0.2rem;
  //   }
  // }
  // @media (max-width: 575px) {
  //   #ob-no-toggle {
  //     display: none;
  //   }
  // }
  // @media (min-width: (575px)) {
  //   #ob-toggle {
  //     display: none;
  //   }
  // }
}
</style>
