<template lang="pug">
  .field-range-container
    .labels(v-if="field.isCurrency")
      .list-inline
        .input-group-btn
          .btn-group.dropdown
            button.btn.btn-sm.dropdown-toggle(type="button" @click="toggleDropdown")
              span.symbol {{ selectedCurrency.symbol }}
              span.caret
            ul.dropdown-menu(v-show="isDropdownOpen")
              li(v-for="currency in field.values" :key="currency.keyCode")
                a.dropdown-item(@click="onChangeCurrency(currency)") {{ currency.symbol }} — {{ currency.name }}
        span.text-italic.ml-2 {{ selectedCurrency.symbol }} — {{ selectedCurrency.name }}
  
    form.input-group(@submit.prevent="onSubmit")
      input.form-control.input-sm(
        type="number"
        v-model.number="queryMin"
        @change="onChangeValue('queryMin')"
        :class="{ 'is-invalid': formErrorFor && formErrorFor.queryMin }"
        :placeholder="$t('search.MIN_VALUE')"
      )
      span &nbsp;—&nbsp;
      input.form-control.input-sm(
        type="number"
        v-model.number="queryMax"
        @change="onChangeValue('queryMax')"
        :class="{ 'is-invalid': formErrorFor && formErrorFor.queryMax }"
        :placeholder="$t('search.MAX_VALUE')"
      )
    div.alert.alert-danger(v-if="formErrorFor") {{ formErrorFor }}
</template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      selectedCurrency: {
        keyCode: 'EUR',
        name: 'Euro',
        symbol: '€'
      },
      queryMin: null,
      queryMax: null,
      isDropdownOpen: false,
      formErrorFor: null
    };
  },
  watch: {
    selected(newVal) {
      if (!newVal) {
        this.queryMin = null;
        this.queryMax = null;
        this.selectedCurrency =  {
          keyCode: 'EUR',
          name: 'Euro',
          symbol: '€'
        }
      }
    }
  },
  methods: {
    toggleDropdown() {
      this.isDropdownOpen = !this.isDropdownOpen;
    },
    onChangeCurrency(currency) {
      this.selectedCurrency = currency;
      if (this.queryMin !== null || this.queryMax !== null) {
        this.createFilter();
      }
      this.isDropdownOpen = false;
    },
    onChangeValue(inputName) {
      if (!this.validateForm(inputName)) {
        return;
      }
      this.createFilter();
    },
    validateForm(inputName) {
      this.formErrorFor = null;

      if (this.queryMin !== null && this.queryMax !== null) {
        const isValidRange = parseInt(this.queryMin) <= parseInt(this.queryMax);
        if (!isValidRange) {
          this.formErrorFor = `${this.$t('search.ERROR_RANGE')}`;
          return false;
        }
      }

      return true;
    },
    createFilter() {
      const values = [];
      values.push(this.queryMin !== null ? this.queryMin : 0);
      values.push(this.queryMax !== null ? this.queryMax : null);
      let label = `${this.queryMin ? this.queryMin : '0'} - ${this.queryMax ? this.queryMax : 'Max'}`;

      if (this.field.isCurrency) {
        label = `${this.selectedCurrency.symbol}${this.queryMin ? this.queryMin : '0'} - ${this.selectedCurrency.symbol}${this.queryMax ? this.queryMax : 'Max'}`;
        values.push(this.selectedCurrency.keyCode);
      }

      this.$emit('add-filter', {
        criteria: { value: 'BETWEEN' },
        label,
        values
      });
    }
  },
  created () {
    if (this.selected) {
      const filtersKey = `advancedSelectedFilters_${this.$parent.$parent.type}`;
      const filters = this.$root[filtersKey] || {};
      const filter = filters[this.field.name] || null;
      if (filter) {
        this.queryMin = filter.values[0];
        this.queryMax = filter.values.length > 1 ? filter.values[1] : null;
        if (filter.values.length > 2) {
          this.selectedCurrency = this.field.values.find(
            value => value.keyCode === filter.values[2]
          );
        }
      }
    }
  }
};
</script>

<style scoped>
.field-range-container {
  .input-group {
    display: flex;
    width: 100%;

    .form-control {
      width: auto;
      min-width: 80px;
    }

    .is-invalid {
      border-color: red;
    }
  }
}

/* Ajuste para que el dropdown se posicione como en Bootstrap */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
}
  
.form-control {
  width: 40% !important;
  font-size: 12px;
  height: 30px;
}

.symbol,
.caret {
  font-size: 16px;
}
</style>
