.app-container {
  width: 100%;
  height: 100%;

  .header-container {
    position: fixed;
    height: $catenon-navbar-height;
    width: 100%;
    z-index: 20;
  }

  .aside-container {
    position: fixed;
    top: $catenon-navbar-height;
    bottom: 0;
    left: 0;
    width: $catenon-aside-width;
    margin: 0;
    padding: 0;
    transition: left 0.2s;
    opacity: 0.99;
    z-index: 10;
  }

  .main-container {
    position: fixed;
    top: $catenon-navbar-height;
    bottom: 0;
    left: $catenon-aside-width;
    right: 0;
    z-index: 0;
    transition: left 0.2s;

    .view-container {
      position: relative;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  &.sidebar-mini {
    .aside-container {
      transition: width 0.2s;
      width: $catenon-aside-width-mini;
      .cw-link-container {
        span {
          display: none;
        }
      }
      &.collapse-sidebar {
        width: $catenon-aside-width;
        .cw-link-container {
          span {
            display: inline-block;
          }
        }
      }
    }
    .main-container {
      left: $catenon-aside-width-mini;
    }
  }

  // @include media-breakpoint-between(xs, xl) {
  // }

  @include media-breakpoint-down(md) {
    .aside-container {
      transition: width none;
      left: -$catenon-aside-width;
      .sidebar-mini-toggle {
        display: none;
      }

      &.collapse-sidebar {
        left: 0;
      }
    }

    .main-container {
      left: 0;
    }

    &.sidebar-mini {
      .main-container {
        left: 0;
      }
    }
  }
}

.modal-content {
  border-radius: 10px;
  margin-bottom: 500px;
  .btn-secondary {
    background-color: transparent;
    color: $catenon-blue;
  }
}
