/* global
-------------------------------------------------- */
p {
  white-space: pre-wrap;
}

/* scrollbars
-------------------------------------------------- */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: $gray-600;
}

/* browsehappy
-------------------------------------------------- */
.browsehappy {
  margin: 0.2rem 0;
  background: $white;
  color: $gray-900;
  padding: 0.2rem 0;
}

body {
  overflow-y: hidden;
}

/* Feedback button
-------------------------------------------------- */

#feedback-button {
  z-index: 30;
  position: absolute;
  bottom: 100px;
  left: -60px;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  overflow: visible;
  white-space: nowrap;
  border-radius: 10px 10px 0 0;
  background-color: $catenon-primary;
  border-color: $catenon-gray;
  color: $white;
  @include media-breakpoint-down(md) {
   display: none;
  }
}

/* Icons
-------------------------------------------------- */
.oi, .gi {

  &.icon-xs {
    font-size: 0.5rem;
  }

  &.icon-sm {
    font-size: 0.75rem;
  }

  &.icon-md {
    font-size: 1.25rem;
  }

  &.icon-lg {
    font-size: 1.5rem;
  }

  &.icon-xl {
    font-size: 2rem;
  }
}

.dropdown-item {
  .oi {
    margin-right: 0.5rem;
  }
}

.uil {
  // font-size: 1rem;

  &.icon-xs {
    font-size: 0.5rem;
  }

  &.icon-sm {
    font-size: 0.75rem;
  }

  &.icon-md {
    font-size: 1.25rem;
  }

  &.icon-lg {
    font-size: 1.5rem;
  }

  &.icon-xl {
    font-size: 2rem;
  }
}

.dropdown-item {
  .uil {
    margin-right: 0.5rem;
  }
}

/* Font size
-------------------------------------------------- */
p {
  font-size: $font-size-sm;
}

/* Text style
-------------------------------------------------- */

.text-italic {
  font-style: italic;
}

/* Border Radius
-------------------------------------------------- */


// .input-group-sm>.form-control,
// .input-group-sm>.custom-select,
// .input-group-sm>.input-group-prepend>.input-group-text,
// .input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-append>.btn {
  @include border-radius(1rem);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


/* Tabs
-------------------------------------------------- */

.tabs {
  .nav-tabs {
    background-color: $white;
    // border-bottom: 15px solid $white;

    .nav-item {
      .nav-link {
        color: $gray-600;
        // font-size: $font-size-medium;
        text-transform: uppercase;
        border: none;

        &:hover {
          background-color: $gray-200;
          border-bottom: 5px solid $gray-500;
        }

        &.active {
          color: $secondary;
          border-bottom: 5px solid $primary;
        }
      }
    }
  }

  .tab-content {
    // background-color: $white;
  }
}

/* Labels 
-------------------------------------------------- */

label {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
}

/* Legends 
-------------------------------------------------- */

legend {
  font-size: 15px;
  font-weight: 600;
  color: $gray-dark;
  text-transform: uppercase;
}

/* Formularies 
-------------------------------------------------- */

.form-wrapper {
  background: $catenon-editable-bg;
  margin: 0 -.5rem;
  padding: .5rem;
  .mr-1 {
    background: $catenon-white;
    color: $catenon-primary;
  
    &:hover {
      color: $catenon-primary;
      background: $light-gray;
    }
  }
  
}


.was-validated .form-control:valid, .form-control.is-valid, .was-validated .custom-select:valid, .custom-select.is-valid {
  border-color: $gray-300;
  background-image: none;
}

/* Avatar Images 
/* Esto tambien se utiliza para pintar los results
-------------------------------------------------- */


.avatar-image-sm {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.avatar-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.avatar-image-md {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.avatar-image-lg {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.avatar-image-xl {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}


/* Checkbox Switch 
-------------------------------------------------- */

.custom-switch {
  .custom-control-input:checked~.custom-control-label {
    &:before {
      // border-color: $secondary;
      background-color: $primary;
    }

    &:after {
      background-color: $white;
    }
  }
}