@keyframes pulse {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

.placeloader {
  margin: 1rem;

  .circle,
  .line,
  .rect {
    background: $gray-500;
    -webkit-animation: pulse 1s infinite alternate;
    animation: pulse 1s infinite alternate;
  }
  .circle {
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: 80px;
  }
  .line-wrapper {
    // display: inline-block;
    // vertical-align: middle;
    margin-left: 1rem;
  }
  .line {
    width: 100px;
    height: 10px;
    margin: 10px 0;
    color: $gray-400;
  }

  .width-full {
    width: 100%;
  }

  .width-full80 {
    width: 80%;
  }

  .width-full50 {
    width: 50%;
  }

  .width-full25 {
    width: 25%;
  }

  .width500 {
    width: 500px;
  }
  .width450 {
    width: 450px;
  }
  .width300 {
    width: 300px;
  }

  .width200 {
    width: 200px;
  }

  .height15 {
    height: 15px;
  }

  .height20 {
    height: 20px;
  }

  .height30 {
    height: 30px;
  }

  .size120 {
    width: 120px;
    height: 120px;
  }

  .size160 {
    width: 160px;
    height: 160px;
  }

  .inline {
    display: inline-block;
    margin-right: 1rem;
  }
}
