@mixin b-toast-variant($background) {
  .toast {
    background-color: rgba(lighten($background, 85%), 0.5);
    border-color: $background; // rgba($border, $b-toast-background-opacity);
    color: white;

    .toast-header {
      color: inherit;
      background: inherit;
      border-bottom-color: inherit;
      padding-bottom: 0;
      .close {
        color: $white;
      }
    }

    .toast-body {
      padding-top: 0;
    }
  }

  &.b-toast-solid {
    .toast {
      background-color: $background; // rgba(lighten($background, 5%), 1);
    }
  }
}

// Toast variants
@each $color, $value in $theme-colors {
  .b-toast-#{$color} {
    @include b-toast-variant(theme-color-level($color, 0));
  }
}
