// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index";

// Iconos
@import "css/open-iconic-bootstrap";
@import "css/glyphicons.scss";

// Estilos comunes
@import "catenon_common";
@import "catenon_layout";
@import "catenon_loader";
@import "catenon_toaster";

/***************************************
Personalizar el tema de Catenon
***************************************/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial,  sans-serif;

//   // font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
//   font-family: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif; // *
