<script>
import bi from 'bootstrap-icons'

export default {
  name: 'CwBi',

  props: {
    animation: {
      type: String,
      default: undefined
    },

    animationSpeed: {
      type: String,
      default: undefined
    },

    fill: {
      type: String,
      default: 'none'
    },

    size: {
      type: [Number, String],
      default: '24'
    },

    stroke: {
      type: String,
      default: 'currentColor'
    },

    strokeLinecap: {
      type: String,
      default: 'round'
    },

    strokeLinejoin: {
      type: String,
      default: 'round'
    },

    strokeWidth: {
      type: [Number, String],
      default: 2
    },

    tag: {
      type: String,
      default: 'span'
    },

    name: {
      type: String,
      required: true,
      validator (name) {
        if (!bi.icons[name]) {
          throw new Error(`"${name}" is not an available icon name.`)
        }
        return true
      }
    }
  },

  render (createElement) {
    const {
      animation,
      animationSpeed,
      size,
      name
    } = this
    const icon = bi.icons[name]

    return createElement(
      this.tag,

      {
        attrs: {
          'data-name': name,
          'data-tags': icon ? icon.tags : '',
          'data-type': name
        },

        class: {
          feather: true,
          [`feather--${name}`]: name,
          [`feather--${animation}`]: animation,
          [`feather--${animationSpeed}`]: animationSpeed
        },

        on: this.$listeners
      },

      [
        icon ? createElement(
          'svg',
          {
            attrs: {
              ...icon.attrs,
              fill: this.fill,
              height: size,
              stroke: this.stroke,
              'stroke-linecap': this.strokeLinecap,
              'stroke-linejoin': this.strokeLinejoin,
              'stroke-width': this.strokeWidth,
              width: size
            },

            class: [icon.attrs.class, 'feather__content'],

            domProps: {
              innerHTML: icon.contents
            }
          }
        ) : ''
      ]
    )
  }
}
</script>

<style lang="scss" scoped>
@keyframes feather--spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.feather {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;

  &--spin {
    animation: feather--spin 2s linear infinite;
  }

  &--pulse {
    animation: feather--spin 2s infinite steps(8);
  }

  &--slow {
    animation-duration: 3s;
  }

  &--fast {
    animation-duration: 1s;
  }

  &__content {
    display: block;
    height: inherit;
    width: inherit;
  }
}
</style>
