<template lang="pug">
  .error-page-container
    .container-fluid
      .jumbotron.text-center.mar-top
        h1
          i.fa.fa-frown-o.text-danger
          |  500 Error Page
        p.lead
          | We couldn't find what you're looking for.
        p.pad-top
          a.btn.btn-primary.btn-lg(href="/")
            span.green Go to homepage
    .container-fluid
      .row
        .col-md-12
          h4 What happened?
          p.lead A 404 error status implies that the file or page that you're looking for could not be found.
          //- p.lead(ng-if="!notFoundReason")
          //-   | A 404 error status implies that the file or page that you're looking for could not be found.
          //- p.lead(ng-if="notFoundReason")
          //-   | {{notFoundReason}}
      hr
      //- img.pull-rigth(src="../../assets/images/catenon.png" alt="Catenon")
</template>
