<template lang="pug">
  .field-date-container.form-inline
    .labels
      .list-inline
        .input-group-btn
          b-dropdown(variant="link" right v-model="isDropdownOpen")
            template(#button-content)
              button.btn.btn-sm(type="button")
                i.gi.gi-filter
            b-dropdown-item(
              v-for="criteria in criterias"
              :key="criteria.value"
              @click="onChangeCriteria(criteria)"
            ) 
              span {{ criteria.label }}
    
      div.text-italic {{ criteria.label }}:&nbsp;
      div.text-italic.text-thin.text-muted(v-if="!queryStart && !values.length") {{ $t('search.ADD_DATE') }}
      
    .input-group
      br
      input.form-control.input-sm(
        type="date"
        v-model="queryStart"
        :placeholder="startPlaceholder"
        @change="onChangeValue('start')"
      )
      
      template(v-if="criteria.value === 'BETWEEN'")
        span.mx-2 —
        input.form-control.input-sm(
          type="date"
          v-model="queryEnd"
          :placeholder="$t('search.END_DATE')"
          @change="onChangeValue('end')"
        )
</template>

<script>
import dayjs from 'dayjs'

export default {
  props: {
    field: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      queryStart: null,
      queryEnd: null,
      values: [],
      criterias: [
        { value: 'ON', label: 'On' },
        { value: 'BEFORE', label: 'Before' },
        { value: 'AFTER', label: 'After' },
        { value: 'BETWEEN', label: 'Between' }
      ],
      criteria: { value: 'ON', label: 'On' },
      isDropdownOpen: false,
      startPlaceholder: this.$t('search.START_DATE'),
      formError: null
    }
  },
  watch: {
    selected (newVal) {
      if (!newVal) {
        this.values = []
        this.criteria = this.criterias[0]
        this.queryStart = null
        this.queryEnd = null
      }
    }
  },
  methods: {
    formattedValue(date) {
      return dayjs(date).format('DD/MM/YYYY')
    },

    loadSavedFilters(filter) {
      this.criteria = this.criterias.find(c => c.value === filter.criteria.value) || this.criterias[0]
      this.values = [...filter.values]

      if (filter.values.length > 0) this.queryStart = filter.values[0]
      if (filter.values.length > 1) this.queryEnd = filter.values[1]
    },

    onChangeCriteria(criteria) {
      this.criteria = criteria
      this.values = []
      this.queryStart = null
      this.queryEnd = null
      this.startPlaceholder = criteria.value === 'BETWEEN'
        ? this.$t('search.START_DATE')
        : this.$t('search.SELECT_DATE')
      this.updateFilter()
    },

    validateDates() {
      if (this.criteria.value === 'BETWEEN') {
        if (!this.queryStart || !this.queryEnd) {
          this.formError = this.$t('search.DATE_RANGE_REQUIRED')
          return false
        }
        if (dayjs(this.queryStart).isAfter(dayjs(this.queryEnd))) {
          this.formError = this.$t('search.INVALID_DATE_RANGE')
          return false
        }
      }
      this.formError = null
      return true
    },

    onChangeValue(type) {
      if (!this.validateDates()) return

      this.values = this.criteria.value === 'BETWEEN'
        ? [this.queryStart, this.queryEnd]
        : [this.queryStart]

      this.updateFilter()
    },

    updateFilter() {
      if (!this.values.every(v => v)) return

      this.$emit('add-filter', {
        criteria: this.criteria,
        label: this.values.join(' - '),
        values: this.values.map(date => dayjs(date).format('YYYY-MM-DD'))
      })
    },

    onRemoveValue(index) {
      this.values.splice(index, 1)
      this.updateFilter()
    }
  },
  created () {
    this.criteria = this.criterias[0]
    if (this.selected) {
      const filtersKey = `advancedSelectedFilters_${this.$parent.$parent.type}`;
      const filters = this.$root[filtersKey] || {};
      const filter = filters[this.field.name] || null;
      if (filter) {
        this.loadSavedFilters(filter)
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.field-date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;

  .labels {
    display: flex;
    align-items: center;

    .input-group-btn {
      margin-right: 5px;

      i {
        margin-right: 5px;
      }
    }
  }
}

.form-control {
  width: 100% !important;
  height: 30px;
  font-size: 12px;
}
</style>