<template lang="pug">
b-col.cw-input-label-container(:cols="cols" :sm="sm")
  b-form-group(:label="label" label-for="dummy" :class="{'is-inline': inline}" label-class="text-truncate" :label-cols="labelCols" :label-align="labelAlign")
    template(#label)
      b-icon(v-if="bicon" :icon="bicon" :class="iconClass")
      i.gi.icon-sm(v-if="icon" :class="iconClass")
      i.fa(v-if='faicon' :class='`fa-${faicon}`')
      span {{ label }}
    slot
    p(v-if="text") {{ text }}
    p(v-if="emptyText && !text")
      em.text-muted {{ emptyText }}
</template>

<script>
export default {
  props: {
    label: { type: String, default: null },
    text: { type: String, default: null },
    icon: { type: String, default: null },
    bicon: { type: String, default: null },
    faicon: { type: String, default: null },
    cols: { type: String, default: '12' },
    emptyText: { type: String, default: '-' },
    size: { type: String, default: null },
    // sm: String
    sm: { type: String, default: null },
    inline: { type: Boolean, default: false },
    labelCols: { type: String, default: null },
    labelAlign: { type: String, default: null }
  },
  computed: {
    iconClass () {
      return `gi-${this.icon}`
    }
  }
}
</script>

<style lang="scss">
.cw-input-label-container {
  .form-group {
    label {
      margin-bottom: 0;
      .gi,
      .fa {
        margin-right: 0.25rem;
      }
    }
    &.is-inline {
      display: flex;
      flex-wrap: wrap;
      label {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}
</style>
