<template lang="pug">
  b-col.cw-input-form-container(:cols="cols" :sm="sm")
    b-form-group(:label="label" :label-for="id || name || 'dummy'")
      template(#label)
        .input-label
          i.oi.icon-sm(v-if="icon" :class="iconClass")
          span {{ label }}
      slot(v-if="!$slots.prepend && !$slots.append")
      b-input-group(v-if="$slots.prepend")
        slot(name="prepend")
      b-input-group(v-if="$slots.append")
        slot(name="append")
      //- b-form-invalid-feedback(:state="showErrors")
      //-   span 1
      //-   span(v-show="isRequired") {{ $t('message.IS_REQUIRED') }}
      //-   span(v-show="isInvalidEmail") {{ $t('message.INVALID_EMAIL') }}
      .invalid-feedback(v-if="validate.$anyError")
        span(v-if="isRequired") {{ $t('message.IS_REQUIRED') }}
        span(v-if="isInvalidEmail") {{ $t('message.INVALID_EMAIL') }}
        //- span(v-if="showError('required')") {{ $t('message.IS_REQUIRED') }}
        //- span(v-if="showError('email')") {{ $t('message.INVALID_EMAIL') }}
        span(v-if="isInvalidDate") {{ $t('message.INVALID_DATE') }}
        span(v-if="isDateAfter") {{ $t('message.INVALID_DATE_AFTER') }}
        span(v-if="isDateBefore") {{ $t('message.INVALID_DATE_BEFORE') }}
        //- span(ng-message="url") {{ $t('message.INVALID_URL') }}
        //- span(ng-message="number") {{ $t('message.INVALID_NUMBER') }}
        //- span(ng-message="min") {{ $t('message.INVALID_MIN') }}
        //- span(ng-message="max") {{ $t('message.INVALID_MAX') }}
        //- span(ng-message="maxlength") {{ $t('message.INVALID_MAX_LENGTH') }}
        //- span(ng-message="minlength") {{ $t('message.INVALID_MIN_LENGTH') }}
        //- span(ng-message="pattern") {{ $t('message.INVALID_PATTERN') }}
        //- span(ng-message="time") {{ $t('message.INVALID_TIME') }}
        //- span(ng-message="datetimelocal") {{ $t('message.INVALID_DATE_TIME_LOCAL') }}
        //- span(ng-message="week") {{ $t('message.INVALID_WEEK') }}
        //- span(ng-message="month") {{ $t('message.INVALID_MONTH') }}

    //- b-form-group(:label="$t('publicProfile.summary.NAME') + '*'" label-for="name"
    //-   :invalid-feedback="veeErrors.first('name')" :state="!veeErrors.has('name')")
    //-   b-form-input(id="name" name="name" v-model="newPublicProfile.name" v-validate="'required'" :state="!veeErrors.has('name')")

</template>

<script>
import { isUndefined } from 'lodash'

export default {
  // props: ['name', 'label', 'text', 'icon', 'cols', 'emptyText', 'size', 'sm', 'invalid', 'validate'],
  props: {
    label: { type: String, default: null },
    id: { type: String, default: null },
    sm: { type: String, default: null },
    emptyText: { type: String, default: null },
    icon: { type: String, default: null },
    name: { type: String, default: null },
    text: { type: String, default: null },
    size: { type: String, default: null },
    cols: { type: String, default: '12' },
    validate: { type: Object, default: _ => ({}) }
  },
  computed: {
    iconClass () {
      return `oi-${this.icon}`
    },
    showErrors () {
      // console.log(this.validate)
      return this.validate.$error
    },
    isRequired () {
      return !isUndefined(this.validate['required']) && !this.validate.required
    },
    isInvalidEmail () {
      return !isUndefined(this.validate['email']) && !this.validate.email
    },
    isInvalidDate () {
      return !isUndefined(this.validate['isDate']) && !this.validate.isDate
    },
    isDateBefore () {
      return !isUndefined(this.validate['isBefore']) && !this.validate.isBefore
    },
    isDateAfter () {
      return !isUndefined(this.validate['isAfter']) && !this.validate.isAfter
    }
  },
  watch: {
    validate: function (value) {
      // console.log(value)
    }
  },
  methods: {
    showError (rule) {
      // console.log(this.name, rule, this.validate.$dirty, this.validate.required)
      // if (this.validate && this.validate.$params[rule]) {
      //   console.log(rule, this.validate.$params[rule])
      //   return !this.validate[rule]
      // }
      return true
    }
  }
}
</script>

<style lang="scss">
.cw-input-form-container {
  .input-label {
    white-space: nowrap;
    .oi {
      margin-right: 0.25rem;
    }
  }
  .input-group {
    .input-group-text {
      .oi {
        font-size: $font-size-base;
        top: 0;
        margin: 0;
      }
    }
  }
  .invalid-feedback {
    display: block;
    span {
      display: block;
    }
  }
}
</style>
