<template lang="pug">
  #app.app-container(:class="{'sidebar-mini': isSidebarMini}")
    header.header-container(v-if="isAutehticated")
      cw-navbar(:apps="['user','operation']")
        cw-quicksearch(refer="quicksearchUsers" route="browse")
    aside.aside-container(v-if="isAutehticated" :class="{'collapse-sidebar': isSidebarOpened}")
      cw-sidebar()
        template(#info)
          .title {{ $t('app.NAME') }}
          .subtitle {{ $t('app.TITLE') }}
          .text {{ $t('app.DESCRIPTION') }}
        template(#menu)
          //- .sidebar-menu-title(v-if="!isSidebarMini") Menu
        cw-link(to="/dashboard" label="Dashboard" icon="house")
        cw-link(to="/inputs" label="Inputs" icon="cursor-text")
        cw-link(to="/icons" label="Icons" icon="images")
        cw-link(to="/panels" label="Panels" icon="card-heading")
        cw-link(to="/helpers" label="Helpers" icon="info-circle")
        cw-link(to="/browse" label="Browse" icon="card-list")
        cw-link(to="/components" label="Components" icon="columns-gap")
        cw-link(to="/publicProfile/31858" label="Public Profile" icon="person")
        cw-link(to="/loaders" label="Loaders" icon="arrow-clockwise")
        cw-link(to="/notfound" label="Not Found" icon="exclamation-diamond")
        cw-link(to="/forbidden" label="Forbidden" icon="exclamation-octagon")
        cw-link(to="/errorpage" label="Error Page" icon="x-octagon")
        p(v-if="!isSidebarMini")
          | Para el menú usaremos "router-link" segun la documentación oficial (
          a(href="https://router.vuejs.org/guide/") ver documentación
          | )
    main.main-container
      .view-container
        router-view
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

import { Master } from 'catenonLib/resources'

export default {
  data () {
    return {
      sidebar: {
        MENU: 'Menu'
      }
    }
  },
  computed: {
    ...mapGetters({
      isAutehticated: 'auth/isAuthenticated',
      isSidebarOpened: 'ui/isSidebarOpened',
      isSidebarMini: 'ui/isSidebarMini'
    }),
    isBrowse () {
      return this.$route.name === 'browse'
    }
  },
  mounted () {
    // this.enableSidebarMini()
    Master.getCountries()
      .then(results => {
        if (results.data && results.data._embedded.countries) {
          const countries = results.data._embedded.countries.map(country => {
            return {
              id: country.id,
              isoCode: country.isoCode,
              name: country.name,
              link: country._links.self.href
            }
          })
          localStorage.setItem('countries', JSON.stringify(countries))
        }
      })

    // TODO: sacar esto de aqui
    Master.getLanguages()
      .then(results => {
        if (results.data && results.data._embedded.languages) {
          const langs = results.data._embedded.languages.map(lang => {
            return {
              id: lang.id,
              keyCode: lang.keyCode,
              name: lang.name,
              link: lang._links.self.href
            }
          })
          localStorage.setItem('languages', JSON.stringify(langs))
        }
      })

    Master.getLanguageSkillLevels()
      .then(results => {
        if (results.data && results.data._embedded.languageSkillLevels) {
          const langsSkillLevels = results.data._embedded.languageSkillLevels.map(
            skill => {
              return {
                id: skill.id,
                keyCode: skill.keyCode,
                name: skill.name,
                link: skill._links.self.href
              }
            }
          )
          localStorage.setItem(
            'languageSkillLevels',
            JSON.stringify(langsSkillLevels)
          )
        }
      })
  },
  methods: {
    ...mapMutations({
      enableSidebarMini: 'ui/ENABLE_SIDEBAR_MINI'
    })
  }
}
</script>
<style lang="scss">
// #app.app-container {
// }
</style>
