<template lang="pug">
  .field-string-container.form-inline
    .labels
      .list-inline
        .input-group-btn
          b-dropdown(id="dropdown-menu" variant="link" right)
            template(#button-content)
              button.btn.btn-sm(type="button")
                i.gi.gi-filter
            b-dropdown-item(
              v-for="criteria in criterias"
              :key="criteria.value"
              @click="onChangeCriteria(criteria)"
            )
              span {{ criteria.label }}

      span.text-italic {{ criteria.label }}:&nbsp;
      span.text-italic.text-thin.text-muted(v-if="!query && !values.length") {{ $t('search.ADD_MULTIPLE_VALUES') }}
      span.text-thin(v-if="query") {{ query }}&nbsp;
      cw-tag(v-if="!$parent.$parent.isHorizontal" v-for="(value, index) in values" :key="value" :text="value" removable @remove="onRemoveValue(value)")

    .input-group
      input.form-control.input-sm(type="text", :id="'field-input-' + field.name", v-model="query", :placeholder="$t('search.TYPE_HERE')", @keydown="onKeyEnter")
      .input-group-btn
        .btn-group
          button.btn.btn-add(type="button" @click="onKeyEnter")
            i.gi.gi-plus
    template(v-if="$parent.$parent.isHorizontal")
      .horizontal-tags
        cw-tag(v-for="(value, index) in values" :key="value" :text="value" removable @remove="onRemoveValue(value)")
</template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      required: true
    }
  },
  data () {
    return {
      query: '',
      values: [],
      criterias: [
        { value: 'IS', label: 'Is' },
        { value: 'IS_NOT', label: 'Is not' },
        { value: 'CONTAINS', label: 'Contains' }
      ],
      criteria: { value: 'CONTAINS', label: 'Contains' },
      isOpen: false
    }
  },
  watch: {
    selected (newVal) {
      if (!newVal) {
        this.values = []
        this.criteria = this.criterias[0]
      }
    }
  },
  methods: {
    toggleDropdown () {
      this.isOpen = !this.isOpen
    },
    onChangeCriteria (criteria) {
      const currentQuery = this.query
      this.criteria = criteria
      this._createFilter(this.criteria, this.values)
      this.query = currentQuery
    },
    onKeyEnter (event) {
      if ((event.keyCode === 13 || event.type === 'click') && this.query) {
        if (!this.values.includes(this.query)) {
          const newValues = [...this.values, this.query]
          this.$root.$set(this, 'values', newValues)

          this._createFilter(this.criteria, newValues)
          this.query = ''
        }
      }
    },
    onRemoveValue (value) {
      const index = this.values.indexOf(value)
      if (index !== -1) {
        this.values.splice(index, 1)
      }
      if (this.values.length === 0) {
        if (this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`] && this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`][this.field.name]) {
          this.$delete(this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`], this.field.name);
        }
      }
      this._createFilter(this.criteria, this.values)
    },
    _createFilter (criteria, values) {
      this.$emit('add-filter', {
        criteria,
        label: values.join(', '),
        values
      })
    }
  },
  created () {
    if (this.selected) {
      const filtersKey = `advancedSelectedFilters_${this.$parent.$parent.type}`;
      const filters = this.$root[filtersKey] || {};
      const filter = filters[this.field.name] || null;
      if (filter) {
        this.values = filter.values
        this.criteria = this.criterias.find(c => c.value === filter.criteria.value) || this.criteria
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.field-string-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .labels {
    display: flex;
    align-items: center;

    .input-group-btn {
      margin-right: 5px;
      font-size: 14px;

      i {
        margin-right: 5px;
      }
    }
  }

  .input-group {
    .form-control,
    .btn-add {
      height: 30px !important;
      font-size: 12px;
    }
  }

  .horizontal-tags {
    margin-top: 0.25rem;
    display: grid;
    gap: 0.25rem;
  }
}
</style>
