<template lang="pug">
  .cw-search-advanced-filter-field-container
    .checkbox
      input(type="checkbox" v-model="isSelected" @change="onCheckboxChange" :id="'field-' + field.name")
      span.ellipsed-container(:for="'field-' + field.name")
        span.ellipsed {{ $t('search.filters.' + field.name) }}
    .field-container(v-show="isSelected")
      component(:is="getFieldComponent(field.type)", :field="field", :selected="isSelected", @add-filter="onAddFilter", @selectedChanged="handleSelectionChange")
</template>

<script>
import DateFilter from './date/DateFilter.vue';
import MultipleFilter from './multiple/MultipleFilter.vue';
import NumberFilter from './number/NumberFilter.vue';
import BooleanFilter from './boolean/BooleanFilter.vue';
import RangeFilter from './range/RangeFilter.vue';
import StringFilter from './string/StringFilter.vue';
import IdFilter from './id/IdFilter.vue';

export default {
  name: 'AdvancedFieldFilters',
  props: {
    field: {
      type: Object,
      required: true
    },
  },
  data() {
    return {
      isSelected: false,
    };
  },
  watch: {
    isSelected(newValue) {
      if (newValue) {
        this.onAddFilter({
          criteria: this.field.criteria || { value: '', label: '' },
          label: '',
          values: this.field.type === 'multiple' ? [] : ([] || []),
        });
      } else {
        this.removeFilter();
      }
    },
  },
  created() {
    if (this.$root[`advancedSelectedFilters_${this.$parent.type}`] && this.$root[`advancedSelectedFilters_${this.$parent.type}`][this.field.name]) {
      this.isSelected = true;
    }

    this.$root.$on('searchAdvancedFilters:clearAllChecks', () => {
      this.isSelected = false
    })
  
    this.$root.$on('searchAdvancedFilters:removeCheck', (filterKey) => {
      if (filterKey === this.field.name) {
        this.isSelected = false
      }
    })
  },
  methods: {
    getFieldComponent(type) {
      const componentMap = {
        string: StringFilter,
        multiple: MultipleFilter,
        date: DateFilter,
        range: RangeFilter,
        number: NumberFilter,
        bool: BooleanFilter,
        id: IdFilter
      };
      return componentMap[type] || null;
    },
    handleSelectionChange(newValue) {
      this.isSelected = newValue;
      this.$emit('update:selected', newValue);
    },
    onCheckboxChange() {
      if (this.$root[`advancedSelectedFilters_${this.$parent.type}`] && this.$root[`advancedSelectedFilters_${this.$parent.type}`][this.field.name]) {
        this.$delete(this.$root[`advancedSelectedFilters_${this.$parent.type}`], this.field.name);
      }
      this.$emit('update:selected', this.isSelected);
    },
    onAddFilter({ criteria, label, values }) {
      if (values.length === 0) {
        this.removeFilter();
        return;
      }
      
      const newValues = [...values];
      
      this.$set(this.$parent.selectedFilters, this.field.name, {
        field: this.field.field,
        criteria,
        label,
        values: newValues
      });
      
      this.$parent.hasSelectedFilters = Object.keys(this.$parent.selectedFilters).length > 0;
    },
    removeFilter() {
      this.$delete(this.$parent.selectedFilters, this.field.name)
      this.$parent.hasSelectedFilters = Object.keys(this.$parent.selectedFilters).length > 0;
    },
  },
  destroyed() {
    this.$root.$off('searchAdvancedFilters:onClearAllFilters');
    this.$root.$off('searchAdvancedFilters:onRemoveFilter');
    this.$root.$off('searchAdvancedFilters:clearAllChecks');
    this.$root.$off('searchAdvancedFilters:removeCheck');
  },
};
</script>

<style lang="scss">
.cw-search-advanced-filter-field-container {
  .checkbox {
    margin: 2px 0 4px;

    input[type="checkbox"] {
      margin-right: 8px;
    }

    label.ellipsed-container {
      cursor: pointer;

      .ellipsed {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .btn-group {
    .btn {
      border: 1px solid #ccc;
      border-radius: 0;
      display: flex;
      align-items: center;
      height: calc(1.5em + 0.75rem + 2px);

      .bi {
        margin-right: 5px;
      }
    }

    .btn:first-child {
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }

    .btn-add,
    .btn-sm {
      border-left: none;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: #F0F0F0;
      height: calc(1.5em + 0.75rem + 2px);
      .bi {
        margin-right: 0;
      }
    }

    .dropdown-menu {
      right: auto;
    }
  }

  .form-inline {
    margin-bottom: 10px;
  }

  .list-inline {
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .input-group-btn {
      width: auto;

      .btn {
        height: auto;
        border: none;
        background-color: transparent;
        padding: 5px 0px 5px 0;

        .caret {
          margin-right: 5px;
        }
      }
    }

    .cw-tag {
      font-size: 100%;
      padding: 0 8px 0 2px;
      color: #212529;
      background-color: white;

      a {
        padding-left: 2px;
      }
    }

    .text-thin {
      font-weight: lighter;
    }
  }
}
</style>
