<template lang="pug">
  .field-multiple-container.form-inline
    .labels
      .list-inline
        span.text-italic(v-if="criteria") {{ criteria.label }}:&nbsp;
        span.text-italic.text-thin.text-muted(v-if="!query && !values.length") {{ $t('search.ADD_MULTIPLE_VALUES') }}
        cw-tag(
          v-for="(value, index) in values"
          :key="value.keyCode"
          :text="value.name"
          color="text"
          removable
          @remove="onRemoveValue(value)"
        )
  
    .input-group
      b-dropdown(
        ref="dropdown"
        variant="light"
        toggle-class="form-control input-sm"
        :class="{ 'dropdown-wide': $parent.$parent.isHorizontal }"
        no-caret
        @shown="focusSearchInput"
      )
        template(#button-content)
          .d-flex.justify-content-between.w-100
            span.ellipsis.text-thin.text-muted.text-left {{ selectedLabel || $t('search.TYPE_HERE') }}
            i.gi.gi-triangle-bottom.ml-auto

  
        b-dropdown-form
          input.form-control(
            ref="searchInput"
            type="text"
            v-model="searchTerm"
            :placeholder="$t('search.TYPE_TO_SEARCH')"
            @keyup.enter="onEnterKey"
          )
        
        b-dropdown-divider
  
        b-dropdown-item(
          v-for="item in filteredValues"
          :key="item.keyCode"
          @click="onSelectValue(item)"
        )
          span {{ item.name }}
        
        b-dropdown-item(v-if="!filteredValues.length" disabled)
          span {{ $t('search.NO_RESULTS') }}
  </template>

<script>
export default {
  props: {
    field: {
      type: Object,
      required: true,
      default: () => ({ values: [] })
    },
    selected: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      criteria: { value: 'IS_KEYCODE', label: 'Is' },
      query: null,
      searchTerm: '',
      values: [],
      stageSelectedFromComponent: false
    }
  },
  computed: {
    filteredValues() {
      return this.field.values.filter(item =>
        item.name.toLowerCase().includes(this.searchTerm.toLowerCase())
      )
    },
    selectedLabel() {
      return this.values.map(v => v.name).join(', ')
    }
  },
  watch: {
    selected: {
      immediate: true,
      handler(newVal) {
        if (!newVal) {
          this.values = [];
        }
      }
    }
  },
  destroyed() {
    this.$root.$off('searchAdvancedFilters:updateStage', this.handleStageUpdate)
  },
  methods: {
    focusSearchInput() {
      this.$nextTick(() => {
        this.$refs.searchInput?.focus();
      });
    },
    loadSavedFilters(filter) {
      this.values = filter.values.map(valueKey =>
        this.field.values.find(item => item.keyCode === valueKey)
      ).filter(item => !!item)
      this.updateFilter()
    },

    onSelectValue(item) {
      if (!this.values.some(v => v.keyCode === item.keyCode)) {
        this.$set(this.values, this.values.length, item)
        this.updateFilter()
      }
      this.searchTerm = ''
      this.$refs.dropdown.hide()
    },

    onRemoveValue(value) {
      const index = this.values.indexOf(value)
      if (index !== -1) {
        this.values.splice(index, 1)
      }
      if (this.values.length === 0) {
        if (this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`] && this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`][this.field.name]) {
          this.$delete(this.$root[`advancedSelectedFilters_${this.$parent.$parent.type}`], this.field.name);
        }
      }
      this.updateFilter()
    },

    onEnterKey() {
      if (this.searchTerm && this.filteredValues.length) {
        this.onSelectValue(this.filteredValues[0])
      }
    },

    updateFilter() {
      const filterData = {
        criteria: this.criteria,
        label: this.values.map(v => v.name).join(', '),
        values: this.values.map(v => v.keyCode)
      };
      this.$emit('add-filter', filterData);
    },

    handleStageUpdate(data) {
      if (this.field.name === 'STAGE') {
        const stage = {
          keyCode: data.value,
          name: data.label
        }

        this.stageSelectedFromComponent = true
        this.values = [stage]
        this.$parent.isSelected = true
        //--this.updateFilter()
      }
    }
  },
  created () {
    if (this.selected) {
      const filtersKey = `advancedSelectedFilters_${this.$parent.$parent.type}`;
      const filters = this.$root[filtersKey] || {};
      const filter = filters[this.field.name] || null;
      if (filter) {
        this.loadSavedFilters(filter)
      } else {
        this.values = [];
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.field-multiple-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  .input-group {
    position: relative;
    width: 80%;

    ::v-deep(.dropdown-toggle) {
      height: 30px !important;
      display: flex;
      align-items: center;
      padding: 0 10px;
      font-size: 12px;
    }

    ::v-deep .dropdown-menu {
      width: 100%;
      max-height: 300px;
      overflow-y: auto;
      font-size: 14px;
    }

    .dropdown-wide ::v-deep .dropdown-menu{
      width: auto !important;
      max-width: 300% !important;
    }

    .ellipsis {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 200px;
    }

    .form-control {
      border: none;
      background: transparent;
    }
  }

  .list-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
  }
}
</style>